[2017-05-16 15:24] gemfarmer opened #2425 "Make a "Application no longer available" page"
## Expected Behavior
If I got to a job listing a few days after it was up, I don't expect to get a 404 page

## Actual Behavior
I get a 404 page

## In action
See https://18f.gsa.gov/join/product-manager/ or https://18f.gsa.gov/join/product-manager/apply/

## This is issue is done when:
- [x] Content for this page is drafted (assigned to @awfrancisco)
- [x] There is a page, maybe `/apply/expired`?

[2017-05-16 21:08] coreycaitlin opened #2431 "Clarify job titles and handoff from USAJobs"
The talent team is hearing quite a bit of confusion about our job postings because of the discrepancies in official titles/functional roles in different locations. I think we can fix this by changing the button text on the join page, as well as some other tweaks.

[2017-05-16 21:16] elainekamlley commented on #2431
@coreycaitlin makes sense. Greg is out this week and I can help with these updates. @hestherchang  What can we update on site?

[2017-05-16 21:48] coreycaitlin commented on #2431
@elainekamlley I spent a few minutes talking it through with @hestherchang and paired on a tiny change in #2432, but would love your review there! Also, should we pull master back into dev, just to keep it all on the same page?

[2017-05-17 23:03] coreycaitlin commented on #2203
@elainekamlley whoops! I closed this, but then spotted this asterisk situation!

![screen shot 2017-05-17 at 4 03 24 pm](https://cloud.githubusercontent.com/assets/1450354/26179758/6148a3a6-3b1a-11e7-85c1-52125459bfa3.png)

[2017-05-20 03:43] sqs opened #2434 "Broken link at https://18f.gsa.gov/join/position-description/acquisition/gs-15/"
## Expected Behavior

On https://18f.gsa.gov/join/position-description/acquisition/gs-15/ at the bottom under "Ready to apply?" when I click the "Read the GS-13 position description here" link, I expect it to take me to that page.

## Actual Behavior

HTTP 404 at the link's destination: https://18f.gsa.gov/join/position-description/gs-13/

## Location of bug

https://github.com/18F/18f.gsa.gov/blo

[2017-05-22 14:43] gboone commented on #2434
Thanks @sqs we'll make sure we try and catch this the next time we have a job posting. This position is taken down now, so we'll close this.

[2017-05-22 14:43] #2434 closed

[2017-05-25 16:17] commit-dkp opened #2439 "Public Salary Data"
## Expected Behavior
https://18f.gsa.gov/join/#government-pay-grades includes content that explains individual federal employee salaries are public data.

## Actual Behavior
https://18f.gsa.gov/join/#government-pay-grades does not include content that explains individual federal employee salaries are public data.

## Steps to reproduce the behavior
- [ ] Search 18f.gsa.gov for content about govern

[2017-05-25 16:22] coreycaitlin commented on #2439
Hi @commit-dkp — could you add a bit more about when we expect users to look for this? (For instance, did you hear about this from an applicant?) It can really help to have more context as we find the right spot for content and make sure the pathways to it are clear.

[2017-05-25 17:24] commit-dkp commented on #2439
Hi @coreycaitlin - I expect this kind of information is relevant for our users who are considering applying to join 18F; I knew this information before I applied, but I don't recall learning it from 18F, and https://www.buzzfeed.com/jsvine/sharing-hundreds-of-millions-of-federal-payroll-records prompted me to check if we explain this to potential applicants at all.

[2017-05-25 21:44] awfrancisco opened #2440 "Content: Project intro for Forest Service"
We need content for the project-tag landing page about our work with the Forest Service.

This is issue is done when:

- [ ] Content is drafted
- [ ] Content is reviewed and revised with outreach team
- [ ] Content is reviewed by @rrefoy
- [ ] Create a tag for forest service posts

[blog post on sharing](https://18f.gsa.gov/2017/03/15/one-agencys-investments-open-source-mean-others-benefit/)
[Draf

[2017-05-31 13:56] rrefoy commented on #2440
What are the next steps here? Don't mean to rush but I want to know if this is waiting on our team for things.

[2017-05-31 16:36] awfrancisco commented on #2440
@rrefoy Not waiting on your team. I'm prioritizing the blog posts since they'll be the linked content from this page and need to go through approvals. Once we've sent those for review, I'll send along some prompts for this page, you can write up some drafty answers, and I'll work on editing them into the project page format.

[2017-06-01 17:47] thecapacity opened #2444 "Need to Clarify Federalist is not equivalent to cloud.gov"
For this page: https://github.com/18F/18f.gsa.gov/blob/f128bd9e6030bbcb38899c35e7b2015c9a217e7f/_posts/2017-06-01-federalist-is-out-of-beta-and-open-for-business.md

## Expected Behavior

`In one package, built on a FedRAMP authorized platform, we provide a trusted solutions for hosting your site…`

## Actual Behavior

`Federalist allows you to simplify. In one package, we provide a trusted, FedRA

[2017-06-01 17:48] thecapacity commented on #2444
@wslack @awfrancisco @elainekamlley - suggestions on edits above

I don't have easy options to create a PR for it sorry.

[2017-06-01 17:59] awfrancisco commented on #2444
@wslack if you are 👍  up on that change, I can make the PR.

[2017-06-01 18:17] awfrancisco commented on #2444
can do

[2017-06-01 18:44] #2444 closed

[2017-06-12 18:22] minhaz opened #2448 "pages.18f.gov/API-All-the-X returns 302"
## Expected Behavior
View page at https://pages.18f.gov/API-All-the-X/

## Actual Behavior
return 302

## Steps to reproduce the behavior
- Browse to https://pages.18f.gov/API-All-the-X/

## This is issue is done when:
https://pages.18f.gov/API-All-the-X/ returns a page

[2017-06-13 14:21] gboone commented on #2448
@gbinal do you know the correct URL for this site?

[2017-06-14 12:52] toolness opened #2449 "The link to code-of-conduct.md in the CoC page 404's for the general public"
Unfortunately, the existing CoC link at the beginning of [`pages/code-of-conduct.md`](https://github.com/18F/18f.gsa.gov/blob/594fa532d2fdd26b4f4cebb9b060cf75ec5f0d36/pages/code-of-conduct.md) 404's for public contributors due to the fact that the 18F/code-of-conduct repository is currently private.

For more details on this issue, see:

  https://github.com/18F/code-of-conduct/issues/4

Until thi

[2017-06-23 17:52] awfrancisco commented on #2448
Fixed [here](https://github.com/18F/pages-redirects/issues/90)

[2017-06-23 17:52] #2448 closed

[2017-06-23 19:21] waldoj opened #2459 "Discovery research blog entry is missing information"
## Expected Behavior
An explanation of what a Christmas tree permit is, or how the AcqStack Forest Service team decided to work on those.

## Actual Behavior
Neither of these things are provided.

[2017-06-26 19:37] awfrancisco commented on #2269
https://18f.gsa.gov/what-we-deliver/micro-purchase-marketplace/

[2017-06-26 19:37] #2269 closed

[2017-06-26 19:37] awfrancisco commented on #2249
https://18f.gsa.gov/what-we-deliver/military-onesource/

[2017-06-26 19:37] #2249 closed

[2017-06-26 19:38] awfrancisco commented on #2330
https://18f.gsa.gov/what-we-deliver/us-web-design-standards/

[2017-06-26 19:38] #2330 closed

[2017-06-26 19:38] awfrancisco commented on #2203
https://18f.gsa.gov/what-we-deliver/new-ten/

[2017-06-26 19:38] #2203 closed

[2017-06-26 19:38] awfrancisco commented on #2188
https://18f.gsa.gov/what-we-deliver/dol-wage-and-hour/

[2017-06-26 19:38] #2188 closed

[2017-06-26 19:38] awfrancisco commented on #2068
https://18f.gsa.gov/what-we-deliver/cloud-gov/

[2017-06-26 19:38] #2068 closed

[2017-06-26 21:33] #2459 closed

[2017-06-27 18:04] rooneywp opened #2463 "Add DOI Job Posting to Join 18F"
TTS Talent is engaged with DOI on a recruitment project. In support of this project, we need to post the DOI job on our join page so that we can collect applications. This is billable work, so any hours spent on this issue should be recorded in Tock. **Tock Code: 465 - Talent / DOI ONRR / EITI FY17**

**Issue:** Need a way to post the DOI job on our join page.

**Tasks:**
- [ ] Add language to joi

[2017-06-27 18:08] rooneywp commented on #2463
@gboone Based on our previous discussion about how job postings should be handled, I thought we could use google docs and publish to the web. Unfortunately, publishing a doc to the web still requires GSA login to access.

![image](https://user-images.githubusercontent.com/13383307/27602757-bfe7e894-5b28-11e7-9f86-c1e87ff98e36.png)

We will need to figure out the workflow for job postings for this

[2017-06-28 14:58] elainekamlley commented on #2463
@rooneywp Greg is out on PTO till the 5th. What is the timeline and would you need support with this before then?

[2017-06-28 19:21] elainekamlley opened #2464 "Styleguide updates"
Now that we changed the design for the blog template we need to update the blog post template in the guide.

- [ ] Documentation should include gotchas when relevant. Make sure that we fully document all the components that someone needs to make something work
- [ ] Consider allowing accordions to both expand at the same time
- [ ] Accordions should go full width, but have constrained content
- [

[2017-06-28 19:21] elainekamlley commented on #2410
Closing and opening #2464 to pull out the remaining issues to fix.

[2017-06-28 19:21] #2410 closed

[2017-06-28 19:23] awfrancisco commented on #2394
On hold for launch of login

[2017-06-28 19:24] #2391 closed

[2017-06-28 19:27] elainekamlley commented on #2386
Checked those links and looks like they are good and do not return a 404. Closing.

[2017-06-28 19:27] #2386 closed

[2017-06-28 19:29] elainekamlley opened #2465 "Fix embeds"
* [ ] Embeds:
  * [x] There are a few oembeds that aren't working, but are not private. These should be investigated.
  * [x] Consider removing all instances where the deprecated `embed` filter is applied. _**we should probably just keep these in place**_
  * [x] Add more documentation details on how we deal with privacy settings, what we decide to embed/not to embed

[2017-06-28 19:29] awfrancisco commented on #2367
Closing this as we are readdressing the larger goals of the partnership playbook as part of the marketing materials work.

[2017-06-28 19:29] #2367 closed

[2017-06-28 19:31] elainekamlley commented on #2370
Pulled out the embeds issue and created a new one capturing that since it is not entirely related to the style guide #2465. Closing issue.

[2017-06-28 19:31] #2370 closed

[2017-06-28 19:32] #2351 closed

[2017-06-28 19:33] #2355 closed

[2017-06-28 19:34] #2343 closed

[2017-06-28 19:35] #2341 closed

[2017-06-28 19:36] elainekamlley commented on #2307
This has been completed

[2017-06-28 19:36] #2307 closed

[2017-06-28 19:37] elainekamlley commented on #2260
@wslack any update on this issue?

[2017-06-28 19:40] #2240 closed

[2017-06-28 19:42] elainekamlley commented on #2236
@gboone is this good to close?

[2017-06-28 19:42] #2161 closed

[2017-06-28 19:45] awfrancisco commented on #2022
@coreycaitlin what do you think about this one? Even if the US is still leaving EITI, would it still be good to go forward with highlighting this work?

[2017-06-28 19:46] elainekamlley commented on #1800
@gboone lets chat about this further. Can this be something you and I pair on?

[2017-06-28 19:52] coreycaitlin commented on #2022
Yes, it would be great to highlight this work! We might want to reframe slightly from our prior draft, though — let's revisit in July?

[2017-06-28 19:54] elainekamlley opened #2466 "Project cards and page updates"
## Project images:
- [ ] Follow up with visual design to see what they suggest
- [ ] Add images to the repo
- [ ] Add the set of images to `18f.gsa.gov/styleguide` with the include tags

## Project card content:
- [x] update summaries on each card
- [x] Collect quotes/testimonials for projects (Moved to issue #2599)
- [ ] Add content about how agencies changed to cards

## Featured projects:
- [x]

[2017-06-28 20:00] awfrancisco opened #2467 "Content audit of join pages"
Given that we're likely going to have some new job posts up soon, we should give the join content an audit.

## Possible issues to address in audit

- Content matches current application process
- Tone matches current outreach, value prop, and talent research
- Content helps talent reach goals for applicants

## This is issue is done when:
- [ ] Current content is audited
- [ ] New issues filed to

[2017-06-28 20:49] awfrancisco commented on #2022
sounds good

[2017-06-28 21:03] jeremyzilar commented on #2236
@elainekamlley If you could keep this open for the time being,... I sent this thread to the Google Docs team

[2017-07-07 22:01] awfrancisco opened #2472 "Blog post image is too large"
## Expected Behavior
The image in [this blog post](https://18f.gsa.gov/2016/07/19/strategies-for-starting-your-own-writing-lab/) should be smaller and have text nearly wrap around it

## Actual Behavior
Image is huge and breaks up paragraph

## This is issue is done when:
- [x] Image is appropriate size

[2017-07-10 20:53] elainekamlley commented on #2463
Posted with #2473

[2017-07-10 20:53] #2463 closed

[2017-07-17 15:16] awfrancisco commented on #2439
Fixed by #2470

[2017-07-17 15:16] #2439 closed

[2017-07-20 21:26] elainekamlley opened #2477 "Content for Intro to job postings"
## Expected Behavior
A plain language introduction for each job posting will help applicants navigate the extensive amount of information.

Example:

## This is issue is done when:
- [x] content is written @awfrancisco
- [x] Add to job descriptions @elainekamlley

[2017-07-20 21:30] elainekamlley opened #2478 "Content for thank you page"
## Expected Behavior
When you sign up for the 18F newsletter an email is sent to your email to confirm your subscription. When you click confirm from the email body, it should take you to `18f.gsa.gov/thank-you`

## Actual Behavior
Takes you to a 404 page

## This is issue is done when:
- [x] Content for thank you page is drafted @awfrancisco
- [x] Add page to the site @elainekamlley

[2017-07-21 21:29] awfrancisco commented on #2478
@elainekamlley Content is [here](https://docs.google.com/document/d/1WwXvK7x2IhQMPfxU9V8WghjZbiJCzYgVPlJB2d_0xEE/edit#). I think this should be good to go

[2017-07-21 21:36] awfrancisco commented on #2477
How's this?

Template

We're hiring a [job title] to [short, plain language job basics]. This person will work with [TTS team] to [three item list of duties]. This page includes key objectives for the role, as well as the official job description. You can apply at the bottom or learn more about the application process at Joining 18F.

Example:

We're hiring a Talent Engagement Specialist to help u

[2017-07-24 20:17] awfrancisco commented on #2425
@elainekamlley Here's some content. Let me know if you need more/different stuff. https://docs.google.com/document/d/17UJtCtp8Y0Gw_7Wk5sutO43-vd9BnZ71BWeQ1CpmMWM/edit

[2017-07-26 15:07] elainekamlley commented on #2478
Closing with merging of #2480

[2017-07-26 15:07] #2478 closed

[2017-07-26 15:22] elainekamlley commented on #2425
Closing. Fixed through #2481

[2017-07-26 15:22] #2425 closed

[2017-07-31 19:13] elainekamlley commented on #2477
This is great! Added them to #2483

[2017-07-31 19:13] #2477 closed

[2017-07-31 19:21] elainekamlley commented on #2449
Closing this since the CoC is currently in revision.

[2017-07-31 19:21] #2449 closed

[2017-08-08 16:39] elainekamlley opened #2490 "Research: Partners needs from the 18f.gsa.gov contact page"
Research with agency partners what they need/want from https://18f.gsa.gov/contact/. The current plan is to bring the Partnership Playbook (linked on that page) into the 18F site from 18F Pages. We need some research to identify additional content or functionality for that page.

## This issue is done when:

- [x] [Research plan is created](https://docs.google.com/document/d/19gSpx0JUk5W-RnTkCpDBb

[2017-08-08 19:00] awfrancisco opened #2491 "No sidebar on WDS project page"
## Expected Behavior
The WDS project page would have a sidebar with links to github and the main site.
https://18f.gsa.gov/what-we-deliver/us-web-design-standards/

## Actual Behavior
No sidebar, even though the information seems to be in the front matter.

## This is issue is done when:
- [ ] Accurate WDS info appears on the right sidebar of the project page

@elainekamlley

[2017-08-08 19:40] gemfarmer commented on #2491
@awfrancisco this looks like is caused by incorrect variable names [here](https://github.com/18F/18f.gsa.gov/blob/master/_layouts/project-page.html#L45-L46)

That if statement is currently:

[code]

but should be:

[code]

[2017-08-08 20:34] elainekamlley commented on #2491
fixed with #2492

[2017-08-08 20:34] #2491 closed

[2017-08-09 14:54] elainekamlley opened #2494 "Incorporate 18F's mission statement and value proposition"
18F has drafted a new mission statement and value proposition that describes our work and what we bring to our partner agencies. We will need to align the site content to this new language.

How we know this is finished:
- [x] **Content audit**
- [x] What we deliver
- [x] Home page
- [x] How we work
- [x] About 18F
- [x] Contact
- [x] CTA box
- [x] **Write new content for each page identified**

[2017-08-09 20:55] elainekamlley opened #2495 "Add Partnership Playbook"
The partnership playbook is a key resource to partner agencies for making a decision to hiring 18F.

[Current site](https://partnership-playbook.18f.gov/)

## This issue is done when:
- [ ] Finalize edits for the revised content
- [ ] Sarah to review
- [ ] CPS to review
- [ ] Additional review/edits?
- [ ] Where `Lets getting started` content lives
- [ ] Determine where this content will be on the

[2017-08-09 20:59] elainekamlley opened #2496 "Add IAA process to the site"
The IAA process can be a complicated set of tasks. We want to make this process clear and informative to our partner agencies who are ready to hiring us and need guidance on all the paperwork.

[Current site](https://iaa-forms.18f.gov/)

## This issue is done when:
- [x] [Content audit](https://docs.google.com/spreadsheets/d/1RFGX9ArvuhgiW4bm7Og6Bx21hjcAG2scn6KyZ44HOGg/edit#gid=0)
- [ ] Review agr

[2017-08-09 21:03] elainekamlley opened #2497 "Define terms we use for the site"
Inspired by a talk given by Abby Covert, we need to define terms and features we use on the site.

## terms
- [x] Project cards
- [x] Project page
- [x] join page
- [x] Side bar nav
- [x]  Inquiries call to action (bar at the bottom of project pages)
- [x]  blog card
- [x]  project page sidebar
- [x]  top banner text

## This issue is done when:
- [x] Make a full list of terms
- [ ] Create templat

[2017-08-10 15:46] awfrancisco commented on #2497
Additional terms

- Inquiries call to action
- blog card
- project page sidebar
- top banner text

[2017-08-15 19:30] elainekamlley opened #2501 "Finalize content for partnership playbook"
The partnership playbook is a key resource for partner agencies in making a decision to hire 18F.

[Current site](https://partnership-playbook.18f.gov/)

## This issue is done when:
- [x] Finalize edits for the revised content
- [x] Sarah to review
- [x] CPS to review
- [x] Make additional edits based on reviews

[2017-08-15 19:32] elainekamlley opened #2502 "Add Partnership Playbook content to site"
## This issue is done when:
- [x] Determine where this content will be on the site
- [x] Decide where to place in navigation (footer, contact, how we work)
- [x] Navigation structure of internal pages based on headers
- [x] Add content to templates
- [x] Update contact page to highlight new "playbook"
- [x] Add redirects from old site to new site

[2017-08-15 19:33] elainekamlley commented on #2495
Closing epic. Broke out tasks in #2501 and #2502

[2017-08-15 19:33] #2495 closed

[2017-08-15 19:37] elainekamlley opened #2503 "Content audit for IAA process"
The IAA process can be a complicated set of tasks. We want to make this process clear and informative to our partner agencies who are ready to hiring us and need guidance on all the paperwork.

[Current site](https://iaa-forms.18f.gov/)

## This issue is done when:
- [x] [Content audit](https://docs.google.com/spreadsheets/d/1RFGX9ArvuhgiW4bm7Og6Bx21hjcAG2scn6KyZ44HOGg/edit#gid=0)
- [x] [Review ag

[2017-08-15 19:38] elainekamlley opened #2504 "Finalize content design for IAA process"
The IAA process can be a complicated set of tasks. We want to make this process clear and informative to our partner agencies who are ready to hiring us and need guidance on all the paperwork.

[Current site](https://iaa-forms.18f.gov/)

## This issue is done when:
- [ ] Update content based on #2503 results

[2017-08-15 19:42] elainekamlley opened #2505 "Design for IAA process"
The IAA process can be a complicated set of tasks. We want to make this process clear and informative to our partner agencies who are ready to hiring us and need guidance on all the paperwork.

[Current site](https://iaa-forms.18f.gov/)

## This issue is done when:
- [ ] Fill out questions in [this doc](https://docs.google.com/a/gsa.gov/document/d/1MBtWhsi0XCY8ZVfqA7SjKhz8RiFioOR0evTnENN708E/edit?

[2017-08-15 19:44] elainekamlley opened #2506 "HOLD: Add IAA content to site"
The IAA process can be a complicated set of tasks. We want to make this process clear and informative to our partner agencies who are ready to hiring us and need guidance on all the paperwork.

[Current site](https://iaa-forms.18f.gov/)

## This issue is done when:
- [ ] Add content to 18f.gsa.gov using `primary` layout (ex. 18f.gsa.gov/join)
- [ ] Link page to partnership playbook
- [ ] Redirects

[2017-08-15 19:45] elainekamlley commented on #2496
Closing epic. Tasks are broken out in #2506 #2505 #2504

[2017-08-16 15:16] awfrancisco commented on #2501
[Partnership Playbook draft 1.1](https://docs.google.com/document/d/1hW6gHLC9Tx99f-cP7p-gu6m6lR1ydePraGPA-Ub_D-o/edit#heading=h.zba207q4r2ls)

[2017-08-16 16:49] Dahianna commented on #2503
IAA comms process expert interview schedule for 8/17 at 4:30pm ET

[2017-08-16 20:44] awfrancisco commented on #2501
@smils Ready for your review. Probably an hour or so depending on the extent of changes.

[2017-08-22 19:31] smils opened #2513 "Add language on FE processes and results"

[2017-08-22 21:49] awfrancisco commented on #2513
Context: FEs don't have the kind of deliverables that older CPS build projects did. We should work on some ways to talk about the processes and results of FEs when they don't results in public websites.

[2017-08-24 01:41] smils commented on #2501
@awfrancisco  Did a substantial rewrite, based on the idea that we're going to start nearly all partnerships w/FEs. Also tried to make it a lot shorter (four pages would be nice in the final formatting, if possible). Could use a sanity check, at least.

[2017-08-25 16:49] wslack opened #2517 "new repo to add to mythbusting blog post"
I id'd a new cabinet org with a github org. We should add it to @brittag and my blog post.

## This is issue is done when:
- [x] the code repo mythbusting post has a link to https://github.com/info-sharing-environment under ODNI

[2017-08-28 20:10] awfrancisco commented on #2501
@smils Looks good to me. I think more revisions on ASF and FE/modular stuff might be necessary but this feels right to ship now. Do you need to take another look or is this ready for CPS? Anyone else we need to add to the review list?

[2017-08-29 21:02] gemfarmer opened #2522 "Remove accesslint-ci"
From AccessLint:

This means that we will need to
  - remove accesslint-ci from `_config.yml`
  - potentially replace its functionality with the new-and-improved [AccessLint GitHub integration](https://www.accesslint.com/)

[2017-08-30 19:49] awfrancisco commented on #2506
Holding on this while IAA working happens in marketing materials. After improving in-person/PDF process, we'll evaluate what materials to bring into the site.

[2017-08-30 19:58] elainekamlley commented on #2504
This issue is now moved to [18F marketing materials](https://github.com/18F/marketing-materials/issues) and no longer a priority to add to the site.

[2017-08-30 19:58] #2504 closed

[2017-08-31 21:43] awfrancisco opened #2524 "Project page: FBI Crime Data Explorer"
To Do

- [x] Write content
- [x] Get image
- [x] Review with Larry Bafundo
- [x] Sarah review
- [x] add image to page
- [x] Publish

[Draft blog post](https://docs.google.com/a/gsa.gov/document/d/17TswmM6gvO6NPXkNULO094R_LcJqyQPUgWexHYAHY3k/edit?usp=sharing)
[Draft project slide](https://docs.google.com/presentation/d/1nB_Nvi-3LU0XBysufSxQFSOZDZ6q3WmgK-TfbvDldro/edit#slide=id.g2488f72d92_1_266)
[S

[2017-08-31 21:45] awfrancisco opened #2525 "Project page: National Science Foundation site"
To Do

- [ ] Write content
- [ ] Get image
- [ ] Review with NSF team
- [ ] Publish

[Draft project slide](https://docs.google.com/presentation/d/1nB_Nvi-3LU0XBysufSxQFSOZDZ6q3WmgK-TfbvDldro/edit#slide=id.g2488f72d92_1_532)
https://seedfund.nsf.gov/

[2017-09-05 08:51] AlbertoFdzM commented on #288
You made it!

[2017-09-08 16:41] awfrancisco commented on #2466
I'll try to do this while @elainekamlley is out so they can work on it while I'm out.

[2017-09-13 18:27] awfrancisco commented on #2494
I've got some draft content for this issue. Would love to get some reactions in a coworking session. It's all on a local branch at the moment.

[2017-09-26 20:37] awfrancisco opened #2556 "Experiment with header for homepage buckets"
Per comments from @smils in #2551, let's test out ways to separate the 3 buckets on the homepage from the VP-type language so that it's clear to potential partners that these are broadly the areas where we work. Could be a header, different color of background, other design element, or a content change.

## This is issue is done when:
- [x] Evaluation of possible solutions
- [x] Present recommenda

[2017-09-26 20:41] awfrancisco opened #2557 "New visual representation of resources on contact page"
Hypothesis: Creating a more visual representation of the three resources in the sentence below would drive more site visitors to click through to these resources. We want potential partners to read these resources to understand our methods, funding constraints, and principles.

## This is issue is done when:
- [x] Investigate whether icons/images/etc are more likely to be clicked
- [ ] Draft possi

[2017-09-26 21:00] awfrancisco opened #2558 "Project page image for CALC"
We're putting CALC on the homepage for the next release. We need a project page image before launch.

## This is issue is done when:
- [x] Find a CALC image
- [x] Add it to the project page
- [x] Review it on the new homepage

[2017-10-04 17:05] elainekamlley commented on #2503
Through the research the team has found that this information is better suited as marketing materials

[2017-10-04 17:05] #2503 closed

[2017-10-04 17:05] #2501 closed

[2017-10-12 21:03] #2494 closed

[2017-10-16 20:10] awfrancisco commented on #2466
PR for updates of summaries https://github.com/18F/18f.gsa.gov/pull/2572

[2017-11-02 15:20] elainekamlley commented on #2558
Done! https://18f.gsa.gov/what-we-deliver/calc/

[2017-11-02 15:20] #2558 closed

[2017-11-02 15:21] elainekamlley commented on #2556
Done (for now):
![screen shot 2017-11-02 at 11 21 22 am](https://user-images.githubusercontent.com/7362915/32334099-fa0ae2b4-bfbf-11e7-9451-64b268b235c6.png)

[2017-11-02 15:21] #2556 closed

[2017-11-02 15:24] elainekamlley commented on #2506
Closing for now, till we have a better idea on how we want to add this info

[2017-11-02 15:24] #2506 closed

[2017-11-02 15:25] elainekamlley commented on #2505
Closing for now till we have a better idea on how we want to provide info on IAAs

[2017-11-02 15:25] #2505 closed

[2017-11-02 15:29] elainekamlley opened #2584 "Improve build time"
## Expected Behavior
It should take less that 60 seconds for the site to build locally.

## Actual Behavior
It takes 60 seconds or more for the site to build locally

## This is issue is done when:
- [x] Remove pages that are not being used
- [x] Add a script to build site with the last 30 blog posts

[2017-11-15 21:23] elainekamlley commented on #2431
Closed because of #2432

[2017-11-15 21:23] #2431 closed

[2017-11-15 22:12] awfrancisco commented on #2466
Added tasks above for project page updates.

[Spreadsheet to gather and track testimonials](https://docs.google.com/spreadsheets/d/1dvSsuZqnWzLsHSrCQcoGCe7dY5eUfx3t1j7bjWHVZCY/edit#gid=0)

[2017-11-15 22:35] #2394 closed

[2017-11-15 22:36] awfrancisco commented on #2466
We should also prioritize [issues for new project pages](https://github.com/18F/18f.gsa.gov/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20project%20page) as part of this work

[2017-11-17 23:23] lauraGgit opened #2594 "beta.fec.gov page is now live!"
## Expected Behavior

https://18f.gsa.gov/what-we-deliver/fec-gov/
Now that FEC.gov is live, let's remove the beta!

## Actual Behavior
Links and a number of mentions of the public beta which is now live.

## Steps to reproduce the behavior
- [ ]
- [ ]
- [ ]

## This is issue is done when:
- [ ] links go to the fec.gov
- [ ] the beta prefix is removed.
- [ ]

[2017-11-19 01:21] konklone opened #2595 "Inline cdnjs.cloudflare.com assets to remove security and privacy impacts"
The site is pulling from a 3rd party CDN for a few static assets:

[code]

This shares visitor information with this third party (including user agent, supported languages, and the specific URL being visited), and is an attack vector to our users if cdnjs.cloudflare.com were to be compromised.

Since it's trivial to copy these files into the repo and serve them directly, we should do that. In othe

[2017-11-20 17:58] lauraGgit commented on #2440
@awfrancisco We've got a draft going here: https://docs.google.com/document/d/1rNr6_fc9sXP74JXUW2UPcPM_UNQ19tHZEN3Hr-scpcM/edit#

[2017-11-21 18:53] awfrancisco commented on #2440
Great. Next week, we're going to start a site sprint focused on project pages and the What We Deliver page. We'll prioritize this page as part of that work and get back to you.

[2017-11-27 23:06] awfrancisco opened #2598 "Project page: eQIP redesign"
To Do

- [x] Write content
- [x] Get image
- [x] Review with eQIP team
- [ ] Publish

[Draft](https://docs.google.com/document/d/1WiU-1ZSz72nqmpZz3saxJGMkQ0oXdzS8l61NHSBK3wI/edit#)

[2017-11-27 23:14] awfrancisco opened #2599 "Collect testimonials from past partners for project pages"
Hypothesis: Including quotes or testimonials from past partners in project pages will help potential partners better understand our work and encourage them to contact us about potential projects.

Quotes may be worked into the body of project pages or put in the sidebar. Still TBD.

[Spreadsheet to gather and track testimonials](https://docs.google.com/spreadsheets/d/1dvSsuZqnWzLsHSrCQcoGCe7dY5eUf

[2017-11-28 17:42] elainekamlley commented on #2502
Closed with #2552 #2567

[2017-11-28 17:42] #2502 closed

[2017-11-28 19:33] elainekamlley opened #2601 "Analytics for What we deliver"
Acceptance criteria
- [x] Report covers conversion rate from project page to contact 18F last 2 months
- [x] Project pages featured on the home page conversion rate to contact last 2 months
- [x] Contact us conversion rate to email 18f
- [x] How much contact pages come from project pages
- [x] What is the most visited project pages
- [x] Bounce rate from what we deliver page
- [x] Bounce rate from

[2017-11-30 22:08] awfrancisco commented on #2524
[Draft project page](https://docs.google.com/document/d/1MwIYjeXRwZG68cEqqLKsKlI4lcwA6NwNQJA0OK68ugw/edit)

[2017-12-01 19:41] esgoodman opened #2604 "Hero image on blog posts pushes article content below the fold"
## Expected Behavior
I would like to be able to skim the first paragraph of the blog post without scrolling. Honestly, I don't know if it's really a problem but it did feel like we weren't making as good use of that top screen real estate as we could be. I like the graphic, but maybe a different image would feel like a more meaningful use of that space?

## Actual Behavior
The height of the hero i

[2017-12-01 22:11] awfrancisco commented on #2525
[Draft project page](https://docs.google.com/document/d/1pFdf4R5jAaVVIKsYzuelh1l5ZA1AJ8K5tdje92TAqwE/edit)

[2017-12-05 17:57] LindsayYoung opened #2607 "update FEC repo link"
We are linking to a deprecated repo openFEC-web-app on this page https://18f.gsa.gov/what-we-deliver/fec-gov/

active repos are:
FEC: a general discussion forum. We compile feedback from the FEC.gov feedback widget here, and this is the best place to submit general feedback.
openFEC: the first RESTful API for the Federal Election Commission
fec-eregs: the FEC's new Code of Federal Regulations expl

[2017-12-06 06:07] DeathCamel57 commented on #2607
I hope that #2609 helps @LindsayYoung!

[2017-12-06 14:56] LindsayYoung commented on #2607
Thanks!

[2017-12-06 18:59] elainekamlley commented on #2607
@LindsayYoung reopened this since we are going to do some updates to the full body of the project page. We want to make sure that the language is aligned with the new phase.

[2017-12-06 19:50] awfrancisco commented on #2601
[Notes](https://docs.google.com/document/d/1jGd7AkVoZsTXqBUuXX9Fsho9zQ1wI4qtNrLiWSc389g/edit#heading=h.dlipnlp85xkj)

[2017-12-07 16:28] Dahianna commented on #2601
Added 18F inquiries email data to the [doc](https://docs.google.com/document/d/1jGd7AkVoZsTXqBUuXX9Fsho9zQ1wI4qtNrLiWSc389g/edit#)

[2017-12-11 21:46] awfrancisco commented on #2525
Draft sent to Kate, Phoebe, and Scott for review this week.

[2017-12-13 19:45] #2595 closed

[2017-12-13 19:53] awfrancisco opened #2617 "Change TTService to TTServices"
## This is issue is done when:
- [x] The TTS tag on blog posts is updated to services
- [ ] Blog posts with TTS are updated to services
- [x] Non blog post pages are updated to services

[2017-12-13 19:54] awfrancisco commented on #2617
Pages with service are [here](https://github.com/18F/18f.gsa.gov/search?p=4&q=%22technology+transformation+service%22&type=&utf8=%E2%9C%93)

[2017-12-19 17:30] awfrancisco commented on #2524
We can use one of the images from the [blog post](https://18f.gsa.gov/2017/09/07/opening-the-nations-crime-data/). @elainekamlley do you have the original files for those?

Content has been cleared by Larry and Ryan.

[2017-12-19 17:35] awfrancisco commented on #2524
@smils This [draft](https://docs.google.com/document/d/1MwIYjeXRwZG68cEqqLKsKlI4lcwA6NwNQJA0OK68ugw/edit) is ready for your review

[2017-12-19 17:45] elainekamlley commented on #2524
@awfrancisco yup! I do.

[2017-12-26 19:08] elainekamlley opened #2620 "Retire project pages that don’t reflect our current work"
Project pages that don't currently reflect the work we do, should be removed.

[2017-12-26 19:09] elainekamlley opened #2621 "Re-organize what we deliver page"
The `/what-we-deliver` page should

- [ ] reflect two areas of work - platforms and custom solutions
- [ ] contact us to be more prominent

[2017-12-26 19:11] elainekamlley opened #2622 "Add contact button throughout the site"
- [x] about us - add contact us and join link
- [x] each project page
- [x] Add a break between blog and footer

[2017-12-26 19:13] elainekamlley opened #2623 "Have a better connection to join from contact"
Need to iron out what this means but analytics show that the main pages that our users visit are `join` and `contact`. We want to make sure that folks are reaching us the way they want to.

[2017-12-26 19:16] elainekamlley commented on #2601
After analyzing the last three months of analytics we have determined this goal:

Increase traffic to contact page from DC, VA, MD that goes to the contact page since ~80% of our business is from people in those states.

[2017-12-26 19:17] elainekamlley opened #2624 "Capture our current rates for conversion, button"
Add analytics to our contact button so we can track where folks were on the page that resulted in contacting us

[2017-12-26 19:19] elainekamlley commented on #2601
Created issues as a result of the analytics research. Closing this due to the creation of next steps

[2017-12-26 19:19] #2601 closed

[2017-12-27 17:29] awfrancisco commented on #2623
About [16% of traffic](https://analytics.google.com/analytics/web/#report/content-pages/a48605964w80166384p82926493/%3F_u.date00%3D20170601%26_u.date01%3D20171226%26_r.tabId%3Dnavigationsummary%26_r.drilldown%3Danalytics.pagePath%3A%2Fcontact%2F/) goes to the join page from the contact page. Second only to the about page. Hypothesis: People looking to apply to 18F are going to contact and then lea

[2017-12-27 17:32] awfrancisco commented on #2622
- [ ] Partnership Principles
- [ ] More prominent on what we deliver
- [ ] How we work
- [ ] Add tracking code to buttons

[2017-12-27 17:33] awfrancisco commented on #2621
@smils We should discuss whether Acq projects should also be broken out into their own category

[2017-12-27 17:36] awfrancisco commented on #2620
Decision should also be informed by [project page analytics](https://docs.google.com/spreadsheets/d/1OoIDMaYHy40waoMbLRbPIahMRSzQT9FyS2Geje-TGmk/edit#gid=418499463)

[2017-12-27 18:52] awfrancisco commented on #2525
@smils Ready for your review. No deadline until we do sprint planning, just marking status here

[2017-12-27 19:11] rrefoy commented on #2440
hello friends, i was curious as to what the status is here. let us know if there is anything else you need from us.

[2017-12-27 19:13] awfrancisco commented on #2440
Hey. We've had a number of delays on this sprint, so we're doing planning on 1/3. This will still be included then. We'll let you know if we need anything from you all.

[2018-01-03 17:13] elainekamlley opened #2629 "Fix video links that don't have omebed"
Certain youtube videos are not supported through oembed. Need to convert those to `<iframe>`

[2018-01-03 17:28] Dahianna commented on #2599
[Testimonials](https://docs.google.com/a/gsa.gov/document/d/1TH0M3wDsLKPnd8u4vgY0bqGXyIAxCbLF7Q19MiPND4Y/edit?usp=sharing)

[Tracker for submissions](https://docs.google.com/a/gsa.gov/spreadsheets/d/1dvSsuZqnWzLsHSrCQcoGCe7dY5eUfx3t1j7bjWHVZCY/edit?usp=sharing)

[2018-01-03 18:17] elainekamlley commented on #2395
Waiting till #2620 is done to add images

[2018-01-03 21:19] elainekamlley commented on #2584
We removed some pages and the build command `./serve-blog` will only build the last 5 blog posts. One of the main issues was accessing the images in the team folder. With the merge of #2611, that plugin will only go off on the production branch and not local builds.

[2018-01-03 21:19] #2584 closed

[2018-01-04 15:59] awfrancisco commented on #2524
@smils This is back on your plate. Deadline for this sprint is 1/17

[2018-01-04 15:59] awfrancisco commented on #2525
@smils This is back on your plate. Deadline for this sprint is 1/17

[2018-01-08 19:01] awfrancisco commented on #2594
Addressed in #2630. Closing

[2018-01-08 19:01] #2594 closed

[2018-01-08 19:33] smils commented on #2524
This is v good overall. Made some light edits and asked one rhetorical
question.

On Thu, Jan 4, 2018 at 10:59 AM, Andre Francisco <notifications@github.com>
wrote:

--
Sarah Milstein
Director of Business Development & Outreach, 18F.gov

[2018-01-08 19:53] smils commented on #2525
Back to you. On this one, I'm suggesting some much bigger edits

On Thu, Jan 4, 2018 at 10:59 AM, Andre Francisco <notifications@github.com>
wrote:

--
Sarah Milstein
Director of Business Development & Outreach, 18F.gov

[2018-01-09 17:14] lauraGgit commented on #2440
@awfrancisco do you need anything more from us?

[2018-01-10 18:29] awfrancisco commented on #2525
@smils Ready for another review from you. [Draft here](https://docs.google.com/document/d/1uoZYVeda9QOX6wKOw3O95gNJzl8AAANP8cLtrhR4Fs8/edit)

[2018-01-10 20:09] awfrancisco commented on #2440
I gave it another edit. I think it's better to summarize the multiple RFPs to give more room to talk about the larger benefits of this approach and of working with 18F. Can you give it one more look for accuracy?

[2018-01-10 20:21] awfrancisco commented on #2524
Image added and merged into dev.

[2018-01-10 20:21] #2524 closed

[2018-01-10 20:21] #2620 closed

[2018-01-11 17:35] ShannonBad commented on #2395
[Logos - DataAct CloudGov Federalist.zip](https://github.com/18F/18f.gsa.gov/files/1623570/Logos.-.DataAct.CloudGov.Federalist.zip)

This is a sketched preview of the logos on three different background colors, sharing so we can discuss them.
<img width="784" alt="screen shot 2018-01-10 at 7 52 12 pm" src="https://user-images.githubusercontent.com/35078464/34838373-aa84d400-f6b2-11e7-8b9e-aa80bd86

[2018-01-11 19:36] awfrancisco opened #2640 "Remove Storify links"
Storify is shutting down and soon storify links will no longer work.

## This is issue is done when:
- [ ] Storify links are removed from [these 3 blog postss](https://github.com/18F/18f.gsa.gov/search?utf8=%E2%9C%93&q=storify&type=)

[2018-01-12 19:03] lauraGgit commented on #2440
@awfrancisco looks good to me. @allalala do you want to take a look?

[2018-01-17 16:13] lauraGgit commented on #2440
@awfrancisco Alla has made a number of grammatical changes. So good beyond that good to go on our side.

[2018-01-17 17:26] elainekamlley commented on #2395
Hey @ShannonBad, thanks for all your work on this! Discussed it with the team and we feel like the light background is the best option for contrast.

[2018-01-17 19:51] ShannonBad commented on #2395
Hi @elainekamlley, OK that sounds good. Do you need me to set up the files with background colors? Right now the files are only SVGs of the logos, on transparency. I have more icon/logos to upload here too - which I will do ASAP.

[2018-01-17 20:26] elainekamlley commented on #2395
@ShannonBad that would be great if you could set up those files. Another thought we talked about is setting up the logos with the light grey color: #f1f1f1. We don't want the image to blend in with the body of the page. What do you think?

Looking forward to seeing the others

[2018-01-18 04:14] ShannonBad commented on #2395
FILES: [Logos - DataAct CloudGov Federalist 2.zip](https://github.com/18F/18f.gsa.gov/files/1641588/Logos.-.DataAct.CloudGov.Federalist.2.zip)

I agree it looks better on the grey background (#f1f1f1) too. Let me know if you have any problems opening this zip folder.

<img width="684" alt="screen shot 2018-01-17 at 7 58 23 pm" src="https://user-images.githubusercontent.com/35078464/35080194-f133c9

[2018-01-18 04:59] ShannonBad commented on #2395
These are just a few ideas for the logo for Web Design Standards, they can be in any color. I am happy to make revisions based on your feedback.
<img width="593" alt="screen shot 2018-01-17 at 8 55 11 pm" src="https://user-images.githubusercontent.com/35078464/35081469-39cec1dc-fbc9-11e7-815b-60d019acdc8d.png">

[2018-01-18 14:52] awfrancisco opened #2644 "Update U.S. Web Design Standards to System"
The U.S. Web Design Standards have changed their name to the U.S. Web Design System. Explanation for the change [here](https://standards.usa.gov/whats-new/updates/2018/01/17/changing-our-name/).

## This is issue is done when:
- [x] Non-blog post [mentions of the USWDS](https://github.com/18F/18f.gsa.gov/search?utf8=%E2%9C%93&q=u.s.+web+design+standards&type=) are changed to System
- [x] Add a not

[2018-01-18 18:30] ShannonBad commented on #2395
A few ideas for the logo for Labor and Wage.

<img width="767" alt="screen shot 2018-01-18 at 10 27 50 am" src="https://user-images.githubusercontent.com/35078464/35114682-6beae454-fc3a-11e7-9916-8c72091aaf54.png">

[2018-01-19 18:22] elainekamlley commented on #2395
@ShannonBad great work! Here's some of our thoughts:
1. Could you incorporate a web design standards image to the icon you made? I'll send that image to you directly
2. Labor and wage: We like the clock and coin one. Let's try experimenting with WDS colors for the clock and the coin since we know those are 508 compatible. Here are they [colors](https://standards.usa.gov/components/colors/)
3. For

[2018-01-19 18:35] elainekamlley opened #2645 "Be able to add multiple github repos to project page sidebar"
## Expected Behavior
Be able to add multiple repos to a project page side bar.

## Actual Behavior
Currently the layout only renders one link and not multiple

## This is issue is done when:
- [ ] you can add multiple github repo links
- [ ] they in a unordered list under GitHub repo header

[2018-01-19 18:36] #2617 closed

[2018-01-19 18:37] elainekamlley commented on #2465
close with merging of #2638

[2018-01-19 18:37] #2465 closed

[2018-01-19 18:39] #2496 closed

[2018-01-19 18:41] elainekamlley commented on #1800
This has been added to the styleguide

[2018-01-19 18:41] #1800 closed

[2018-01-19 19:58] ShannonBad commented on #2395
@elainekamlley Thanks for the feedback I will work on those updates. As well as work the other logos on this list, which are a little bit more difficult since they're more abstract. I also started playing around with the three icons we had talked about - is that a different GitHub project page?

[2018-01-22 04:10] ShannonBad commented on #2395
Here's the WDS colors (in shades of blues and grey) of Labor and Wage!
<img width="760" alt="screen shot 2018-01-21 at 8 06 13 pm" src="https://user-images.githubusercontent.com/35078464/35205031-0ae56a9e-fee7-11e7-9b0d-703d36a25e0d.png">

[2018-01-22 18:23] awfrancisco opened #2646 "Change "About 18F" to "About""
The current page title "About 18F" feels redundant and unlike other about pages on other sites. Changing it to "About" will be clearer and shorter. This change will not require redirects.

## This is issue is done when:
- [x] Change `About 18F` to `About` in navigation and headings, where appropriate. Here is a [list of all instances](https://github.com/18F/18f.gsa.gov/search?utf8=%E2%9C%93&q=%22a

[2018-01-22 19:56] #2640 closed

[2018-01-22 22:01] awfrancisco commented on #2644
The repo also changed to https://github.com/uswds/uswds from https://github.com/18F/web-design-standards, but there is an automatic GitHub redirect

[2018-01-23 16:13] #2517 closed

[2018-01-26 18:29] #2623 closed

[2018-01-26 18:45] elainekamlley commented on #2624
Captured the latest mailto clicks through DAP program. Here is the [report for 9/17 - 11/17](https://docs.google.com/spreadsheets/d/1XL692oniwA74BY-X6E8SHU8fl8wgDMrlAqChK7nU6vk/edit?usp=sharing):

[2018-01-28 08:07] ShannonBad commented on #2395
<img width="520" alt="screen shot 2018-01-27 at 11 56 57 pm" src="https://user-images.githubusercontent.com/35078464/35480217-60c3fcf6-03be-11e8-9dfc-e3ce0ffaf515.png">

This is an example of adding a scrim of 30% of the grey color (#f1f1f1) on the left side photo & no scrim on the right side photo --- the grey color could be changed based on what is decided for the background colors for the icons

[2018-01-28 08:14] ShannonBad commented on #2395
<img width="695" alt="screen shot 2018-01-27 at 11 54 24 pm" src="https://user-images.githubusercontent.com/35078464/35480285-7af6eaa6-03bf-11e8-876b-bf337467ff6d.png">
One idea I had was for the projects that do not have any obvious icons (also for future projects with the same issues) to add in a pattern that is different for each post but still cohesive as a whole together. The colors in the pa

[2018-01-29 08:15] ShannonBad commented on #2395
<img width="748" alt="screen shot 2018-01-29 at 12 08 40 am" src="https://user-images.githubusercontent.com/35078464/35499820-d86b40aa-0488-11e8-82f4-ba92049829f1.png">
This is another version of the same pattern idea (as the previous post), however these "abstract" patterns are inspired by the EPA Graphics Standards System and the NASA Graphics Standards of the 1970s but using the WDS colors.

[2018-01-31 19:44] elainekamlley commented on #2622
Create new card for consistent language for CTA on contact buttons

[2018-02-02 19:41] jcastle opened #2659 "Add Help Wanted issues to Code.gov"
It looks like you have quite a few Help Wanted issues in your repo.  You can feature these on Code.gov and reach a larger audience by adding specific tags to your Help Wanted issues.

Here are the specifics - https://github.com/GSA/code-gov/blob/master/HelpWanted.md
And, an example - https://github.com/GSA/code-gov-web/issues/417

Let me know if you have questions,
Cheers!
Joe

[2018-02-06 16:46] elainekamlley commented on #2646
close with the merge of #2654

[2018-02-06 16:46] #2646 closed

[2018-02-06 16:47] #2622 closed

[2018-02-06 16:47] #2644 closed

[2018-02-06 16:47] #2624 closed

[2018-02-06 17:01] elainekamlley opened #2660 "Add project page instructions to styleguide"
Add styling instructions for developers or editors of the project page

## This is issue is done when documentation is added for:
- [x] Update the two folder system
- [x] Update template to include multiple github repos
- [x] Add how to update testimonials in the template

[2018-02-06 17:02] elainekamlley commented on #2466
Broke the bullets up into their own issues

[2018-02-06 17:02] #2466 closed

[2018-02-06 18:52] awfrancisco opened #2661 "Add Path Analysis and Experimentation content"
Goal: Add content to How we work that clearly outlines the goals, structure, deliverables, and examples of Path Analysis and Experimentation and Iteration services. Potential partners should be able to understand our two classes of services, how they connect, and whether this would be right for their project.

Potential content:

- Description of service
- Testimonial from past partners
- Mini cas

[2018-02-06 21:38] awfrancisco opened #2663 "Determine goals/vision of How We Work"
Goal: Set overarching marketing, communications, and sales goals that a new How We Work page could address. Establish guidelines for length, tone, and content. Use this information to inform #2661.

Tasks

- [x] Andre set meeting with Dan, Sarah, and Elaine
- [ ] Type up notes into guidelines for other issues

[2018-02-06 21:57] awfrancisco opened #2664 "Evaluate how the Partnership Principles fit into How We Work"
Goal: Given the vision of #2663 and the content of #2661, how should the Partnership Principles fit into How We Work?

Questions to explore:

- How do our principles fit into agencies decision to contact us?
- Which of the current principles is most compelling to potential partners?
- Is there another place to highlight the Principles outside of the How We Work page?
- Is there another way to repr

[2018-02-06 22:00] awfrancisco opened #2665 "Create guides page on site"
Create a single guides page on the site. `guides.18f.gov` will be redirected to the `18f.gsa.gov/guides`

[2018-02-07 15:24] elainekamlley opened #2666 "Determine how to reorganize What we deliver page"
Goal: Group project cards into categories. This will provide users an at a glance of the type of projects we do.

Tasks:
- [x] Set up meeting with Outreach team to determine categories, discussion can be influenced by #2663
- [x] Write out decision in this issue

[2018-02-07 15:29] elainekamlley opened #2667 "Reformat What we deliver page"
Goal: Based on the decision of #2666, reconfigure in code the layout of the page

Tasks:
- [x] Adjust liquid templating to render different groups based on their category
- [x] Determine style of category
- [x] Write new headers

[2018-02-07 15:46] elainekamlley opened #2668 "Determine image requirements for project pages"
Goal: Standardize project page images. This provides guidance to the team and a more cohesive design for What we deliver page. Be simple and lightweight. Adding images should be a task that any team member can do.

Tasks:
- [ ] Have a site cowork session cover this topic and invite a designer
- [ ] Write out guidelines and add them to the style guide

Questions:
- We have a mix of media on the pro

[2018-02-07 15:48] elainekamlley commented on #2621
More specific issue was created #2667

[2018-02-07 15:48] #2621 closed

[2018-02-07 16:43] elainekamlley commented on #2659
Hey @jcastle thanks for reaching out! Those tags are currently only for internal 18F staff but we are opened to to adding some to code.gov. Let me take a look at your documentation and see if its a right fit for us.

[2018-02-07 17:10] elainekamlley commented on #2472
closing with #2662

[2018-02-07 17:10] #2472 closed

[2018-02-07 18:03] elainekamlley commented on #2668
For consideration: each image has same treatment

[2018-02-07 18:10] #2513 closed

[2018-02-14 16:14] awfrancisco commented on #2661
[Draft of new content](https://docs.google.com/document/d/1xZPidHSJgptqbP1InUworx485KdtxVZ7oml1homOoVs/edit#)

[2018-02-14 20:00] elainekamlley commented on #2666
We want users to know we have proven experience and have excelled in working in the federal space. Our projects will be a reflection of that. We also want users to to know there are two things you can buy from us: services and products.

Next step is addressing #2667 by reformatting `/what-we-deliver` by placing projects into two categories: services and products. Services will be higher on the si

[2018-02-15 21:55] awfrancisco opened #2672 "Research the services pages of other companies to inform renaming"
With the new content for the How We Work page, it might be appropriate to also rename the pages to something like Services. We should research similar pages on private contractor websites to see what patterns federal employees might recognize.

Tasks
- [x] Write up brief hypothesis and research plan on goals, tactics, expected outcome
- [x] Research 3-5 private IT contractors for how their website

[2018-02-15 22:08] awfrancisco opened #2673 "Change project card names to descriptions"
Project page cards currently use the project name as the title (for example, College Scorecard) which may be confusing or unhelpful for new users or those unfamiliar with 18F's work.

Hypothesis: Changing the title to a brief description of the impact of the work (such as the current subtitle field) might make it easier for people to understand what projects are about and better understand 18F's w

[2018-02-21 19:06] awfrancisco opened #2677 "Change "hiring" tag to "join us""
We have two overlapping tags. We've decided to go with "join us" and will change blogs with the hiring tag to "join us".

- [x] Change tag on blog posts

[2018-02-23 17:42] awfrancisco commented on #2667
Suggested order for project cards, broken up by row. What do you think?

**Services**
FBI
FEC
CALC

Data Act
State and Local
ePermits

College Scorecard
America’s Seed Fund
myUSCIS

USWDS
Wage and Hour
C2

**Products**
Cloud
Federalist
Login

Agile BPA
eRegs

[2018-02-23 17:46] awfrancisco commented on #2667
[Draft content for new section headers](https://docs.google.com/document/d/11VPbnaYUxNc6F4eodMWBxEYGnhF8nOsZUIYQdYy1tg8/edit)

[2018-02-23 21:35] awfrancisco commented on #2673
Sample of project pages with descriptions instead of titles. Thoughts?
![project-page-descriptions](https://user-images.githubusercontent.com/12051887/36617994-0df50f28-18af-11e8-9f1a-70bbdf2cfc52.jpeg)

[2018-02-23 21:46] afeld opened #2681 "Redirect to new hiring site"
## Expected Behavior

When I visit https://18f.gsa.gov/join/, I should be redirected to https://join.tts.gsa.gov/. The latter is ["the new home for all TTS job postings"](https://18f.gsa.gov/2018/02/21/technology-transformation-services-launches-new-job-site/).

## Actual Behavior

There's a different (older) page that provides similar information.

/cc @rooneywp @JennMoran

[2018-02-23 22:03] #2663 closed

[2018-02-23 22:05] awfrancisco commented on #2672
@Dahianna Do you have time to take this on next week?

[2018-02-23 22:07] awfrancisco commented on #2664
Added agile language into #2661. Linked to Partnership Principles as well.

[2018-02-23 22:07] #2664 closed

[2018-02-26 15:46] JennMoran commented on #2681
@afeld I don't think it should redirect them to the TTS site as the TTS site redirects them to the join18F site under the "TTS offices" section, if a candidate wants to learn more about 18F. The 18F join page explains the hiring process specific to 18F and it also links them to the 18F website.
on the 18F join page we should probably mention something about the TTS website like "to learn more abou

[2018-02-26 15:53] afeld commented on #2681
Ah, didn't realize both were still going to exist. I think that may be confusing to applicants and annoying to have to keep the two (sub)sites in sync, but that's out of scope for this issue 😁

[2018-02-26 15:53] #2681 closed

[2018-02-27 19:07] elainekamlley opened #2682 "18F icon missing from tab"
## Expected Behavior
When I am on 18f.gsa.gov I should see the 18F logo on the tab

## Actual Behavior
Currently blank icon

[2018-02-27 21:07] smils commented on #2673
Really like the direction you've take this. 👍 @awfrancisco

[2018-03-07 18:47] elainekamlley opened #2687 "Switch code from MailChimp to new mailing platform"
We are moving off of mailchimp and need to add new code to the newsletter sign up form

[2018-03-08 19:05] Dahianna commented on #2672
[Research plan](https://docs.google.com/document/d/1K0uYSmli7avM0DO_WMhwOkWrA4QIxz7Cj9hof4ZwEy4/edit?usp=sharing)

[2018-03-09 17:25] #2672 closed

[2018-03-13 20:30] Dahianna opened #2692 "What we do vs. What we deliver"
After conducting[ research](https://github.com/18F/18f.gsa.gov/issues/2672) on nomenclature used in other government IT consulting sites, we learned that naming our services and products page `what we do` instead of `what we deliver` might be more familiar to site visitors and will be easier for them to understand the content of the page.  Before we make any changes we'd like to test both terms.

[2018-03-13 20:54] Dahianna opened #2693 "Speaker request blurb on site"
Recently we've received requests for staff to participate in panels or speak at events. Unfortunately, we were unable to fulfill these requests due to either lack of information about the event or not having enough time to process the speaker request through TTS and OSC. These situations can make us look uninterested or unwilling, which could impact our relationship with the event hosts.

By addin

[2018-03-14 14:55] #2673 closed

[2018-03-14 18:52] LindsayYoung commented on #2607
Update: we have move the repos to the FEC's github org- it's a great!!!

Here are the relevant repos for the project
- [FEC](https://github.com/fecgov/fec): a general discussion forum. We [compile feedback](https://github.com/18F/fec/issues) from the FEC.gov feedback widget here, and this is the best place to submit general feedback.
- [openFEC](https://github.com/fecgov/openfec): the first RESTfu

[2018-03-14 19:21] elainekamlley commented on #2599
Testimonials have been collected and will continue to be collected in the future. This issue is finished and will break out editing and adding to the site to another issue.

[2018-03-14 19:21] #2599 closed

[2018-03-19 15:12] #2661 closed

[2018-03-19 15:13] #2677 closed

[2018-03-19 16:04] #2645 closed

[2018-03-19 16:04] #2667 closed

[2018-03-19 16:05] #2666 closed

[2018-03-19 16:08] awfrancisco opened #2698 "Add pull quote style and how we work layout to style guide"
## Add documentation to style guide:
- [x] New pull quote styling
- [x] How we work styling

[2018-03-19 16:08] awfrancisco opened #2699 "Update text of repo links on project pages"
The sidebar links on project pages to GitHub repos are currently the full repo URL (for example https://github.com/18F/dol-whd-14c). We should change those full URLs to description links for each project page.

- [ ] URLs updated

[2018-03-21 17:01] elainekamlley opened #2701 "Pull analytics of contact us info from the last two months"
Pathways for users to the `contact us` page increased in previous sprints. Our hypothesis for this work would increase potential customers to contact us. This issue is to pull from our analytics to see any increase in emails.

Issue is finished:
- [x] This template is filled out: [18f.gsa.gov analyticis 12/18 - 2/18](https://docs.google.com/document/d/1TCUYBCv09Mrck5US5iAQIU7RE3z_I1O0lhXnSLBReJ4/e

[2018-03-21 17:03] elainekamlley opened #2702 "Redirect guides"
Steps:

- [ ] For closed guides, redirect them to the retired GitHub repo

[2018-03-21 17:04] elainekamlley opened #2703 "Generating a research plan for How we work"
Is the text too long? Does the content make sense?  Draft research plan for investigating the `How we work` page.

**Tasks**
- [x] Draft a research plan (hypothesis, methods, timeline and recruitment email)
- [x] Recruit participants
- [x] Conduct studies
- [x] Analyze findings and write out results

[2018-03-21 17:05] elainekamlley opened #2704 "Add testimonials to the site"
Add [testimonials](https://docs.google.com/document/d/1TH0M3wDsLKPnd8u4vgY0bqGXyIAxCbLF7Q19MiPND4Y/edit) to project pages and the home page

- [x] Design of testimonial on home page
- [x] Code new design to home page
- [x] Add testimonials to project pages

[2018-03-22 02:57] evbacher commented on #2236
Try [gd2md-html](https://github.com/evbacher/gd2md-html/wiki), a free Google Docs add-on that I developed as an add-on after using Renato Mangini's standalone script.

[2018-03-22 13:37] jeremyzilar commented on #2236
Great news @evbacher 🎉 We'll test it out and then get it run through our approval process here at the GSA. So excited about this

[2018-03-23 17:26] #2693 closed

[2018-03-29 15:21] Dahianna commented on #2692
[Research plan](https://docs.google.com/document/d/1lGzglS81K4644HrUAhy_c-30az2wXeqGQXQOTCaBLJE/edit?usp=sharing)

[2018-03-29 15:21] Dahianna commented on #2703
[Research plan](https://docs.google.com/document/d/1lGzglS81K4644HrUAhy_c-30az2wXeqGQXQOTCaBLJE/edit?usp=sharing)

[2018-04-04 18:56] awfrancisco opened #2720 "Fix breadcrumbs for project pages"
## Expected Behavior
Breadcrumbs for project pages will show the name of the project (for example, FEC.gov)

## Actual Behavior
Breadcrumbs show the title field, which I changed to be descriptive of the goal of the project instead of the project name. This makes sense for new users, but produces unusual breadcrumbs. Background on that change is in #2673.

Here's an example on the [FEC project page

[2018-04-06 15:28] awfrancisco opened #2723 "0% bounce rate error on some project pages"
Two project pages ([DOL Wage and Hour](https://18f.gsa.gov/what-we-deliver/dol-wage-and-hour/) and The New Ten (no longer live)) show a 0% bounce rate in Google Analytics. Both pages had traffic, entrances, and exits. I believe this stat is a bug. I found some additional information [here](https://www.togetherdigital.ie/blog/why-0-bounce-rate-is-not-good-news).

[Analytics report showing bounce ra

[2018-04-06 16:35] awfrancisco commented on #2701
Added analytics and analysis at the link above. tl:dr Many of the stats are down from the last period, but I'm not convinced it's directly tied to site changes. I suspect outside forces around the budget and our blog post publishing rate are more likely to blame for reduced traffic.

[2018-04-10 18:40] elainekamlley opened #2726 "Clean up site wiki to navigate to documentation links"
## Expected Behavior
The wiki is a tool to navigate to site documentation

## Actual Behavior
It has out of date information

## Steps to reproduce the behavior
- [ ] clean up wiki home page
- [ ] Add links to style guide, product roadmap and handbook

## This is issue is done when:
- [ ] links and content are up to date

[2018-04-23 15:09] Dahianna commented on #2692
Analysis: https://trello.com/b/BS7tZIGG/site-content-what-we-deliver-how-we-work
Findings report: https://docs.google.com/document/d/1uqA5yc8-oWdLSrwzDmyxXkVl5weRivM7-Wj1m89vh1o/edit#

[2018-04-23 15:09] Dahianna commented on #2703
Analysis: https://trello.com/b/BS7tZIGG/site-content-what-we-deliver-how-we-work
Findings report: https://docs.google.com/document/d/1uqA5yc8-oWdLSrwzDmyxXkVl5weRivM7-Wj1m89vh1o/edit#

[2018-04-24 16:05] #2607 closed

[2018-04-24 16:05] #2699 closed

[2018-04-24 16:05] #2701 closed

[2018-04-30 20:38] elainekamlley opened #2732 "Reevaluate list of agencies we've worked with"
The current list is on `what-we-deliver`. Based on research, they expect to see the list sooner. We can either move it higher up on the `what we deliver` or added to the homepage

[2018-04-30 20:44] elainekamlley opened #2733 "Reduce columns for what we deliver headers"
Research: Users felt the length of the of intro text to the `Services` and `Products` are too long

Solution: Reduce the size of the text to two-thirds length

[2018-04-30 20:48] #2704 closed

[2018-04-30 20:49] #2682 closed

[2018-04-30 20:49] #2698 closed

[2018-04-30 20:50] #2660 closed

[2018-04-30 20:50] #2692 closed

[2018-04-30 20:50] awfrancisco opened #2734 "Add testimonial to NSF project page"
Testimonial text

"“The engagement was very helpful in that 18F provided a roadmap for an agile and incremental process that would allow us to build support within NSF, control risks, and build the next nsf.gov while working with the legacy systems that support the current site.” - Theresa Rinehart, Head of NSF Web Engineering and Operations."

Testimonial has been cleared by Theresa at NSF.

http

[2018-04-30 20:50] #2703 closed

[2018-04-30 21:01] elainekamlley opened #2735 "Revise How we work content based on research"
Recommendations: As mentioned in the hypothesis, the current information on the page is too much for visitors to digest and still doesn’t provide the information federal/state visitors are looking for. Therefore, the content can be improved by doing the following:

- Decrease the amount of text by creating graphics that explain the process or breaking down the text using bullet points.
- Mention b

[2018-05-02 22:02] elainekamlley opened #2742 "Move homepage quote above the fold"
The voice of our partners should be one of the first things users see when they visit the site

[2018-05-03 21:18] awfrancisco opened #2743 "Clean up branches"
We have many branches that are no longer in use.

- [x] Delete old branches

[2018-05-08 16:56] jeanninehunter opened #2746 "Replace "Under Review" Code of Conduct text w/ approved revision"
Replace the ["Under Review" statement](https://18f.gsa.gov/code-of-conduct/) on 18F website with revised and vetted [Code of Conduct](https://github.com/18F/code-of-conduct/blob/master/code-of-conduct.md).

[2018-05-08 19:51] jeanninehunter commented on #2746
[Pull request](https://github.com/18F/18f.gsa.gov/pull/2747) ready for review

[2018-05-09 14:27] awfrancisco commented on #2746
Completed in #2747

[2018-05-09 14:27] #2746 closed

[2018-05-09 14:43] awfrancisco commented on #2734
Closing because this quote is about the other NSF project, which doesn't have a project page.

[2018-05-09 16:52] elainekamlley opened #2749 "Explore design elements for How we work"
Based on our research, informative graphics that help our users understand how we can help agencies are needed.

## Research Recommendations
- Include a timeline, preferably a graph, on the [18F partnership process](https://docs.google.com/document/d/1hUV8Fyc3W8GVpFyAyNyFkvDxAYMU48CxwiKAKzBi66w/edit?usp=sharing)
- Decrease the amount of text by creating graphics that explain the services or breaki

[2018-05-09 18:58] elainekamlley commented on #2702
Unfortunately, this is not a simple one. The instructions involve updating four different files in two different repos. [Here](https://docs.google.com/document/d/1Qx9ChOtz1SADUadsPkuJsbcrJGv49LEadrkTlJDqVWo/edit?usp=sharing) are the instructions. Will offered to help us out but blocking some time to walk us through it. I can do this when I return on the 24th or this can be picked up by another tea

[2018-05-10 14:24] awfrancisco opened #2752 "Move to CircleCI 2.0"
Email from Circle:

We’re writing to let you know that your project(s) https://github.com/18F/18f.gsa.gov have been running on Ubuntu version 12.04 within CircleCI 1.0. Ubuntu ended support for 12.04 more than a year ago. Continued use of 12.04 is not recommended. We will be sunsetting CircleCI 1.0 and removing all support for Ubuntu 12.04 on CircleCI on August 31st, 2018.

What’s at risk with con

[2018-05-10 14:25] #2735 closed

[2018-05-10 14:25] #2742 closed

[2018-05-10 14:25] #2665 closed

[2018-05-10 14:25] #2733 closed

[2018-05-10 14:25] #2395 closed

[2018-05-10 14:29] #2726 closed

[2018-05-10 14:44] awfrancisco opened #2753 "Path Analysis project pages"
Write a handful of project pages about Path Analysis projects.

The current project pages only cover larger projects. Highlighting the value of a Path Analysis could help potential partners learn more about our services and determine if they fit their needs. These project pages could be featured in a future design of the How we work page.

Potential PAs for case studies

- State Diamonds
- DOJ Lit

[2018-05-10 14:53] awfrancisco opened #2754 "Include name of project on project cards"
Recommendation from research: Include the name of a product/project on the project card (for example, College Scorecard or CALC) so that people who are already familiar with a project can find it easier.

Potential implementation: We could add another field on the card with some designer time, or we could edit the name of the project into the existing project description.

[2018-05-10 14:57] awfrancisco commented on #2687
We've replaced the Mailchimp signup with a temporary Google Form sign up until we procure newsletter software.

[2018-05-14 22:50] eddietejeda commented on #2752
I am looking into this with @adborden

[2018-05-17 16:11] awfrancisco opened #2760 "Sync join us content between join.18f.gov and join.tts.gsa.gov"
Much of the content on join.tts.gsa.gov was copied from join.18f.gov, but now it has been updated. We need to copy those updates back onto the 18F site. After making this change, we can work on a better system for maintaining this content in the future.

List of specific content changes TBD.

[2018-05-22 19:09] Dahianna opened #2764 "Information Architecture research"
Perform a tree testing to learn where potential partners will look to find certain information or learn more about an specific topic.

[2018-05-25 18:09] eddietejeda commented on #2702
In progress here: https://github.com/18F/pages-redirects/commit/688169735d469963ddc56c1a14e4bd8e885d0e68

[2018-05-25 19:31] eddietejeda opened #2768 "Propose possible titles for blog"
The existing blog for 18F website does not have a name.

Propose a couple names, get feedback from 18F staff and readers of the blog, and suggest best names to 18F website team.

[2018-05-25 19:35] eddietejeda opened #2769 "Find blog posts to highlight"
Review existing blog entries and identify a couple of "best of" groupings.  Propose the grouping names and the specific posts.

A few possible groupings may include:
- “Post from our partners”
- “Popular posts”
- “Examples of lasting impact”

Work with @Dahianna to identify popular posts.

[2018-05-25 19:40] eddietejeda opened #2770 "Identify key metrics to measure success in blog"
Reach out to DAP team to learn about the site's analytics. Identify metrics used to measure success of blog posts.

Key metrics may include:
- popular posts
- most linked/shared
- breakdown of readers coming from gov domain vs public
- time on post

Provide team with examples of metrics and specific blog posts. We will then use these metrics as baseline and see what changes as we make improvements

[2018-05-25 19:44] eddietejeda opened #2771 "Propose design examples for highlighting blog entries"
We want to highlight successful blogs on the front page. Review examples of designs that may work for 18F site.

- [x]  Propose examples to 18F website team
- [ ]  Identify which 18F member can help implement design changes

[2018-05-25 19:46] eddietejeda opened #2772 "Add loading icon to search results page"
The search results page has a multi-second delay before actual results are shown. The long delay looks like an error. This could be resolved by adding a loading icon.

- [x] Review code that returns results
- [x] Add loading icon

[2018-05-30 15:54] awfrancisco opened #2776 "Project page: State Diamonds"
Write a project page about the Path Analysis and build of the new [USKPA.org](https://www.uskpa.org/) (United State Kimberley Process Authority).

Emphasis should be on the flexibility of the Path Analysis, mission of the project, and large change from a small technical engagement.

More info here
https://docs.google.com/document/d/1nxkxgO3264PNq3mUH-xCa6_2rO5oLRLrkpVMOdg43TQ/edit#heading=h.gckw2p

[2018-05-30 21:16] Dahianna commented on #2771
I looked at blogs from other civic tech and fed tech consulting organizations, and they seemed to follow one of these two formats:
- [Design 1](https://docs.google.com/drawings/d/1WyIWDoLJNgamGHmcD_ISWv2jmGGA0cZ7v6bkK2Q8ZVU/edit)
- [Design 2](https://docs.google.com/drawings/d/1ZCkpUtQyKcJ5eDZso7ypI9JCjDFJQv5T4thnvU1YuOw/edit)

After looking at those examples, I came up with this [proposal](https:

[2018-05-31 16:49] Dahianna commented on #2770
After doing some research, I created this [list](https://docs.google.com/document/d/1Vi0ANzygsysnhXFJSU3Rb8d6ArZCxgXPOb67kmKy2Eg/edit) of metrics for the blog. Most of these should be available on Google Analytics. Andre and I will work on gathering this information.

[2018-05-31 17:48] eddietejeda commented on #2771
Looks good! Lets discuss what "feature posts" means and how we will use it to track our key metrics.

[2018-05-31 21:18] awfrancisco opened #2777 "Search results return some blank entries"
## Expected Behavior
When a user enters a search term, they get links related to that term

## Actual Behavior
For some search terms (such as `software`), a portion of the search results are blank lines. For example:

![18f-search](https://user-images.githubusercontent.com/12051887/40808838-1572d196-64ee-11e8-9138-3f5522d3f881.jpeg)

## Steps to reproduce the behavior
- [ ] Enter `software` in the

[2018-05-31 22:06] awfrancisco commented on #2769
[Draft categories and blog posts](https://docs.google.com/document/d/1s1AZYCxR7VW557evmC_g1h4D7SBTJjniyNMfuW5_nkY/edit)

[2018-06-01 02:12] eddietejeda commented on #2777
I noticed this yesterday as well. Is this new behavior?  I can investigate.

[2018-06-01 13:00] awfrancisco commented on #2777
I don't think I've seen it before. Did you notice it with another search term?

[2018-06-01 14:41] awfrancisco commented on #2771
Playing around with [another version](https://docs.google.com/drawings/d/1PFDauXQQaTULOGs_eCzuY9yemJ2-4xW7PYku6x8uqA8/edit)

[2018-06-01 16:24] awfrancisco opened #2778 "Add button to /contact to blog posts"
Hypothesis: Adding a contact button or banner to blog posts will increase the number of people who email inquiries18f@gsa.gov about working with 18F.

[2018-06-05 14:12] awfrancisco commented on #2769
The link above has a number of possible categories with 3 top blog posts for each category and some alternatives. Thoughts welcome.

[2018-06-07 15:01] Dahianna commented on #2770
The doc is updated with the relevant metrics and how we are going to use them.

[2018-06-07 19:00] floresam commented on #2777
I noticed this while searching "blog"
![image](https://user-images.githubusercontent.com/15929779/41120413-71b0d64a-6a63-11e8-8722-2d038bab3e2c.png)

[2018-06-07 19:02] Dahianna commented on #2771
Added screenshots from the site to the version above to improve the mock-up

[2018-06-13 15:22] eddietejeda commented on #2771
@awfrancisco What do you think of linking to categories instead of specific posts?

[2018-06-15 14:22] awfrancisco commented on #2771
That's fine with me, but we should probably create new categories specifically for the homepage, tag old posts, and then use them to highlight especially good ones going forward.

[2018-06-18 18:13] eddietejeda commented on #2777
This is resolved in #2786

[2018-06-18 20:46] Dahianna commented on #2770
I've added the numbers for the blog to contact conversion for gov traffic

[2018-06-19 18:44] awfrancisco opened #2792 "Reinforce that 18F staff are federal employees"
New partners often assume we are private contractors, even after a couple conversations. Telling them that we are federal employees helps simplify and streamline the IAA process. We should do a light content review of the About, How We Work, and Contact pages to see where we can add additional language to reinforce that we are federal employees.

## This is issue is done when:
- [ ] Evaluate About

[2018-06-19 19:59] eddietejeda opened #2793 "Organize card sorting session for creating tags"
## Expected Behavior
As a vistor to 18f blog, I want to be able to read the best content organized by key topics and categories. To determine what these categories are, we will need to organize session with users to see what the best labels are.

## This is issue is done when:
- [x] Draft [research plan](https://docs.google.com/document/d/1s1AZYCxR7VW557evmC_g1h4D7SBTJjniyNMfuW5_nkY/edit#) and cre

[2018-06-19 20:32] eddietejeda opened #2794 "Work with design team to implement changes to blog"
## Expected Behavior
As a visitor to the site, I want to see the most recent blog post and have visibility into other top posts that show me what 18F does.

Based on our research, we developed mockups that help accomplish this goal. Now we need to begin implementing.

## This is issue is done when:
- [x] [Draft ](https://docs.google.com/document/d/1aM1OPHo-g7P-gv3tPI9DQLwSsjQ9lUbAidjGS26uOMA/edit)

[2018-06-19 20:41] eddietejeda opened #2795 "Redirect a single subdomain site to its directory URL"
## Expected Behavior
The existing subdomain structure for microsites is not sustainable long term. We will need to redirect existing subdomains to a directory URL structure.

Our first site will redirect https://blogging-guide.18f.gov/  to  https://handbook.18f.gov/blogging/

## This is issue is done when:
- [x] Work with Federalist team to figure out how to redirect URLs
- [x] Implement changes o

[2018-06-19 21:35] Dahianna commented on #2793
I've updates this [doc](https://docs.google.com/document/d/1s1AZYCxR7VW557evmC_g1h4D7SBTJjniyNMfuW5_nkY/edit#) to include the research plan

[2018-06-20 00:41] #2769 closed

[2018-06-20 00:41] #2772 closed

[2018-06-20 00:41] #2777 closed

[2018-06-20 00:42] #2771 closed

[2018-06-20 00:42] #2770 closed

[2018-06-21 19:59] awfrancisco opened #2800 "Remove dates from blog excerpts on project pages"
Old dates on the blog posts at the bottom of project pages can give the impression that the site is outdated, even if there are new blog posts published elsewhere.

## This is issue is done when:
- [x] Update the template for blog excerpts on project pages to remove the date field

[2018-06-26 01:55] LSummers33 opened #2802 "Broken link to FDA resume template"
## Expected Behavior
URL opens to PDF of FDA resume template in another browser tab.

## Actual Behavior
URL currently returns following response:

    Content Server Request Failed
    Unable to download 'UCM279014'. Unable to find latest released revision of 'UCM279014'.

## Steps to reproduce the behavior
- On a web browser visit https://18f.gsa.gov/join/#government-style-resumes
- Click on lin

[2018-06-26 20:35] awfrancisco commented on #2794
Looks like the design lab is a little backed up. We might not get a design back during this sprint, but we'll get the ball rolling.

[2018-06-26 20:50] awfrancisco commented on #2802
Thanks for filing this issue @LSummers33! We'll work on getting that content updated.

[2018-07-03 16:19] Dahianna commented on #2793
[Preview](https://usagov.optimalworkshop.com/optimalsort/n0i73tt0) for the card sorting exercise

[2018-07-03 18:54] eddietejeda commented on #2795
Made pull request with Federalist team: https://github.com/18F/pages-redirects/pull/110

[2018-07-03 18:56] Dahianna commented on #2794
Design lab mockups https://github.com/18F/design-lab/issues/17

[2018-07-03 19:42] #2802 closed

[2018-07-06 21:30] awfrancisco commented on #2760
[Draft content](https://docs.google.com/document/d/1KOX-yrleOp9F0lYfuudmnE6zj9jiMCwSR_JRLr4Wl5E/edit#heading=h.nsw8abl9zp9z)

Sent to Talent for review.

[2018-07-10 18:05] awfrancisco opened #2816 "Fix metadata for Twitter cards"
## Expected Behavior
Tweets with links to 18F blog posts should show the correct headline of the blog post and a large image if available.

## Actual Behavior
The Twitter card pulls a small image and a generic title for the 18F site, though it does include accurate excerpt text.

Example https://gsa-tts.slack.com/archives/C02QNKTNK/p1531239132000028

[Twitter card validation tool](https://cards-de

[2018-07-10 18:24] awfrancisco opened #2817 "Research: How application/job information is split between TTS and 18F join sites"
Information about open positions, how to apply, pay, and benefits is currently both on join.18f.gov and join.tts.gsa.gov. The information on join.18f.gov is designed to encourage people to apply, while join.tts.gsa.gov has more comprehensive information that includes info on the process and how to submit an application. The TTS site is also the official home of all job descriptions. The 18F site l

[2018-07-11 14:42] awfrancisco opened #2818 "Project Page: NSF Brand Principles"
A new project page on our work with the National Science Foundation to help them develop brand principles. We already have [another project page](https://18f.gsa.gov/what-we-deliver/seed-fund/) about a separate NSF project.

[Draft of new project page](https://docs.google.com/document/d/16uT7Jip6uFvxaf5t_I11FXoKPjvPIXLOIoA_igSx01g/edit#heading=h.yak0e3ymzg61) by @kategarklavs

## This issue is don

[2018-07-11 18:17] awfrancisco commented on #2760
Content cleared by Talent

[2018-07-13 21:31] awfrancisco commented on #2794
@hbillings Is on for this one. I think we can close and track this in the issues she is going to open.

[2018-07-13 21:31] #2794 closed

[2018-07-13 21:32] awfrancisco commented on #2793
@Dahianna will we have enough data from this to choose the best tags on Tuesday before sprint planning?

[2018-07-13 21:32] awfrancisco commented on #2768
Going with 18F Blog. Will be implemented in new blog design.

[2018-07-16 23:27] hbillings opened #2824 "Implement new layout for blog page"
The [new blog design](https://github.com/18F/design-lab/issues/17#issuecomment-402828003) ...
- [x] requires a sidebar layout instead of the existing full-page one.
- [x] moves the search bar out of the header into the sidebar.
- [x] adds new lines of content to the header.
- [x] adds a footer with a "get in touch" call to action.

[2018-07-16 23:32] hbillings opened #2825 "Add topics, popular articles & social media to sidebar"
The [new blog design](https://github.com/18F/design-lab/issues/17#issuecomment-402828003) contains...
- [x] a hard-coded list of topics.
- [x] a hard-coded list of popular articles.
- [ ] social media icons.

[2018-07-16 23:34] hbillings opened #2826 "Update blog visual design"
The [new blog design](https://github.com/18F/design-lab/issues/17#issuecomment-402828003) changes a few visual artifacts:
- [x] move images under headlines and next to excerpts
- [x] change tag colors
- [x] move date next to authors
- [x] unbold author name and date
- [x] change author link color
- [x] move tags above excerpt
- [x] nix the "Continue reading" link in favor of linking the excerpt
-

[2018-07-17 17:00] Dahianna commented on #2793
The card sorting exercise was closed today, and you can see the results [here](https://www.optimalworkshop.com/optimalsort/usagov/n0i73tt0/shared-results/p288w2s31yhh3ctxuj12bhb423q5lb57). The TLDR is as follows:

We had 110 participants who completed the questionnaire and exercise with the following results:

- **Lessons learned** - 94%
- **Modern practices** - 93%
- **What not to do** - 84%
- **

[2018-07-17 20:06] #2795 closed

[2018-07-17 20:15] eddietejeda commented on #2793
Based on the results, we've selected the following tags:

- Lessons learned
- Modern practices
- Convincing stakeholders
- Culture change
- Product launch

[2018-07-17 20:15] #2793 closed

[2018-07-17 20:21] #2768 closed

[2018-07-17 20:33] eddietejeda commented on #2816
Eddie will investigate

[2018-07-23 20:59] Dahianna commented on #2749
## Research Recommendations
- Include a timeline, preferably a graph, on the 18F partnership process
- Decrease the amount of text by creating graphics that explain the process or breaking down the text using bullet points.

[2018-07-24 17:21] Dahianna commented on #2800
I found the template for the project pages https://github.com/18F/18f.gsa.gov/blob/master/_layouts/project-page.html @hbillings can we fix it by just deleting **line 155** _post_date=post.date_?

[2018-07-25 00:20] hbillings commented on #2800
@Dahianna Yes! You'll want to remove it on line 155 there, and also remove [line 9 of `_includes/related-posts.html`](https://github.com/18F/18f.gsa.gov/blob/master/_includes/related-posts.html#L9). I *think* that should work (and if for some reason removing line 155 of `_layouts/project-page.html` breaks something, removing just line 9 of the related posts template should do the trick).

[2018-07-25 20:42] Dahianna commented on #2800
Removing the date line from both of these files didn't work. I'll keep investigating @hbillings

[2018-07-26 12:23] Dahianna opened #2837 "Remove and add new link for IAA"
The [IAA page](https://iaa-forms.18f.gov/) is no longer in use. We need to remove the link from the About page and find a new source of information

## This issue is done when:
- [ ] Remove link from page
- [x] Find new resource
- [ ] Add new link

[2018-07-27 15:58] #2760 closed

[2018-07-27 16:50] awfrancisco commented on #2824
Potential blog tag lines

A view from the inside of
technology modernization

Bits, bytes, words, and lessons
from 18F’s partnerships

What we delivered and what we
learned in the process

[2018-07-30 19:48] awfrancisco commented on #2702
Update sent out to team about redirects

[2018-07-30 20:33] Dahianna commented on #2749
[Here's](https://docs.google.com/presentation/d/1rq9ZRGva1EYRW9CTITkUo_sI8y4xTE90ORtYrkfwyh8/edit?usp=sharing) a very rough concept for the process graph

[2018-07-31 17:49] Dahianna commented on #2749
Here's a [doc](https://docs.google.com/document/d/1hUV8Fyc3W8GVpFyAyNyFkvDxAYMU48CxwiKAKzBi66w/edit?usp=sharing) with the process. Feel free to edit as necessary.

[2018-07-31 19:43] eddietejeda commented on #2702
This is done https://github.com/18F/dns/commit/9cf3513336d097c63abbe4e5b2441114525847ab

[2018-07-31 19:43] #2702 closed

[2018-07-31 19:53] eddietejeda commented on #2824
For now, lets go with:

"A view of how we
deliver civic technology"

[2018-07-31 19:57] eddietejeda commented on #2800
I can take a look here as well.

[2018-07-31 20:04] eddietejeda commented on #2749
Want to follow up with designers?

[2018-07-31 20:12] Dahianna opened #2840 "Update Ruby"
We need to update the site to the newest version of Ruby.

## This issue is done when:
- [ ] Update site to newest version

[2018-07-31 20:20] Dahianna opened #2841 "Add "Here's how you know" link to official US gov site banner"
Investigate why the link is missing from the banner. It should look like [this](https://cloud.gov/)

## This issue is done when:
- [ ] We identify the issue and fix it
- [ ] The link appears on the 18f site banner

[2018-07-31 21:05] Dahianna commented on #2837
Changes made https://github.com/18F/18f.gsa.gov/pull/2843

[2018-07-31 21:05] #2837 closed

[2018-08-09 14:32] awfrancisco opened #2851 "/developer page"
Evaluate the content of https://18f.gsa.gov/developer/ and decide if it needs editing or to be removed.

[2018-08-09 19:32] eddietejeda opened #2852 "Evaluate sunsetting unmaintained 18f micro-sites"
The following list includes sites that do not appear to be maintained.

https://docs.google.com/spreadsheets/d/1p39U0KNi1tV2laNZORQ3uchBFvEZlUmIgv9DXyBMlqg/edit#gid=0

[2018-08-09 22:21] eddietejeda opened #2853 "Remove CodeClimate and switch to Snyk"
CodeClimate is no longer supported by 18F. We need to switch to Snyk.

[2018-08-10 01:03] adborden commented on #2853
Fixed by https://github.com/18F/18f.gsa.gov/pull/2855

[2018-08-10 01:03] #2853 closed

[2018-08-21 17:34] hbillings commented on #2825
@eddietejeda @awfrancisco is this content ready?

[2018-08-21 18:40] awfrancisco commented on #2825
Not yet, but we can add them to the next sprint.

[2018-08-21 19:33] #2752 closed

[2018-08-21 19:36] eddietejeda commented on #2800
Merged #2856

[2018-08-21 19:36] #2800 closed

[2018-08-21 19:37] eddietejeda commented on #2749
We working with Aviva on this... More information later.

[2018-08-21 19:38] Dahianna commented on #2749
Design lab [issue](https://github.com/18F/design-lab/issues/18)

[2018-08-21 19:39] #2852 closed

[2018-08-21 19:44] awfrancisco opened #2867 "Close/redirect microsites"
Close and redirect next batch of microsites in this spreadsheet
https://docs.google.com/spreadsheets/d/1p39U0KNi1tV2laNZORQ3uchBFvEZlUmIgv9DXyBMlqg/edit#gid=0

Tasks
- [ ] Redirect sites
- [ ] Archive repos
- [ ] Prepare comms to team about closures

[2018-08-23 19:06] awfrancisco commented on #2825
[Here's a doc](https://docs.google.com/document/d/1pZzbcT288UyyjHUfpkn63CkNQwJjtAUlFyguS_7IgWA/edit) with the topics, popular articles, and social media icons. They should all be listed in the order they are listed in this doc. The `convincing stakeholders` and `product launch` topics/tags do not exist yet, but I'll get on that. But this is the list if you want to add it to the new design.

[2018-08-24 19:55] awfrancisco commented on #2825
Once #2870 is merged, this content is ready go into the new blog design.

[2018-08-26 16:09] Atul9 commented on #2840
@Dahianna I have opened up a PR for this #2871

[2018-08-27 16:45] awfrancisco commented on #2851
After evaluating the content on /developer, I suggest that we remove it from the site. Many of the programs and links are outdated or no longer supported. We have not fulfilled the goal for this page to provide current resources for developers from our projects with other federal agencies.

I think an actively maintained version of this page would be valuable to a subset of technically capable mem

[2018-08-28 16:19] awfrancisco opened #2875 "CircleCI can not run on forks"
## Expected Behavior
We would like to be able to easily accept contributions from members of the public and staff outside the core 18F site team while still following our continuous deployment and integration rules.

## Actual Behavior
CirceCI will not successfully run on pull requests from forks of the 18f.gsa.gov repo. Therefore, pull requests from the public fail to pass the required tests and

[2018-08-28 16:20] hbillings commented on #2875
Perhaps helpful: https://circleci.com/docs/1.0/fork-pr-builds/

[2018-08-28 17:51] eddietejeda commented on #2875
I understand why it's not a good idea to trigger the pull on other people's pull requests. From now on, I am going to merge the public's pull request into a branch, test myself, and merge the branch.

[2018-08-28 19:22] awfrancisco opened #2876 "Rethink the /developer page and/or developer resources"
Hypothesis: A researched and maintained version of the now-closed /developer page (#2872) would be a valuable resource to two primary audiences:

- Technical federal employees looking to explore our work who could become future partners or advocates
- Potential candidates interested in more technical roles, such as engineering or design

This page could potentially include resources like

- APIs w

[2018-09-04 19:27] eddietejeda commented on #2840
Thanks for the pull request @Atul9! We're fixing a few tests that are failing due to this update. Will merge when we fix these tests.

[2018-09-04 19:33] eddietejeda opened #2879 "Get updates on designs"

[2018-09-10 16:26] eddietejeda opened #2883 "Update USWDS library"
The site's USWDS is a couple years old and some functionality, like the dropdown stating the site is an official site does not work with this older version library.

I've begun investigating updating the USWDS library and fortunately it is possible.

[2018-09-10 16:28] eddietejeda commented on #2840
It looks like the tests were failing previously but this update is now blocked. Fixing the tests first.

[2018-09-10 16:28] hbillings commented on #2841
I _think_ we could probably crib off an old site (pretty sure that CALC, for instance, uses an older version of WDS). I'm happy to look into this if it's helpful.

[2018-09-10 16:29] eddietejeda opened #2884 "Tests are failing in new version of ruby."
The tests are failing in the new version of Ruby.

/Users/eddie/.rvm/gems/ruby-2.5.1@18f.gsa.gov/gems/rspec-core-3.5.4/lib/rspec/core/configuration.rb:1435:in `load': cannot load such file -- /Users/eddie/Code/18f.gsa.gov/_layouts/spec/_plugins/author_data_spec.rb (LoadError)

It appears that paths are getting screwed up.

[2018-09-10 16:29] #2816 closed

[2018-09-10 16:31] eddietejeda commented on #2841
That would be great! Keep us posted.

[2018-09-10 21:18] awfrancisco opened #2888 "Review access and contributors"
Review the permissions of people and teams for the 18f.gsa.gov repo

[2018-09-11 18:12] awfrancisco commented on #2557
Could be done in conjunction with #2490

[2018-09-18 17:11] Dahianna commented on #2817
[Findings and recommendations](https://docs.google.com/document/d/1OLBRdNj-qMEsGxY7DOc2-zYNPFGb8ZE4RWriyxTfT1U/edit?usp=sharing)

[2018-09-19 00:36] eddietejeda opened #2891 "Using LinkedIn and Facebook pages"
The LinkedIn and Facebook pages for 18F are currently abandoned. We should either shutter them or keep them current.

My take: We seem to use Twitter effectively. We should just post the same content on FB and LinkedIn.

[2018-09-19 15:37] Dahianna commented on #2557
[Research plan](https://docs.google.com/document/d/19gSpx0JUk5W-RnTkCpDBb6F3W_1ClTUmSuQb1XjFq-A/edit?usp=sharing)

[2018-09-20 14:54] awfrancisco commented on #2891
The linkedin page is probably a question for Talent. I'd rather shutter them than do a half strategy.

[2018-09-20 17:11] Dahianna commented on #2817
**TLDR**
Recommendations
- Add teleworking as a benefit for all employees, not just remote positions.
- Try to reduce the amount of text by using graphics or linking out to resources.
- We can include a short timeline similar to the one in the TTS Join site.
- Some candidates looked through the site and found the project pages. We could linked to the project pages from the Join page to make it eas

[2018-09-20 17:40] eddietejeda commented on #2817
@awfrancisco will write new issue outline an issue describing what language can be used on the 18F Join page.

[2018-09-20 17:40] #2817 closed

[2018-09-20 17:44] #2824 closed

[2018-09-20 17:44] #2826 closed

[2018-09-20 17:44] #2879 closed

[2018-09-20 17:45] eddietejeda commented on #2749
We will revisit in October.

[2018-09-20 17:47] eddietejeda commented on #2687
We should get the sign up code for the contact page by Oct. We will check in on this then.

[2018-09-28 19:51] Dahianna opened #2894 "Update style guide"
Now that we changed the design for the blog template we need to update the blog post template in the guide.

## Next steps:
- [ ] Update the [guide](https://18f.gsa.gov/styleguide/layouts/#blog-post-template)

[2018-10-02 18:55] eddietejeda commented on #2888
@awfrancisco looks like we'll need your permissions to complete this. Let's discuss when you return.

[2018-10-04 00:42] aegershman opened #2895 "Off-topic: any information on how 18f does billing / chargeback?"
Apologies, I know this isn't a "real" issue. Not sure where else to post this. Feel free to close this issue if you no one has any intention of answering this, no hard feelings.

I'm very curious how 18f does chargeback for orgs/teams, both on **how an invoice is calculated**, and on **how the money is transferred from one org to the platform team**:

- Is it an automated process?
- Do you integra

[2018-10-09 21:07] awfrancisco commented on #2895
Hello! 18F bills its partner agencies for actual time staff spend on projects based on a set hourly rate. Staff record their time using a tool we developed called Tock and then we create invoices based on hours reported to Tock. Our account managers manually send invoices to our partner agencies. 18F uses an Interagency Agreement form to create an official partnership with agencies, and that form

[2018-10-10 15:01] aegershman commented on #2895
Gotcha. That does explain how 18F bills for labor-hours, though I'm more curious how CF platform tenants (e.g., orgs that are running their workloads on the platform) are billed for their app-usage hours / services?

[2018-10-11 18:51] Dahianna commented on #2749
Aviva is moving to a full-time project, so we are waiting for a new designer from the lab

[2018-10-11 18:53] Dahianna commented on #2490
## Recommendations TLDR

- Redesign the contact page to have the emails in the front of the page and not on the sidebar.
- Discuss if the paragraphs in the contact page are necessary or are they better suited for other areas of the site such as “How we work”
- Revisit the possibility of creating a contact form.
- Include some information on 18F’s locations
- Remove email us button from the contact

[2018-10-11 19:43] Dahianna commented on #2687
New code can be found [here](https://docs.google.com/document/d/1YZ_J0z_YWfsPXK4z4Aj_fMr8D4DZ6S7Y7-X03tt-XCg/edit#heading=h.z0udyh6s630m)

[2018-10-12 16:31] Dahianna commented on #2557
Findings from researched done on the contact show that these resources are not necessary on the contact page. Check issue #2490

[2018-10-12 16:32] #2557 closed

[2018-10-12 16:35] eddietejeda opened #2899 "Use consistent header color in tags page"
## Expected Behavior
The "tags" page should use similar header colors as other blog pages.

## Actual Behavior
When you go to a tag page, the header is white and does not resemble any other page.

You can see the blue header here: https://18f.gsa.gov/blog/
And a white header here: https://18f.gsa.gov/tags/lessons-learned/

This was not a decision, but an oversight.

[2018-10-14 17:38] Dimalover opened #2901 ""><img src=x onerror=alert()>"
## Expected Behavior

## Actual Behavior

## Steps to reproduce the behavior
- [ ]
- [ ]
- [ ]

## This issue is done when:
- [ ]
- [ ]
- [ ]

[2018-10-15 21:02] Dahianna commented on #2490
Mockup
![contact page mock-up](https://user-images.githubusercontent.com/22921144/46978156-22ac6880-d09c-11e8-905e-2de39f2406e2.jpg)

[2018-10-16 16:34] awfrancisco commented on #2687
We have the new embed code. This is ready to be added to the next sprint.

[2018-10-16 17:18] Dahianna commented on #2687
The code for the box is also in this [doc](https://docs.google.com/document/d/1YZ_J0z_YWfsPXK4z4Aj_fMr8D4DZ6S7Y7-X03tt-XCg/edit#)

[2018-10-16 18:30] awfrancisco opened #2903 "Integrate state and local work into site content"
With Acquisition moving back into 18F, 18F now works with state and local agencies with federal funding. Language throughout the site describes our partners as federal agencies. We should review that content and update it to reflect our broader partner base, while also making it clear that state and local partners must have federal funding to work with 18F.

[2018-10-16 19:12] awfrancisco opened #2904 "Project page: Alaska Medicaid"
As part of bringing acqusition content into the 18F site, we should [migrate this page about the acquisition project with Alaska](https://modularcontracting.18f.gov/projects/ak-medicaid/) into a project page.

- [x] Transfer content to a [google doc](https://docs.google.com/document/d/1GTffbENWhqkAuOv9fEcztkM3pBmQp7F-1qBF1jCGuX8/edit#)
- [x] Create writing lab [request](https://docs.google.com/doc

[2018-10-16 19:13] eddietejeda commented on #2825
Hi @hbillings. How is this looking? Ready for merge?

[2018-10-16 19:19] awfrancisco commented on #2490
[Issue for writing lab](https://docs.google.com/document/d/1rzhUsqCVwpsONhP1gj8nuTOpVShebc4ynrIuiRa5X4o/edit)

[2018-10-16 19:20] hbillings commented on #2825
I don't know where the social media icons in the mockup are from, still.

[2018-10-16 19:23] #2901 closed

[2018-10-16 19:32] eddietejeda opened #2905 "Can we get a list of Federalist website?"
To catalog all of TTS's websites, we need a list of all Federalist websites.

[2018-10-16 19:38] eddietejeda commented on #2467
Being tracked here: https://github.com/18F/writing-lab/issues/386

[2018-10-16 19:38] #2467 closed

[2018-10-17 19:43] maya commented on #2899
Have you looked at the design files (Sketch)? They do not use a dark header, unless there was a more recent one that did.
<img width="805" alt="screen shot 2018-10-17 at 12 39 51 pm" src="https://user-images.githubusercontent.com/5249443/47111984-ded77180-d209-11e8-8eae-3adc6470b55a.png">

[2018-10-18 21:04] eddietejeda commented on #2899
Oh, I didn't see the Sketch file. Do you recall what the rationale was for it sometimes being white and other times being blue?

[2018-10-18 21:19] maya commented on #2899
No, I don't recall any reasoning as that question never came up. If I had to guess, it looks as though the blue was used for regular internal page types and the tags page was different enough to warrant this style.

[2018-10-18 21:34] maya commented on #2883
What version of the USWDS is it currently using?

[2018-10-18 21:34] maya commented on #2883
I'd recommend breaking that into its own issue, as it seems distinct enough and may not be related to the USWDS version, though we'd have to investigate.

[2018-10-18 21:42] maya commented on #2825
_Chiming in as I have some time..._

It looks like the social media icons are in this [Sketch file](https://github.com/18F/design-lab/files/2167943/blogSketch-ah.zip).

[2018-10-18 21:53] eddietejeda commented on #2883
It's using pre-versioned USWDS, but https://github.com/18F/18f.gsa.gov/tree/update_to_uswds_1.6.8 adds support for a more recent version. The upgrade seemed okay, but I did not have time to verify it.

The dropdown is its own issue: https://github.com/18f/18f.gsa.gov/issues/2841

This issue is focused on just the upgrade.

[2018-10-18 21:57] maya commented on #2883
It can't be pre-versioned bc it launched as version 0.8 three years ago and the USWDS code is from two years ago.

[2018-10-18 22:02] maya commented on #2883
Going just off of the dates, it looks as though it could have been version 0.11.1.

[2018-10-19 01:08] eddietejeda commented on #2905
@awfrancisco
https://docs.google.com/spreadsheets/d/17IG7n6HqjxIyemld8YawIvY_7n3Eny4w9bnuzx_8dTc/edit#gid=0

[2018-10-19 13:49] awfrancisco commented on #2905
Thanks!

[2018-10-19 13:49] #2905 closed

[2018-10-19 20:15] Dahianna commented on #2904
@eddietejeda [here's](https://docs.google.com/document/d/1xMVyueOhm4fM4KrbmVwcE_sGgKOveyNxGUT_WvERvv8/edit?ts=5bca166f) the text for the writing-lab request

[2018-10-23 14:54] eddietejeda commented on #2904
Writing lab request https://github.com/18F/writing-lab/issues/395

[2018-10-23 17:59] maya commented on #2825
Done in #2887.

[2018-10-23 17:59] #2825 closed

[2018-10-26 14:08] #2749 closed

[2018-10-30 19:16] eddietejeda opened #2912 "Update jekyll"
## Expected Behavior

Jekyll should always be running the latest version.

## Actual Behavior

It's currently not.

## This issue is done when:
- [x] Update Jekyll
- [x] Release to production

[2018-10-31 18:36] eddietejeda commented on #2912
Pull request made: https://github.com/18F/18f.gsa.gov/pull/2913

[2018-10-31 19:07] awfrancisco commented on #2912
A+ issue description

[2018-11-01 16:27] awfrancisco opened #2916 "Create tag for Alaska Medicaid project and add it to old posts"
## This issue is done when:
- [ ] Create tag `alaska`
- [ ] Add to relevant blog posts

Add tag to these posts
https://18f.gsa.gov/2017/09/12/how-alaska-is-using-transparency/
https://18f.gsa.gov/2018/10/25/modular-contracting-and-working-in-the-open/
https://18f.gsa.gov/2018/05/22/using-agile-methods-to-improve-the-rfp-process/
https://18f.gsa.gov/2018/03/13/win-big-by-going-small/
https://18f.gs

[2018-11-01 17:20] awfrancisco commented on #2916
To be done before publishing #2904

[2018-11-01 23:16] hannahkane opened #2918 "Replace quote on /what-we-deliver/hhs-states/"
We're re-purposing the pullquote on the HHS project page for the newer Alaska Medicaid page (/what-we-deliver/alaska-dhss/), so we should either remove or replace the quote on the HHS page.

See discussion here: https://github.com/18F/writing-lab/issues/395

[2018-11-02 15:05] Dahianna commented on #2918
@nkkl and @hannahkane Before we remove the quote, let me know if you'll be able to get a new one

[2018-11-02 16:19] hannahkane commented on #2918
cc @alexpandel because I'm not sure who's in the best position to get a new quote (I know it's not me 😉)

[2018-11-02 17:29] awfrancisco commented on #2916
Closed by #2919

[2018-11-02 17:29] #2916 closed

[2018-11-02 18:23] nkkl commented on #2918
TBH this is lower priority than getting our IAA mod hashed out, and it'll probably need to be escalated a bit to their comms people, so CMS will be a minute.

Would getting a quote from the Vermont project suffice?

[2018-11-02 20:37] awfrancisco commented on #2918
Yeah, Vermont would work. And doesn't have to be urgent.

[2018-11-09 19:03] #2918 closed

[2018-11-09 19:04] #2904 closed

[2018-11-09 19:30] eddietejeda commented on #2888
We completed this!

[2018-11-09 19:30] #2888 closed

[2018-11-13 20:12] #2687 closed

[2018-11-13 20:41] #2912 closed

[2018-11-13 20:44] eddietejeda commented on #2895
Not sure. That's a question for https://github.com/18F/cg-site team.

[2018-11-13 20:44] #2895 closed

[2018-12-05 18:48] #2899 closed

[2018-12-05 18:48] #2867 closed

[2018-12-11 20:30] Dahianna commented on #2776
Here's the draft: https://docs.google.com/document/d/1V5Cz67Ftsg4-14zKKkzpzicTpTMYoGuG9D-Rz9wLgBY/edit?usp=sharing

[2018-12-11 21:21] #2903 closed

[2018-12-11 21:24] eddietejeda commented on #2753
@Dahianna can you break this apart into smaller issues?

[2018-12-11 21:29] eddietejeda opened #2938 "Update the list of agencies we've worked with?"
The list of agencies should represent the work we want to work with. Does this list accomplish that? This list of agencies is out of date and over 2 years old.
https://18f.gsa.gov/what-we-deliver/

This issue is done when:

- [x] New agencies have been selected
- [x] Agencies information and logo has been added to banner

[2018-12-12 15:35] Dahianna opened #2939 "DOJ Litigation Project Page"
Draft a project page for the DOJ project to showcase path analysis

[2018-12-12 15:36] Dahianna opened #2940 "NSF CMS Project Page"
Draft a project page for NSF CMS project to showcase path analysis

[2018-12-12 15:37] #2753 closed

[2018-12-12 15:38] Dahianna opened #2941 "DOD / EA Cyber Training Ranges Project Page"
Draft a project page  for the Army Cyber project to showcase path analysis

[2018-12-12 15:50] Dahianna commented on #2764
I believe we covered this on the `What we deliver vs. How we work` research, so I am going to close this issue.

[2018-12-12 15:50] #2764 closed

[2018-12-12 15:59] Dahianna commented on #2891
I talked to Talent and they don't own https://www.linkedin.com/showcase/18f/ We should talk with OSC to determine who owns this page. As for Facebook, I don't think it reaches our niche audiences, so we can shutter it. I'll discuss with Karen.

[2018-12-12 16:09] eddietejeda commented on #2891
I think that's a good idea. USDS uses LinkedIn and they get a lot of attention there. I think claiming our 18F page and using it to post excerpts from our blog would be useful.

Facebook: yeah, I agree. I doubt that's our audience.

[2018-12-12 17:24] Dahianna opened #2942 "Create a default image in the blogs metadata for Twitter"
Right now blogs with no images show as a gray box in Twitter. A default image will make it more visually appealing and it might increase clicks

[2018-12-14 15:21] Dahianna commented on #2778
Add the `Get in touch` banner after related posts

[2018-12-14 20:46] Dahianna commented on #2941
agency: "Department of Defense"
title:
subtitle:
permalink:
redirect_from:
excerpt:
Image:
image_accessibility: ""
project_weight:
tag
expiration_date:
github_repo:
project_url:
resources:

## BACKGROUND
### Heading
Text

_“Quote”_

## APPROACH
### Heading
Text

**Agency partner**
Department of Defense

**See our work** (if available)

**See the code on Github** (if available0

[2018-12-21 15:55] Dahianna commented on #2891
The Facebook is not really a page just an interest. I made changes to the logo and submitted it. Not sure how long the approval process takes. I am meeting with the OSC person in charge of LinkedIn in January when she comes back from maternity leave

[2018-12-21 16:07] eddietejeda opened #2946 "system security plan xml is out of date."
Not sure if this is relevant anymore. Should we update or can we remove this?

https://github.com/18F/18f.gsa.gov/blob/master/system-security-plan.yml

cc: @erik-burgess @kimberbat are either of you familiar with this?

[2018-12-28 20:32] Dahianna opened #2947 "Project page for DOJ Civil Rights Citizen Complaint Portal PA + E&I"
After project wraps up we should talk to the team to create a project page
- [ ] Meet with team
- [ ] Choose writer
- [ ] Review draft
- [ ] Find an image and quote
- [ ] Publish

[2019-01-03 21:00] Dahianna opened #2949 "Add search.gov to the site"
By integrating TTS tools such as search.gov into our site, we can show to others how all of our services can work together. We will investigate what steps are needed to implement search.gov, and if we have the tools to do it.

- [x] Meet with search.gov team to learn more about implementation
- [x] Discuss with 18F site team to see if it meets our needs

[2019-01-07 16:55] Dahianna commented on #2490
@juliaklindpaintner Thank you for helping us out with the new design of the contact page. Above you can find a mockup I created of the new design based on the research findings. (I am not a designer so the images are a bit distorted) Feel free to use the mockup as you please and make recommendations of your own. If you have any questions feel free to reach out.

[2019-01-07 17:09] jenniferthibault commented on #2490
@juliaklindpaintner I'd love for you to give our new 18F site design files a test drive 💪 🚗 🏁

We have a [sketch file of page designs](https://drive.google.com/open?id=1z_ZfIi_GzwvHOZHGhWCf5EKjMqo_KCdB) which is powered by a [sketch library file](https://drive.google.com/open?id=1vMHxBnqARMMtZKDVNkg5vmkGjMdHR6Gl)

Open the `18F-site-pages` file first and there is an `Instructions` page set as page

[2019-01-07 17:18] juliaklindpaintner commented on #2490
Thanks @Dahianna and @jenniferthibault! Two quick questions:
1. Since I haven't worked on the site before, just so I know: If I put together the proposed mock-up in Sketch, will that be sufficient for whoever is implementing on the site?

2. The current mock-up doesn't show the newsletter sign-up; is that intentional? Seems like the only place on the site it exists...

[2019-01-07 17:42] Dahianna commented on #2490
@juliaklindpaintner Yes, the Sketch files are sufficient. We'll ask a developer to create a pull request to add it to the site.  When I created the mockup we had a hold on the external newsletter, but we'll start publishing it again soon. So we'll need the sign up box to the contact page as well.

[2019-01-07 19:25] juliaklindpaintner commented on #2490
@jenniferthibault and @Dahianna Here's a first draft for some feedback before I work on the mobile layout. I wasn't sure if the content was fully finalized/vetted, so I made a few suggestions. Everything is based on the mock-up, research feedback, and current https://18f.gsa.gov/contact/.

<img width="577" alt="18f contact page_v1" src="https://user-images.githubusercontent.com/42982184/50788654-f

[2019-01-07 20:02] Dahianna commented on #2490
This is great! @eddietejeda and @awfrancisco what do you think?

[2019-01-07 20:09] mgwalker commented on #2260
With the move over to Federalist, it looks like maybe a tweak to the [Federalist redirects](https://github.com/18F/pages-redirects/blob/master/templates/_federalist-redirects.njk) in the [pages-redirects](pages-redirects) app might do the trick.  I'll chat with the Federalist team to see if that approach makes sense.

[2019-01-07 20:21] awfrancisco commented on #2490
Looks great!

[2019-01-07 21:00] Dahianna commented on #2490
@juliaklindpaintner I talked to @eddietejeda and he likes the new design as well. Thank you for your awesome job!

[2019-01-07 22:13] juliaklindpaintner commented on #2490
Great! I'll do the mobile tomorrow and get you the files asap!

[2019-01-08 03:17] chuckhoupt commented on #2260
If the site is still hosted on S3, I wonder if redirects couldn't be defined via S3's website configuration bucket? Here's an SO article on how to automate deployment of S3 `website.json` files:

https://stackoverflow.com/questions/26596337/how-to-update-amazon-s3s-redirection-rules-via-command-line

Note again, I'm an outsider, so this is just another "shot in the dark" idea...

[2019-01-08 16:18] eddietejeda commented on #2260
@mgwalker Unfortunately, that's a domain level redirect. We can't use that for specific paths.

@chuckhoupt That's interesting. Hey @amirbey can you check out
 https://stackoverflow.com/questions/26596337/how-to-update-amazon-s3s-redirection-rules-via-command-line and see if that's possible with cloud.gov?

[2019-01-08 16:52] juliaklindpaintner commented on #2490
@Dahianna All set! The Sketch file is here:
https://drive.google.com/open?id=1nh6ukNN9_iHogWIFnVw3E_n9c64Bo93i
For vertical spacing, best to just use the default spacing associated with semantic styles.

Mobile:
![contact - mobile](https://user-images.githubusercontent.com/42982184/50845696-7ea12900-133b-11e9-85ed-8728a1041ed5.png)

Web:
![contact - large](https://user-images.githubusercontent.com

[2019-01-08 16:58] Dahianna commented on #2490
Thank you so much!!

[2019-01-08 17:05] juliaklindpaintner commented on #2490
My pleasure! Let me know if there are any other projects you need help with!

[2019-01-08 20:02] Dahianna opened #2954 "Update homepage with new language and BD goals"
Angela and the BD team have new language and BD goals for 18F that need to be updated in the homepage. For example the type of projects/buckets we work on
- [ ] Meet with Angela and Alex to discuss new content
- [ ] Update content
- [ ] Publish to site

[2019-01-08 23:55] hbillings opened #2958 "Implement new contact page design"
The design in #2490 is ready to go. Implement it!

[2019-01-09 17:07] #2778 closed

[2019-01-10 16:34] Dahianna commented on #2490
Design is ready and being implemented in #2958

[2019-01-10 16:34] #2490 closed

[2019-01-10 16:53] eddietejeda commented on #2891
Checking in with the team who manages LinkedIn at GSA on Jan 18th.

[2019-01-10 16:57] eddietejeda commented on #2940
Hey @Dahianna is this a duplicate?

[2019-01-10 16:57] #2942 closed

[2019-01-10 16:58] Dahianna opened #2959 "US Tax Court Project Page"
Waldo and Vickie are working on a draft

[2019-01-10 16:59] eddietejeda commented on #2959
Waldo and Vicky are working on draft and @hannahkane will review.

[2019-01-14 23:03] hannahkane commented on #2818
I'm asking the designer on the project for an image, and @ominina is going to ask the partner for a quote and to review the draft language.

[2019-01-15 15:02] ominina commented on #2818
sent to the partner for approval, might have to wait until the government reopens for a response since NSF is likely furloughed.

[2019-01-15 17:46] hannahkane commented on #2818
@Dahianna and @eddietejeda - do you think this image will work?

![cropped](https://user-images.githubusercontent.com/8389648/51198939-6d5f9b80-18aa-11e9-97e4-a948b3423df2.png)

[2019-01-16 15:01] Dahianna commented on #2818
Looks good to me!

[2019-01-16 22:14] Dahianna opened #2960 "Remove Agile BPA project page"
18F Acquisitions will no longer offer BPA as a product

To Do
- Remove project page from What we deliver

[2019-01-18 15:37] eddietejeda commented on #2949
I am more interested in this topic and created a search.gov account to test it out, but because of furlough, can't confirm my account. Will follow up.

[2019-01-18 15:38] eddietejeda commented on #2946
Done
https://github.com/18F/18f.gsa.gov/commit/3b82011b072bbb8d0dbc0c0256cb3ac3e082c732

[2019-01-22 19:58] eddietejeda commented on #2776
Closed https://github.com/18F/18f.gsa.gov/pull/2961

[2019-01-22 19:58] Dahianna commented on #2776
Merged #2961

[2019-01-22 19:58] #2776 closed

[2019-01-22 19:58] #2946 closed

[2019-01-22 20:06] eddietejeda commented on #2891
Still investigating...

[2019-01-22 20:08] eddietejeda commented on #2958
Hey @hbillings, what's the latest on this?

[2019-01-22 20:20] eddietejeda commented on #2022
Took a stab at it. We're going to remove the quote for now. We can add it later.

[2019-01-23 01:10] hbillings commented on #2958
@eddietejeda So I implemented most of this and then got swamped with other stuff before I circled back to the mobile design. I just opened a pull request for what I was able to get done: https://github.com/18F/18f.gsa.gov/pull/2962

[2019-02-01 16:40] eddietejeda commented on #2022
@hannahkane can you review? https://docs.google.com/document/d/1nVyNT8jWg9W37W092ehoL7DGln0BOrvTEbxS73zYR6Y/edit

[2019-02-01 21:43] waldoj commented on #2959
This is in the hands of the court, who needs to have a judge review our draft for approval.

[2019-02-02 00:00] hannahkane commented on #2022
@eddietejeda - added some suggestions. Do you want to take another pass?

[2019-02-02 00:19] hannahkane commented on #2818
@ominina - do you think it would be appropriate to ping the partner on this now?

[2019-02-04 13:50] ominina commented on #2818
@hannahkane sent the partner another ping and made sure you were cced

[2019-02-04 19:17] eddietejeda commented on #2022
looks good. @Dahianna?

[2019-02-04 19:41] Dahianna commented on #2022
Looks good! We're just missing the title, subtitle and excerpt.

[2019-02-06 15:13] #2960 closed

[2019-02-06 15:20] Dahianna commented on #2938
Here's the list: https://docs.google.com/document/d/1OVWKqOHJtvS9UiOBALQYr3XyZQtgD5FlRYZFuFBx-1o/edit?usp=sharing

[2019-02-06 16:14] eddietejeda commented on #2875
Allowing anonymous/external pull requests to build on our servers is deemed a security risk. So we're going to continue blocking this.

[2019-02-06 16:14] #2875 closed

[2019-02-06 16:25] eddietejeda commented on #2891
posted in #alumni, waiting to hear back

[2019-02-06 16:32] eddietejeda commented on #2959
We should have an update later this week.

[2019-02-06 16:34] eddietejeda commented on #2949
Next steps:

- [ ] Add 18F to search.gov account
- [ ] Bring over templates developed by Aaaron for search results to this repo

[2019-02-06 16:41] eddietejeda commented on #2954
Lets loop in @hannahkane once we have content.

[2019-02-06 20:15] Dahianna commented on #2732
Design lab issue: https://github.com/18F/design-lab/issues/49

[2019-02-06 20:15] Dahianna commented on #2938
Design lab issue: https://github.com/18F/design-lab/issues/49

[2019-02-08 01:32] hannahkane commented on #2818
@eddietejeda @Dahianna - the partner made some content changes. I added their edits to the document. What do you think?

[2019-02-11 15:28] Dahianna commented on #2732
From research findings:

"Not seeing anything for that [past partnerships] from the homepage” - State of Washington Employee"

[2019-02-19 19:30] Dahianna commented on #2891
This is the new 18F LinkedIn page https://www.linkedin.com/showcase/18f/

[2019-02-19 19:30] #2891 closed

[2019-02-19 19:32] Dahianna commented on #2938
Pull request for banner #2978. Let's wait until we decide on new design to merge

[2019-02-19 19:32] #2938 closed

[2019-02-19 20:10] eddietejeda commented on #2022
@Dahianna will convert to Markdown and publish when ready.

[2019-02-19 20:12] eddietejeda commented on #2959
hey @hannahkane any update on this?

[2019-02-19 20:13] eddietejeda commented on #2818
Comments are in document.

[2019-02-19 20:38] hannahkane commented on #2818
@Dahianna - do you need me to do anything else on this one, or are we good to move into production?

[2019-02-19 20:52] Dahianna commented on #2818
Yes we can move into production, we can add the quote later

[2019-02-19 21:16] hannahkane commented on #2959
Have asked the partner about it, but it's not a top priority for them. Will ask again in a couple weeks.

[2019-02-19 21:32] hannahkane commented on #2959
Draft is here: https://docs.google.com/document/d/1RFVOtrcnbEahh1ae3SXv_eMm1yM6Z9JB9qTiE25ky20/edit#

[2019-03-01 16:47] Dahianna opened #2981 "Update site content"
After a small language update on FY19, we now want to ensure our content still resonates with federal employees and potential staff.

## To do
- [x] Test content with users
- [x] Update homepage based on feedback
- ~Update what we deliver based on feedback~
- [x] Update how we work based on feedback

[2019-03-12 18:05] Dahianna commented on #2959
Hi @hannahkane! Is this approved?

[2019-03-14 00:50] hannahkane commented on #2959
Not as far as I know. I've actually rolled off of this project, and @ominina is the new AM. Olesya, is this something you could ask the Tax Court team about?

[2019-03-14 14:27] ominina commented on #2959
@Dahianna this is still in partner review, will follow up here when we have approval

[2019-03-14 14:28] nicoleslaw opened #2985 "Typo on /about page"
## Steps to reproduce the behavior
- [x] Head on over to https://18f.gsa.gov/about/#history-and-funding
- [ ] Check `Federal Acqusition Service` for all the vowels etc.

## This issue is done when:
- [ ] Y’all are happy
- [ ] Hi, I miss you all

[2019-03-14 14:45] Dahianna commented on #2959
Ok, thanks for the update

[2019-03-14 14:49] Dahianna commented on #2985
Thank you @nicoleslaw ! I'll fix the typos

[2019-03-15 15:27] Dahianna commented on #2958
https://18f.gsa.gov/contact/

[2019-03-15 15:27] #2958 closed

[2019-03-15 15:30] Dahianna commented on #2732
New designs for homepage and what we deliver are on the design lab issue. Now we just need to implement

[2019-03-15 15:30] #2732 closed

[2019-03-15 15:33] Dahianna opened #2986 "Implement new home page and what we deliver designs"
The final designs can be found here 18F/design-lab#49
## This issue is done when:
- [x] We find a front-end developer with capacity to implement the new designs
- [x] Pull request with new design is created and merged

[2019-03-15 15:41] Dahianna commented on #2985
All done!

[2019-03-15 15:41] #2985 closed

[2019-03-15 16:20] eddietejeda commented on #2604
Thanks for reporting this. We resolved this in the most recent pull request.

[2019-03-19 18:32] #2604 closed

[2019-03-19 18:33] Dahianna commented on #2022
https://18f.gsa.gov/what-we-deliver/onrr-data-site/

[2019-03-19 18:33] #2022 closed

[2019-03-26 21:18] awfrancisco opened #2993 "Audit wiki content"
The wiki for this repo is outdated and needs a full review for:

- Current team processes
- Technical guidelines
- Current experience principles and goals for the site
- Relevance of all content

[2019-04-01 15:25] eddietejeda opened #2994 "Discussion Topics"
- [ ] USWDS and GSA - Talking points. Does the 18F website have any issues with accessibility? And TTS join page?
- [x] Web traffic and strategy - @Dahianna  Follow up with Angela

[2019-04-02 18:31] Dahianna commented on #2959
@ominina any updates?

[2019-04-02 18:39] eddietejeda commented on #2818
@Dahianna Will now convert the content to markdown and begin the publishing process.

[2019-04-02 18:44] eddietejeda commented on #2993
- [ ] Home @eddietejeda
   - Recommendation:
- [ ] Adding a page to the site @eddietejeda
- [ ] Content hypothesis @Dahianna
- [ ] Converting Google Docs to markdown @Dahianna
- [ ] Experience principles @Dahianna
- [ ] Git Troubleshooting @@eddietejeda
- [ ] How we Git @@eddietejeda
- [ ] Jekyll Plugins @eddietejeda
- [ ] Posting a job opening  @Dahianna
- [ ] Project hypotheses @Dahianna
- [ ] P

[2019-04-02 18:50] eddietejeda commented on #2894
Moving to #2464

[2019-04-02 18:50] #2894 closed

[2019-04-02 18:52] eddietejeda opened #2995 "Update the Federalist page with 18F page"
Update the Federalist page with 18F page and get it in line with the current http://federalist.18f.gov website

[2019-04-02 19:02] eddietejeda opened #2996 "Add new tag to blog post"
@Dahianna had a problem building the site when she added new tag. @eddietejeda will look into why this occurred and offer solution

[2019-04-02 19:32] Dahianna commented on #2996
Found it! https://github.com/18F/18f.gsa.gov/blob/034e423f1c8af1a321976d89ef73029273df98c5/tests/schema/tags.yml

[2019-04-03 14:02] ominina commented on #2959
@Dahianna tax court is still reviewing - they have a pretty rigorous review process there for anything that will be published publicly. we are checking on it every 2 weeks

[2019-04-03 14:12] Dahianna commented on #2959
Thanks @ominina !

[2019-04-04 18:15] Dahianna commented on #2818
https://github.com/18F/18f.gsa.gov/pull/2999

[2019-04-04 18:46] Dahianna commented on #2993
- New content for [Converting Google Docs to markdown](https://docs.google.com/document/d/13bQeYjpcaTxOjqbxVzTax_1FI-NzlYFhMUihOSTZDXo/edit#)

[2019-04-08 14:07] Dahianna commented on #2818
https://18f.gsa.gov/what-we-deliver/nsf-brand-principles/

[2019-04-08 14:07] #2818 closed

[2019-06-05 18:39] apburnes commented on #2996
Move tags to a more logical location within the repo outside of the `tests`

[2019-06-06 20:05] waldoj commented on #1825
This issue has returned, just as described three years ago.

[2019-06-06 20:48] Dahianna commented on #1825
@apburnes can you take a look

[2019-06-07 13:09] #1825 closed

[2019-06-07 13:20] Dahianna commented on #1825
Issue fixed thanks to @apburnes

[2019-06-07 14:06] Dahianna commented on #2959
Page under review by writing lab and then it'll get approval by the Chief Judge

[2019-06-26 15:09] #2947 closed

[2019-06-26 15:09] Dahianna commented on #2947
Will create if asked by leadership or project team

[2019-06-26 15:10] Dahianna commented on #2939
Will create if asked by leadership or project team

[2019-06-26 15:10] #2939 closed

[2019-06-26 15:11] Dahianna commented on #2981
Currently working on this doc: https://docs.google.com/document/d/11IJC3cO79s6rDcu6NH3F0SKSTyjktKvDQ1HkYCtu4B8/edit#

[2019-06-26 19:14] lsgitter commented on #1960
not a priority at the moment. Will come back when we have more resources. We should ask a developer how many resources this will take

[2019-06-26 19:18] lsgitter commented on #2236
Don't have the resources to do this. Would be nice to have if we do get the resources. Moving this to the parking lot.

[2019-06-26 19:23] Dahianna commented on #2754
No longer an issue

[2019-06-26 19:23] #2754 closed

[2019-06-26 21:29] jeremyzilar commented on #2236
I just submitted **gd2md** to GSA IT for approval https://github.com/evbacher/gd2md-html/wiki

[2019-06-27 16:23] lsgitter opened #3026 "Share strategy with Leah Gitter"
Share strategy doc with Leah Gitter so she can understand the 18F site strategy

[2019-06-27 16:24] lsgitter opened #3027 "Reach out to Angela Colter to see if there would be process for billable staff to be able to work on the 18F site"

[2019-06-27 16:25] lsgitter opened #3028 "Ruby Update"
## Expected Behavior

Closed by #2873

## Actual Behavior

## Steps to reproduce the behavior
- [ ]
- [ ]
- [ ]

## This issue is done when:
- [ ]
- [ ]
- [ ]

[2019-06-27 16:26] lsgitter opened #3029 "Site Content Audit"

[2019-06-27 16:27] lsgitter opened #3030 "Groom and organize 18F site backlog"
Groom - organize backlog and label by content or back end or front end. Organize by date. Separate tasks between icebox and parking lot categories

[2019-07-01 16:09] apburnes opened #3031 "Update JQuery per Federalist Security"
## Expected Behavior

GSA IT has reported security vulnerabilities for 18f.gsa.gov.

## Actual Behavior

Update JQuery version and verify all related feature function as expected.

## This issue is done when:
- [x] JQuery version updated

[2019-07-02 15:58] lsgitter commented on #2668
@Dahianna is this something we want to to do sooner rather than later? If we want to do it soonish this could dovetail with the conversation on the process for using 18F folks on the bench.

[2019-07-02 16:03] lsgitter commented on #2876
@Dahianna @apburnes I don't think we have the resources to do this project and looks like it would require more time than any of us have available. Are you ok with putting this in the icebox category for now?

[2019-07-02 16:15] Dahianna commented on #2668
I don't think this is an issue anymore since we no longer use icons, but it'll be good to create some guidelines.

[2019-07-02 16:17] apburnes commented on #2876
We have dev resources being maintained in other locations.
- https://before-you-ship.18f.gov/
- https://github.com/18F/development-guide

Maybe updating just the [`/guides/`](https://18f.gsa.gov/guides/) would be a minimal lift

[2019-07-02 16:31] lsgitter commented on #2522
@apburnes do you have a sense if this is still a thing we need to do or how much of a lift it would be?

[2019-07-02 16:45] lsgitter commented on #2884
@apburnes is this a duplicate of the ruby update task?

[2019-07-02 17:09] Dahianna commented on #2876
I'm ok with  adding a developer section to /guides/

[2019-07-02 17:21] apburnes commented on #2884
This will be closed by #2873

[2019-07-02 18:36] Dahianna commented on #3026
So, I can't seem to find the strategy doc. But here are some notes from our last retreat with our future plans for the [site](https://docs.google.com/document/d/1aLbTepmzgzAGFGHRg8DZk73w-8CB71a1vNPL3mFhS3w/edit#heading=h.hbqkxistn1j1).

[2019-07-02 18:38] Dahianna commented on #3026
Also the repo wiki has some guidance on our content principles: https://github.com/18F/18f.gsa.gov/wiki/Content-and-experience-principles

[2019-07-09 22:02] lsgitter commented on #2986
@Dahianna  can we mark this as done?

[2019-07-09 22:19] #3026 closed

[2019-07-09 22:40] #3028 closed

[2019-07-09 22:42] #2884 closed

[2019-07-09 22:43] lsgitter commented on #2884
#21873 was approved on 7/9/2019

[2019-07-10 17:46] apburnes commented on #3031
Reference branch which updated JQuery https://github.com/18F/guides-style/tree/v1.0.6/

[2019-07-10 19:16] apburnes commented on #2840
Closed by #2873

[2019-07-10 19:17] #2840 closed

[2019-07-11 19:29] lsgitter commented on #2497
Eric to sync up with Dahianna on this issue.

[2019-07-11 19:31] lsgitter commented on #2598
don't archive until Dahianna weighs in.

[2019-07-11 19:38] apburnes commented on #2260
This may now be possible with Federalist's dedicated bucket update.  Revisit for customizing redirects.

[2019-07-11 19:43] lsgitter opened #3033 "Research if we have a standardized process for posting and managing project page content"
## Expected Behavior
There is a wiki or some sort of guidance on how to post and mange content on projects

## Actual Behavior

## Steps to reproduce the behavior
- [ ]
- [ ]
- [ ]

## This issue is done when:
- [ ]
- [ ]
- [ ]

[2019-07-12 22:53] Dahianna commented on #2986
No, the changes haven’t been implemented. We’re still looking for a front end dev

[2019-07-12 23:00] Dahianna commented on #2598
This is for a project page. If we still have people who worked in this project, we can reach out to them to see if they are interested in drafting one. We have a template now, so team members can draft them and we only need to publish

[2019-07-17 14:56] Dahianna opened #3039 "Sunset acqstack-journeymap.18f.gov"
## Steps to reproduce the behavior
- [x] Redirect acqstack-journeymap.18f.gov to their github repo (https://github.com/18F/acqstack-journeymap)

## This issue is done when:
- [x] Site redirects to Github repo

[2019-07-17 16:48] Dahianna opened #3040 "Twitter card not uploading images"
## Expected Behavior
If a blog post or page has an image the Twitter card should include that image, if that's not the case the 18F logo will appear instead.

## Actual Behavior
The twitter card is not uploading the images. You can check it with the Twitter card validator: https://cards-dev.twitter.com/validator

## Steps to reproduce the behavior
- [ ] Look at the twitter card metadata to see why

[2019-07-17 16:52] Dahianna commented on #3040
We've fixed this issue before, so I'm not sure why it's back: https://github.com/18F/18f.gsa.gov/issues/2942

[2019-07-17 16:56] Dahianna commented on #2994
Find out the web traffic issue was due to an error on the analytics

[2019-07-17 16:56] #3029 closed

[2019-07-17 16:59] Dahianna commented on #3033
Yesish. Project teams can reach out to us to get access to the [project page template](https://docs.google.com/document/d/1z-SlrcDOuajm3dNQgtUT8LOQL4G6P55a1OniWoHx0qg/edit) They draft the content and get approval from the partner agency. Then outreach reviews the content and approves for the site team to publish on the site.

[2019-07-24 19:15] lsgitter commented on #2404
not enough resources at this time.

[2019-07-24 19:15] #2404 closed

[2019-07-24 19:16] #1960 closed

[2019-07-24 19:18] lsgitter commented on #2236
Not enough resources to work on at this time.

[2019-07-24 19:18] #2236 closed

[2019-07-24 19:18] lsgitter commented on #2723
not enough resources to work on at this time.

[2019-07-24 19:18] #2723 closed

[2019-07-24 19:19] #2668 closed

[2019-07-25 19:16] lsgitter opened #3042 "Gather feedback from users (18Fers, outside folks) to inform future updates to the site"
## Expected Behavior

## Actual Behavior

## Steps to reproduce the behavior
- [ ]
- [ ]
- [ ]

## This issue is done when:
- [ ]
- [ ]
- [ ]

[2019-07-25 19:29] #3030 closed

[2019-07-25 19:31] lsgitter commented on #2995
compare content differences what we deliver/federalist and federalist.gov content and find a way to align the content.

[2019-07-25 19:33] lsgitter commented on #2995
Leah to research difference between content and will synch up with Andrew and Dahianna about changes.

[2019-07-25 19:41] lsgitter commented on #3033
Do we have instructions somewhere on how to do this? If so where do the instructions lived? Do we create issues when we need to put projects up? Should we create a project page tag in the trello board?

[2019-07-25 19:46] lsgitter opened #3043 "Create Project Page Issue Template"
see https://help.github.com/en/articles/creating-issue-templates-for-your-repository   for instructions.

## Expected Behavior

## Actual Behavior

## Steps to reproduce the behavior
- [ ]
- [ ]
- [ ]

## This issue is done when:
- [ ]
- [ ]
- [ ]

[2019-07-30 21:48] apburnes commented on #2883
closed by #2907

[2019-07-30 21:48] #2883 closed

[2019-07-30 21:48] apburnes commented on #3031
closed by #2907

[2019-07-30 21:48] #3031 closed

[2019-08-02 19:54] lsgitter commented on #2995
Copied content from both pages and put it in a google doc so content can compare. @margaretmildrew @Dahianna would you be able to take on the next steps?

https://docs.google.com/document/d/1PiIhAe_ovQtpW69sa_ohcz0-y4e7kQeA7G8I3hc6CP8/edit#

[2019-08-08 19:35] lsgitter commented on #2497
For the interviews, I took screenshots from the 18F site and highlighted various components and added labels. I then asked the interviewees "What name would you give this component and how would you define it?" Their answers are compiled here: https://docs.google.com/document/d/1EYbFOpB_3gNHy5Lp5LzSlXOD4HJej3Fe3Lv6_sjCyYI/edit?usp=sharing
The slides and screenshots can be found in this Google Driv

[2019-08-08 19:35] lsgitter commented on #2497
Next steps: synthesize information and create a dictionary for components of site

[2019-08-08 19:46] lsgitter commented on #2981
@margaretmildrew to follow up with @Dahianna on August 12th to see if this is ready to post.

[2019-08-08 19:53] #3043 closed

[2019-08-08 19:56] lsgitter commented on #3042
Will revisit this once we go through more of our technical debt .

[2019-08-08 20:50] eddietejeda opened #3046 "margin/padding removed from blog title"
## Expected Behavior
The blog post title should be properly aligned and padded to header

## Actual Behavior
The blog post title is now pressing up against the header.  The original design looks like this https://github.com/18F/design-lab/issues/17#issuecomment-402828003

## This issue is done when:
- [ ] Fix alignment and add top padding
- [ ] Fix search in blog
- [ ] Check all `<inputs />`

[2019-08-12 13:33] Dahianna commented on #3033
We've had sent an email back in the day and talked about it at all hands. In the past, the site team was the one that would reach out to project teams to create a page. We haven't had many instances in which a project team reaches out, also we'd have to decide if it's a good project for the site. We can't give everyone a project page.

[2019-08-12 13:42] Dahianna commented on #2995
@eddietejeda can you draft a doc with the changes using the project page style? This way we can't ensure it has the correct information.

[2019-08-21 17:29] llastowka-usgs opened #3057 "agile contract template won't open"
## Expected Behavior
word file opens for agile software contract opens

## Actual Behavior
dialog says it won't open

## Steps to reproduce the behavior
- [ ] click on an agile contract template link on https://18f.gsa.gov/2019/08/20/an-agile-software-development-solicitation-guide/
- [ ]
- [ ]

## This issue is done when:
- [ ] document is readable
- [ ]
- [ ]

[2019-08-21 18:58] #2993 closed

[2019-08-21 19:12] #3033 closed

[2019-08-22 15:40] apburnes commented on #3039
@amirbey 🥇

[2019-08-22 15:40] #3039 closed

[2019-08-27 13:47] Dahianna opened #3058 "Update content on "How we work" page"
## Objective
Work with the design, strategy, and acquisition chapters to add language for their services.

## This issue is done when:
- [x] Create a [document to draft new content](https://docs.google.com/document/d/16RHE1vOc5pDAmkFlS67Pm56WJeMfygraeOCsmKg-Hes/edit#)
- [x] Work with the chapter leads to add the new language
- [ ] Get language approve by 18F and TTS Outreach directors
- [ ] Publis

[2019-09-04 20:32] Dahianna commented on #2497
I added a summary of the findings to this doc: https://docs.google.com/document/d/1eVHtBhEQUZ2D7fyBLhh_AavtCxgTuTb8O-ko5rug3j4/edit?usp=sharing

[2019-09-05 19:10] apburnes commented on #3046
Add fixing search bar to PR
- Ex. https://18f.gsa.gov/search/?q=tags

[2019-09-05 19:13] lsgitter opened #3061 "Update USWDS library for 18F site"
## Expected Behavior
working Daniel William to co-work on 18F site will help ensure the site meets 21st century IDEA ACT standards.

Currently UWDS is experiencing breaking changes

Might want to update to new version of USWDS

[2019-09-05 19:27] #3040 closed

[2019-09-05 19:29] #2995 closed

[2019-09-05 19:38] lsgitter commented on #2986
@apburnes will try to make this update. This issue needs to be closed out before #2978 can be worked on.

[2019-09-05 19:39] lsgitter commented on #2497
@Dahianna will add terms to the wiki so engineers and designers will know what we call the assets.

[2019-09-05 19:42] lsgitter commented on #2464
Move this issue to the branding repo

[2019-09-05 19:42] Dahianna commented on #2464
@cmajel and @Dahianna will work on this as part of 18f-branding

[2019-09-05 19:43] #2994 closed

[2019-09-05 19:44] #2464 closed

[2019-09-05 19:48] #2940 closed

[2019-09-05 19:49] lsgitter commented on #2598
reach out to project staff and have them fill out template to crate a new project page

[2019-09-05 19:50] lsgitter commented on #2941
Reach out to project staff and ask them to fill out google form

[2019-09-10 14:13] Dahianna commented on #2959
@vickimcfadden is this good to go?

[2019-09-11 16:41] Dahianna opened #3062 "Update content on "What we deliver" page"
## Objective
Work with the design, strategy, and acquisition chapters to add language for their services.

## This issue is done when:
- [x] Create a [document to draft new content](ttps://docs.google.com/document/d/1TCPZp6S7Cbxs5qj0O6zgQZBS7bHeH-YppFLiWmSvMb4/edit#)
- [x] Work with SMEs to add the new language
- [x] Get language approve by 18F and TTS Outreach directors
- [x] Publish updates to t

[2019-09-16 16:41] Dahianna commented on #2981
Doc with changes https://docs.google.com/document/d/18DJxV_yOIDWSb6qcBpn4Z4eUgfCTNkElRZ5I1zFscjs/edit#

[2019-09-17 17:05] lbeaufort opened #3064 "Broken link for IAA in "About" section"
Hi there! 👋 I found a broken link on your page. If you don't mind letting me know where you'd like it to go, I'd be happy to put in a PR.

Thanks!
Laura

## Expected Behavior
In the [Funding and agreements section](https://github.com/18F/18f.gsa.gov/blob/735e1278e64c98a1154c86a973076ff71a92f68a/_about/index.md#funding-and-agreements) of the [About](https://18f.gsa.gov/about/) section, I expect the

[2019-09-17 17:57] Dahianna commented on #3064
Thank you @lbeufort for bringing up the broken links to our attention! I've updated the `funding and agreements` section link with https://www.gsa.gov/cdnstatic/Treasury_Form_7600a_Comm.pdf, and I'll make sure to update the blog posts as well.

[2019-09-17 17:57] #3064 closed

[2019-09-23 17:21] #3046 closed

[2019-10-02 14:29] sbeliew opened #3067 "Digital Dashboard. gov"
## Expected Behavior
Show all the link boxes when logged in as I see when I am not

Not Logged in:
![DigitalDashboardCorrect](https://user-images.githubusercontent.com/29760613/66052840-44963980-e4ff-11e9-8573-537bb63d708e.jpg)

## Actual Behavior
All link boxes except the Government-wide Reports and the Top Performing Agencies don't show up

Logged in:
![DigitalDashboardBug](https://user-images.g

[2019-10-02 17:33] waldoj opened #3068 "Word file attached to "Agile Solicitation Guide" contains errors"
## Expected Behavior
When downloading the DOCX file linked to from within [An Agile Software Development Solicitation Guide](https://18f.gsa.gov/2019/08/20/an-agile-software-development-solicitation-guide/), one would expect it not to have in-progress editorial suggestions.

## Actual Behavior
There are, in fact, in-progress editorial suggestions, in the form of comments.

## Steps to reproduce th

[2019-10-03 15:44] lsgitter commented on #2941
Project team is no longer interested in doing a project page

[2019-10-03 15:44] #2941 closed

[2019-10-03 19:03] #2986 closed

[2019-10-03 19:16] lsgitter opened #3070 "Look into using BPA for site work"
## Expected Behavior
look into hiring a front end dev from BPA for a few hours of site work

## Actual Behavior

## Steps to reproduce the behavior
- [ ]
- [ ]
- [ ]

## This issue is done when:
- [ ]
- [ ]
- [ ]

[2019-10-03 19:16] Dahianna commented on #2981
Angela reviewed and we're waiting on some additions from acqstack

[2019-10-03 19:34] lsgitter commented on #3058
Closing this issue as it overlaps with issue 2981

[2019-10-03 19:34] #3058 closed

[2019-10-03 19:36] lsgitter commented on #2954
closing this issue as it is the same as 2981

[2019-10-03 19:36] #2954 closed

[2019-10-03 19:38] lsgitter commented on #3027
Looking into using a vendor this issue will be replaced by #3070

[2019-10-03 19:38] #3027 closed

[2019-10-07 20:25] gbinal commented on #3067
I agree that’s a bug, but that site is not operated by 18F and this repo isn’t related to it.

Unfortunately, it doesn’t appear to have a public repo associated with it.   The only means of contact I see on the site is dotgovdashboard@gsa.gov.    Sorry not to be more help, but if you’re game, it looks like emailing this bug to that address is the best way to report it.

[2019-10-08 12:22] sbeliew commented on #3067
Thank you,  I have already sent an email and haven't gotten a response.

I will try again.

Shannon

___________________________________________
Shannon Beliew
Biologist
USGS - Patuxent Wildlife Research Center
12100 Beech Forest Road
Laurel, MD 20708-4039
w <http://www.pwrc.usgs.gov>ww.usgs.gov/pwrc <http://www.usgs.gov/pwrc>
Office: 301-497-5506
Fax: 301-497-5505
sbeliew@usgs.gov
https://www.usg

[2019-10-08 13:26] gbinal commented on #3067
I'm sorry, Shannon.  That's very frustrating.

Thanks for filing issues when you see problems!  I wish we could be more help.

[2019-10-08 15:37] #3067 closed

[2019-10-08 18:17] Dahianna commented on #2497
https://github.com/18F/18f.gsa.gov/wiki/Terms-and-features-we-use-on-the-site

[2019-10-08 18:17] #2497 closed

[2019-10-08 20:41] lsgitter commented on #3070
reached out to Nico to learn about how we could potentially use the BPA to use vendors to work on 18F site

[2019-10-11 15:46] bryanweast commented on #3068
Do you believe this repository is open to all to commit and contribute?

[2019-10-11 16:26] Dahianna commented on #3068
Hi @bryanweast the 18F site repo is open for users to report any bugs or other issues with the site content.

[2019-10-11 16:27] Dahianna commented on #3068
This issue has been fixed by #3069

[2019-10-11 16:27] #3068 closed

[2019-10-11 19:49] lsgitter commented on #3070
Using BPA would take a few weeks to get into place. This would only worth doing if we had a large amount of work we wanted to do. It may make more sense to look at what skills we need, how many hours they would take and see if can get 18F folks to volunteer to do the work in their non-billable time.

[2019-10-17 19:14] Dahianna commented on #2981
Updates done to home page and what we deliver

[2019-10-17 19:19] Dahianna opened #3073 "USMC Project Page"
Create a project page for the USMC project with the PIFs

## This issue is done when:
- [ ] Project PoC drafts [template](https://docs.google.com/document/d/1z-SlrcDOuajm3dNQgtUT8LOQL4G6P55a1OniWoHx0qg/edit)
- [ ] Template is review by @Dahianna
- [ ] Project page is created and uploaded to site

[2019-10-17 19:22] Dahianna opened #3074 "Air Force COOL"
Create a project page for the Air Force COOL project
This issue is done when:
- [ ] Project PoC drafts template
- [ ] Template is review by @Dahianna
- [ ] Project page is created and uploaded to site

[2019-10-17 19:23] Dahianna commented on #3062
Done

[2019-10-17 19:23] #3062 closed

[2019-10-22 19:07] Dahianna commented on #2981
Working on how we work. On hold until Ashley is back

[2019-10-22 20:23] lsgitter commented on #3061
Justification: 21st Century IDEA ACT Compliance. GSA is going to newest version of USWDS as well. OSC is doing this for GSA.gov. Have asked website owners to fill out a form stating what they are missing.

- need a person  with some visual design experience with familiarity USWDS

- need to update 18f-site to newest version of USWDS.
- Will update portions of site - (not try to update all of site

[2019-10-22 20:33] lsgitter commented on #2949
@Dahianna to follow up with @eddietejeda on how he did it for federalist

[2019-10-22 20:35] lsgitter commented on #2949
@lsgitter to look into 18F metohds use of search.gov

[2019-10-22 20:37] apburnes commented on #2260
Custom redirects are unavailable in Federalist.

[2019-10-22 20:37] #2260 closed

[2019-10-22 20:37] eddietejeda commented on #2949
Great timing. I just pushed up this change that's been pending for a while:

https://github.com/18F/federalist-uswds-jekyll/pull/33/files

[2019-10-22 21:02] apburnes commented on #2522
The AccessLint GitHub integration looks like a good option but setting up the integration will need to be discussed with the Github admins.

[2019-10-22 21:02] #2522 closed

[2019-10-24 15:16] lsgitter commented on #3070
After looking into this we decided it would make more sense to put in a micro request for additional site work.

[2019-10-24 15:16] #3070 closed

[2019-10-24 19:35] lsgitter commented on #2996
@apburnes will add instructions on creating new tags to wiki and readme and then close out this issue.

[2019-10-29 20:48] Dahianna commented on #3061
GSA guidelines here: https://docs.google.com/document/d/1doMIkfIYgFHFxqS9Q8-ltXSfDybRBFr7jZfy38XLDbM/edit#

[2019-10-30 14:00] alexsoble opened #3079 "Running ./serve-blog does not serve 3 latest blog posts"
## Expected Behavior

From the README:

## Actual Behavior

When I make a new blog post locally and run `./serve-blog`, I should see that blog post first when I visit http://0.0.0.0:4000/site/blog/. Instead, I see an older blog post:

"Ask 18F — Can you share any tips or suggestions on designing surveys and forms?"
By Elaine Kamlley , Austin Hernandez April 5, 2018

## Steps to reproduce the behav

[2019-11-14 18:00] Dahianna commented on #2949
@eddietejeda what does this change do?

[2019-11-14 18:01] #2996 closed

[2019-11-14 19:13] apburnes commented on #2743
Deleted old merged and closed branches.

[2019-11-14 19:13] #2743 closed

[2019-11-14 20:54] apburnes commented on #2949
Use @eddietejeda example from the `federalist-uswds-jekyll` to integrate the search.gov into the site.

[2019-11-14 21:06] austinhernandez commented on #3061
**Here are the mockups on InVision:**
https://gsa.invisionapp.com/d/main#/console/18851755/392608183/preview

**Sketch files for USWDS 2.0 are here on Drive in the site folder:**
https://drive.google.com/open?id=1jGVEhjizHt7ZZ0eFmqedlccs1O6y69Vh

**Photos from 18F workshops here on Drive:**
https://drive.google.com/open?id=1ySWACkfQXw3n9yA1-KotGrBKN9Ue_I-T

**Next steps:**
1. Executive and Outreac

[2019-11-19 14:46] Dahianna commented on #3061
Hi @austinhernandez, we're having issues accessing Invision. Would you mind adding the mockups as pdfs or images to this issue. Thanks!

[2019-11-19 15:24] Dahianna commented on #2959
@vickimcfadden and @ominina did you ever receive any updates on this? If not, I'll go ahead and close this issue

[2019-11-19 15:30] vickimcfadden commented on #2959
@Dahianna the court isn't comfortable doing public communication about the project prior to the launch of the MVP (march 2020). We can close the issue for now and revisit later.

[2019-11-19 15:36] Dahianna commented on #2959
Sounds good. Thanks!

[2019-11-19 15:36] #2959 closed

[2019-11-19 20:31] austinhernandez commented on #3061
I updated the previous comment with this link: https://gsa.invisionapp.com/share/PMUWVRMSUKN. Does this work?

[2019-11-19 20:49] Dahianna commented on #3061
It works for me. Let me check with leadership

[2019-11-20 00:24] eddietejeda commented on #2949
We merged in search.gov example here: https://github.com/18F/federalist-uswds-jekyll

[2019-11-20 16:27] Dahianna commented on #3061
Feedback from leadership:

**Homepage**
- Desktop 3 or 4

**Project page**
- Projects 1

**Comments**

Desktops
3 has the clearest call to action, and the header image speaks more culturally about who we are than some of the others, which are a bit more generic.
4 is really visually arresting and strong, but the CTA gets a little lost. That _may_ not be a bad thing, depending on what you're trying

[2019-11-21 18:49] austinhernandez commented on #3061
Some of the sites I used that do similar work in non-profit and private sector are:
https://www.cooper.com/
https://www.ideo.com/
Looks like these are moving away from the home hero image, but

For the pages where we want to focus on the projects, I wanted to have the project images the focal point of the page. Here are some examples:
https://www.ideo.com/work
https://www.cooper.com/corporate-trai

[2019-11-21 19:47] Dahianna commented on #3061
Also talked to Star and she's leaning towards desktop 4 as well, but 3 is fine if it aligns better with the USWDS.

[2019-11-25 18:42] austinhernandez commented on #3061
I like the illustration on 4, but now I'm leaning toward 3 because it might be more memorable? https://github.com/GSA/digitalgov.gov/issues/1517#issuecomment-555750354

Maybe we could do some visual preference testing with users?

[2019-11-25 18:59] Dahianna commented on #3061
It'd be great if we can do a quick test. Do you know if we still have access to Optimal Workshop?

[2019-12-02 17:55] lsgitter commented on #2949
We will add search.gov with the new design.

[2019-12-02 18:01] lsgitter commented on #2244
Will work on this once we have the new design.

[2019-12-02 19:31] alexsoble opened #3088 "Test suite fails without a clear error message if a blog post has no tags"
## Expected Behavior

Print a friendly error message or warning from the test suite that a blog post has no tags. This would be a simple `print` statement / warning if we're OK with blog posts having no tags, or a CI fail if we want to insist that every blog post have 1 or more tags.

## Actual Behavior

Test suite fails cryptically if a blog post is missing tags. Example:

https://github.com/18F/

[2019-12-11 17:39] Dahianna commented on #3061
I created this form to gather feedback. Feel free to make edits or add your own questions https://docs.google.com/forms/d/1deN4tUoP9XGIE9ipTeTK-e0hEddGRey1ygCKTkhVhUs/edit

[2019-12-12 16:19] Dahianna commented on #2598
TTS Outreach is editing

[2019-12-12 20:44] lsgitter commented on #2876
can link this to handbook developer guide. @apburnes to look up resource .

[2019-12-12 20:45] lsgitter commented on #2841
should be fixed once we update the library

[2019-12-12 20:47] lsgitter commented on #3088
This test is supposed to fail because we need blog posts to be searchable and have tags. This prevents folks from posting without tags.

[2019-12-12 20:50] lsgitter opened #3092 "Create more project pages"
## use recently created report to find stories to update project pages. Will need to follow up with project teams to make sure they get approval from client.

[2019-12-12 20:59] lsgitter opened #3093 "Create preview for what we deliver and project page design"
## Expected Behavior
Create preview for what we deliver and project page design using new USWDS template

[2019-12-12 21:01] lsgitter opened #3094 "Implement new Front page design"
Implement new Front page design using new USWDS template once we have list serve results

[2019-12-12 21:03] alexsoble commented on #3079
@lsgitter Did you mean to close this one?

[2019-12-12 21:05] alexsoble commented on #3088
@lsgitter — That makes sense to me, but as I wrote under "Expectated Behavior" above: "Print a friendly error message or warning from the test suite." Right now the test suite fails silently under this scenario.

[2019-12-16 23:27] rtb144 opened #3095 "No Web page displayed on https://marketplace.fedramp.gov/#/products"
## Expected Behavior
Some sort of marketplace dashboard (understand that its alpha)

## Actual Behavior
No web page other than learn more hyperlink and US gov't website banner

## Steps to reproduce the behavior
- [ ]
- [ ]
- [ ]

## This issue is done when:
- [ ]
- [ ]
- [ ]

[2020-01-02 20:43] Dahianna commented on #3061
Here are the results for the survey. As we've seen with our internal interviews, desktop 4 seems to be the preference. It's not perfect and we have to work on updating the content, but the illustration was seen more favorable over the hero image https://app.mural.co/invitation/mural/gsa6/1577730854809?sender=dahiannasalazarforeman2861&key=06243d9e-8f83-494b-894c-33787fd1bd81

[2020-01-02 20:50] Dahianna commented on #3061
I recommend using desktop 4 layout but using the desktop 3 language on the second half of the page. For example "case studies" instead of "future projects"

[2020-01-02 20:51] Dahianna commented on #3094
https://github.com/18F/18f.gsa.gov/issues/3061#issuecomment-570339953

[2020-01-02 21:14] Dahianna commented on #2981
Working on leadership to update content
- How we work: https://docs.google.com/document/d/16RHE1vOc5pDAmkFlS67Pm56WJeMfygraeOCsmKg-Hes/edit#heading=h.9ewvmwvq5cux
- What we deliver: https://docs.google.com/document/d/1TCPZp6S7Cbxs5qj0O6zgQZBS7bHeH-YppFLiWmSvMb4/edit#

[2020-01-08 19:13] Dahianna opened #3100 "Update What we Deliver content"
## Steps
- [x] Draft content with 18F SMT
- [ ] Obtain approval from 18F Director
- [ ] Obtain approval from TTS leadership
- [ ] Publish to site

[2020-01-08 19:14] Dahianna commented on #3100
Draft is here: https://docs.google.com/document/d/1TCPZp6S7Cbxs5qj0O6zgQZBS7bHeH-YppFLiWmSvMb4/edit#

[2020-01-08 19:15] Dahianna opened #3101 "Update how we work content"
## Steps
- [x] Draft content with 18F SMT
- [x] Obtain approval from 18F Director
- [x] Obtain approval from TTS leadership
- [x] Publish to site

[2020-01-08 19:15] Dahianna commented on #3101
Draft is here: https://docs.google.com/document/d/16RHE1vOc5pDAmkFlS67Pm56WJeMfygraeOCsmKg-Hes/edit#heading=h.9ewvmwvq5cux

[2020-01-08 19:17] #3042 closed

[2020-01-08 19:19] Dahianna opened #3102 "Update homepage content"
## Steps
- [x] Draft content with 18F SMT
- [ ] Obtain approval from 18F Director
- [ ] Obtain approval from TTS leadership
- [ ] Publish to site

[2020-01-09 18:28] Dahianna commented on #3102
Draft: https://docs.google.com/document/d/1uEiw_j8rYgZeToO6gQ1PQrsdJ_aZl9_jzIW32mKexNY/edit#heading=h.xlhpbzhi69ua

[2020-01-09 20:49] lsgitter opened #3103 "USWDS Upgrade Action Plan Roadmap"
## Roadmap Summary

- SASS errors when compiling
- Work on font sizing
- Updating the new design

## To Do (to get all of 18f.gsa.gov back to "normal")

- [x] SASS errors when compiling @heymatthenry
- Reviewing higher level components that can plug and play from V2 into 18f.gsa.gov
  - [x] Identify possible adhoc custom code / components @apburnes
  - [x] Identify any current repetition/duplicati

[2020-01-22 15:17] apburnes opened #3105 "Remove job position pages from 18F site"
## Expected Behavior

When a user goes to the positions posted at https://18f.gsa.gov/join/#open-positions, the positions are now posted at https://join.tts.gsa.gov/ in support of a one TTS strategy.

## Actual Behavior

Job postings direct users to the https://join.tts.gsa.gov/ but there are still job posting pages that redirect to https://18f.gsa.gov/join/position-no-longer-available/ and the en

[2020-02-06 20:12] apburnes commented on #3105
Will be resolved with #3097

[2020-02-19 20:45] apburnes opened #3112 "Possibly add Netlify CMS"
## Description

Federalist is releasing the ability to integrate the Netlify CMS GUI with their sites. Adding the GUI to 18f.gsa.gov site may improve contributors experience when adding new blog posts or other content.

## Background

Federalist documentation https://federalist.18f.gov/documentation/getting-started-with-netlify-cms/

[2020-03-05 20:56] lsgitter opened #3120 "Create slide deck for team cofee"
## Topics
- Netlify
- What we deliver update

[2020-03-05 21:56] Dahianna opened #3121 "21st Century IDEA Baseline Compliance Criteria - Accessible"
**Criteria**

- [x] Routine review of all site content (both pages and files) for conformance to the most current 508 Standards
- [x] Quick remediation of all accessibility issues when they are discovered
- [ ] Incorporation of accessibility testing into the publication process

[2020-03-05 21:57] Dahianna commented on #3121
More info in Section 8 of the Guidelines for GSA's Digital Presence: https://docs.google.com/document/d/1E0K_LDlDqEgHKESTqHKlKN50OJAxCcl_FcKB-qLL13A/edit

[2020-03-10 15:06] Dahianna commented on #2598
[Updated draft](https://docs.google.com/document/d/1WiU-1ZSz72nqmpZz3saxJGMkQ0oXdzS8l61NHSBK3wI/edit) @ryanhofdotgov has this content been approved by OPM/DCSA?

[2020-03-19 19:37] lsgitter opened #3129 "Fill out salary tab for cost estimator for 18f -site"
https://docs.google.com/spreadsheets/d/1RiCBPHp09IOvy47S2kWffMc13JXa7uNhXl8BZXP7y-s/edit#gid=1979927954

[2020-03-19 19:42] lsgitter opened #3130 "Meet GSA modernization criteria"
Finalized GSA IT site modernization docs by 3/30/20

[2020-03-19 19:59] Dahianna commented on #3130
https://docs.google.com/spreadsheets/d/1fdv8sYV9EkIO3-5xhWxDPnVIouq9yAuae-OHKzXkkHk/edit#gid=1163132370

[2020-03-19 20:47] Dahianna opened #3131 "21st Century IDEA Baseline Compliance Criteria - Consistent"
**Criteria**

- [x] Adoption of the US Web Design System as part of any site refresh
- [x] Following GSA design and branding guidelines for specific types of sites

[Section 11 of the Guidelines for GSA's Digital Presence](https://docs.google.com/document/d/1E0K_LDlDqEgHKESTqHKlKN50OJAxCcl_FcKB-qLL13A/edit)

[2020-03-19 20:49] Dahianna opened #3132 "21st Century IDEA Baseline Compliance Criteria - Authoritative"
**Criteria**

- [x] Conducting regular audits to identify and remove redundant or outdated content
- [x] Linking to authoritative sites instead of recreating similar content
- [x] Notifying visitors when a link takes them to sites that may not operate under the same laws, regulations, and policies as federal websites

[2020-03-19 20:51] Dahianna opened #3133 "21st Century IDEA Baseline Compliance Criteria - Searchable"
**Criteria**

- [ ] Adding a search box on your site
- [ ] Tracking and using results from search analytics to improve content

[Section 16 of the Guidelines for GSA's Digital Presence](https://docs.google.com/document/d/1E0K_LDlDqEgHKESTqHKlKN50OJAxCcl_FcKB-qLL13A/edit#)

[2020-03-19 20:52] Dahianna opened #3134 "21st Century IDEA Baseline Compliance Criteria - Secure"
**Criteria**

- [x] Ensuring your site has a secure (SSL) certificate, and that it's only accessible through https

[Section 4 of the Guidelines for GSA's Digital Presence](https://docs.google.com/document/d/1E0K_LDlDqEgHKESTqHKlKN50OJAxCcl_FcKB-qLL13A/edit#)

[2020-03-19 20:54] Dahianna opened #3135 "21st Century IDEA Baseline Compliance Criteria - User Centric"
**Criteria**

- [x] Regularly using qualitative and quantitative data to determine user goals, needs, and behaviors
- [x] Acting on the results of user testing and measuring return on investment

[2020-03-19 20:55] Dahianna opened #3136 "21st Century IDEA Baseline Compliance Criteria - Customizable"
**Criteria**

- [ ] Allowing repeat visitors, who have logged in, to auto-populate forms with saved information, such as contact info

[2020-03-19 20:57] Dahianna opened #3137 "21st Century IDEA Baseline Compliance Criteria - Mobile Friendly"
**Criteria**

- [x] Delivering content so it can be consumed on a variety of devices, browsers, and screen sizes (responsive design)
- [x] Ensuring users on mobile devices have equivalent access to info and services

[Section 3 of the Guidelines for GSA's Digital Presence](https://docs.google.com/document/d/1E0K_LDlDqEgHKESTqHKlKN50OJAxCcl_FcKB-qLL13A/edit#)

[2020-03-23 23:30] ryanhofdotgov commented on #2598
Discussed the draft with the official partner on our last 2-year IAA – DISA (NBIS) – a couple of minor changes were requested. I'm working on those for everyone's review.

(OPM was the original partner on our earlier, related IAA in years prior. DCSA is part of a reorg that is still underway; DISA (NBIS) is still where our partner points of contact sit.)

[2020-03-26 20:11] Dahianna commented on #3131
Currently working on updating USWDS, should be ready to go by the end of FY20

[2020-03-26 20:20] Dahianna commented on #3131
Add the following links to the footer:
- usa.gov
-  GSA FOIA page
- gsa.gov

Fix the accordion and footer for mobile site (will fix with USWDS update)

[2020-03-26 20:27] Dahianna commented on #3132
We'll look into an appropriate way to create a "leaving a gov site" notification

[2020-03-26 20:31] Dahianna commented on #3133
- Add search bar to homepage
- Add search.gov for analytics

[2020-03-26 20:39] Dahianna commented on #3133
Dahianna will reach out to search.gov and Andrew will assist with implementation.

[2020-03-26 20:54] Dahianna commented on #3134
Done!

[2020-03-26 20:54] #3134 closed

[2020-03-26 20:55] Dahianna commented on #3135
Done!

[2020-03-26 20:55] #3135 closed

[2020-03-26 20:56] Dahianna commented on #3136
N/A

[2020-03-26 20:56] #3136 closed

[2020-03-26 20:56] Dahianna commented on #3137
Done!

[2020-03-26 20:56] #3137 closed

[2020-03-27 17:04] Dahianna commented on #3121
@apburnes here's more information about[ P@11y](https://github.com/GSA/digitalgov.gov/pull/1936))
1. Install - [Pa11y documentation](https://github.com/pa11y/pa11y-ci#requirements)
2. Configure - Add a .[pa11y configuration file ](https://github.com/pa11y/pa11y-ci#requirements)and set it to scan your sitemap
3. Automate - Create [test scripts](https://github.com/GSA/code-gov-front-end/blob/master/

[2020-03-27 17:46] apburnes opened #3142 "Update site for improved indexing for Search.gov"
## Expected Behavior
When going to the [sitemap](https://18f.gsa.gov/sitemap.xml), the url's generated for the sitemap are using the `federalist.18f.gov`, not `18f.gsa.gov`.

## Actual Behavior
Expect the urls in the sitemap to use `https://18f.gsa.gov`

## Steps to reproduce the behavior
- [x] Update logic in the [sitemap.xml](https://github.com/18F/18f.gsa.gov/blob/master/sitemap.xml) to use the

[2020-03-27 19:17] Dahianna commented on #3133
Reached out to search.gov on Friday 3/27

[2020-04-02 18:54] Dahianna commented on #2598
Hi @ryanhofdotgov let me know when you want me to take another look

[2020-04-02 19:41] Dahianna commented on #3133
Met with search.gov and will make necessary updates. #3142

[2020-04-09 00:17] ryanhofdotgov commented on #2598
I incorporated the changes requested by our partner, made a few tech-related tweaks, and sent the revision off for our NBIS PoC to review: [Updated draft](https://docs.google.com/document/d/1WiU-1ZSz72nqmpZz3saxJGMkQ0oXdzS8l61NHSBK3wI)

[2020-04-14 19:17] ccjernigan opened #3150 "Typo on What We Deliver Page"
On the [What We Deliver](https://18f.gsa.gov/what-we-deliver/) page, there is a typo under the section of "Some agencies we've worked with."
Actual: United **Sates** Tax Court
Expected: United States Tax Court

[2020-04-15 15:47] Dahianna commented on #3150
Thank you @ccjernigan ! We'll look into the typo and make the fix.

[2020-04-16 18:58] #3129 closed

[2020-04-16 18:59] Dahianna commented on #3120
https://docs.google.com/presentation/d/16wkPkY47z4kGNSaN6c_WE5bcPK8DNVvjaAkTgasK98Q/edit

[2020-05-04 18:06] #3120 closed

[2020-05-04 18:13] Dahianna opened #3162 "Add a customer feedback tool"
Look into touchpoints: https://touchpoints.digital.gov/

[2020-05-04 18:16] Dahianna opened #3163 "Add UX guide to "guides " page"
Add link to the UX guide to the guides page: https://18f.gsa.gov/guides/

[2020-05-07 13:55] annepetersen commented on #3131
Just had a member of the public flag the problem with the mobile footer to me, so fixing this would be great!

[2020-05-14 19:28] Dahianna commented on #3112
Done!

[2020-05-14 19:28] #3112 closed

[2020-05-14 19:33] Dahianna commented on #3095
Hi, 18F does not manage the FedRAMP site. Feel free to submit an issue for the FedRAMP team here: https://github.com/GSA/fedramp-gov

[2020-05-14 19:33] #3095 closed

[2020-05-15 19:13] ryanhofdotgov commented on #2598
Spoke with our NBIS PoC; they haven't had time to review changes. I'll check back with them in 2 weeks.

[2020-06-10 16:53] Artahlil opened #3179 "Add "work" to 18F homepage mission statement"
## This issue is done when:
Mission statement says "18F partners **work** with agencies to improve the user experience of government services by helping them build and buy technology."

[2020-06-10 17:28] #3179 closed, assigned to apburnes, Artahlil

[2020-06-11 19:33] Dahianna opened #3180 "Implement new footer"
18F visual identity team created a footer we can use that meets GSA guidelines. Issue with process here: https://github.com/18F/brand/issues/211

## This issue is done when:
- [ ] We add the footer to the site
- [ ]
- [ ]

[2020-06-11 19:40] Dahianna commented on #2949
Moved to #3142

[2020-06-11 19:40] #2949 closed

[2020-06-11 19:44] #3105 closed

[2020-06-17 22:36] SelenaJV opened #3181 "18f homepage elements don't render correctly in IE"
## Expected Behavior
18F homepage should look good in most browsers

## Actual Behavior
In IE 11 (and maybe other versions) some sort of element collision makes the big quote on the top center look off. Perhaps this is scaling issue too?

![image (3)](https://user-images.githubusercontent.com/1444077/84957415-28581e00-b0c9-11ea-8f97-a9e3fbf19e8d.png)

![image (2)](https://user-images.githubusercon

[2020-06-23 23:12] iamjolly opened #3188 "Multiple accessibility problems with mobile menu"
## Expected Behavior

People using screen readers on mobile devices, keyboards with mobile devices, or keyboards and browser zoom with mobile view enabled should be able to open, access, and close the mobile menu with the same relative ease of anyone else using the site.

## Actual Behavior

1. Menu button lacks descriptive state (e.g. `aria-expanded="false"`), therefore a blind or low vision user

[2020-06-24 18:34] Dahianna commented on #3188
Thanks Robert! We'll added to our current accessibility work

[2020-06-24 18:36] Dahianna commented on #3121
Also look at issue #3188

[2020-06-24 18:50] iamjolly commented on #3188
Thanks @Dahianna - Unless you all feel strongly we should wait, I may work with @aduth on a PR to address this quickly since it is a significant barrier to folks.

[2020-06-24 18:59] Dahianna commented on #3188
Not at all. Feel free to work with to Abdul to get it fixed

[2020-06-25 17:47] aduth commented on #3188
Hi @apburnes @Artahlil !

@iamjolly and I had spent some of the morning today looking at how best to approach this issue. It's especially relevant in mind of the ongoing work at #3097 to upgrade to USWDS v2, since part of the issue here is that the current 18F website doesn't take advantage of the built-in accessibility of USWDS navigation components and instead implements its own mobile menu beha

[2020-06-25 19:55] Dahianna commented on #3188
@iamjolly and @aduth are you available to join us during our co-working session next week? We can discuss these options. I'll add you to the invite.

[2020-06-25 21:08] aduth commented on #3188
That sounds good @Dahianna . Talk to you then!

[2020-06-30 15:49] apburnes opened #3189 "Update dependencies to for security"
## Expected Behavior
To update the dependencies for ruby gem `rack` and js package `jquery`

## This issue is done when:
- [ ] Update `rack` to `gem "rack", ">= 2.1.4"`
- [ ] Update `jquery` to `v3.5.1`
- [ ] Update netlifycms

[2020-07-01 19:32] apburnes opened #3196 "Change default branch from `master` to `main`"
## Expected Behavior
Change default branch name from `master` to `main`

## This issue is done when:
- [x] Update github default branch
- [x] Update Federalist site live branch
- [x] Update links referring to master branch in site content

[2020-07-09 19:15] #3188 closed

[2020-07-13 16:14] Dahianna commented on #3061
@apburnes and @Artahlil USWDS has updated to 2.8 including an update to the gov site banner https://designsystem.digital.gov/components/banner/

[2020-07-27 19:26] Dahianna commented on #3142
Check after #3097 merged

[2020-07-27 19:28] Dahianna commented on #3132
Add icon to denote external site @apburnes

[2020-07-27 19:30] Dahianna commented on #3121
Pa11y works on site. We'll run after USWDS update and @Artahlil will demonstrate how to use it

[2020-07-27 19:31] Dahianna commented on #3131
Should be fixed after #3097 update

[2020-07-27 19:35] Dahianna opened #3205 "Create documentation for USWDS update"
Create a section on the wiki on how to update the USWDS library on the 18F site

## This issue is done when:
- [ ] Updating the USWDS library guide is created on the wiki page

[2020-07-27 19:38] #3150 closed

[2020-07-29 19:17] Dahianna opened #3207 "Implement new homepage design"
- [x] Review design with leadership
- [x] Make microrequest for a designer to make edits and implement

Here are the mockups on InVision:
https://gsa.invisionapp.com/share/PMUWVRMSUKN

Sketch files for USWDS 2.0 are here on Drive in the site folder:
https://drive.google.com/open?id=1jGVEhjizHt7ZZ0eFmqedlccs1O6y69Vh

Photos from 18F workshops here on Drive:
https://drive.google.com/open?id=1ySWACkf

[2020-07-31 18:01] #3131 closed

[2020-08-03 20:24] Dahianna commented on #3180
New footer was implemented with the newest USWDS update #3097

[2020-08-03 20:24] #3180 closed

[2020-08-03 20:26] Dahianna commented on #2841
Fixed with #3097

[2020-08-03 20:26] #2841 closed

[2020-08-03 20:29] Dahianna commented on #3103
Fixed with #3097

[2020-08-03 20:29] #3103 closed

[2020-08-03 20:32] Dahianna commented on #3207
Here are the results for the survey. As we've seen with our internal interviews, desktop 4 seems to be the preference. It's not perfect and we have to work on updating the content, but the illustration was seen more favorable over the hero image https://app.mural.co/invitation/mural/gsa6/1577730854809?sender=dahiannasalazarforeman2861&key=06243d9e-8f83-494b-894c-33787fd1bd81

[2020-08-03 20:35] Dahianna commented on #3207
More about the research https://github.com/18F/18f.gsa.gov/issues/3061#issuecomment-554079382

[2020-08-03 20:38] Dahianna commented on #3061
Moved implementation of homepage to issue #3207 Other issues solved by #3097

[2020-08-03 20:38] #3061 closed

[2020-08-03 20:42] Dahianna commented on #3094
Tracking on #3207

[2020-08-03 20:42] #3094 closed

[2020-08-07 17:02] Dahianna commented on #3142
Fixed with #3097

[2020-08-07 17:04] Dahianna commented on #3133
Should be good for closing after reviewing hound issues and merging #3212 @apburnes

[2020-08-07 17:05] Dahianna commented on #3133
Should be fixed when merging #3212

[2020-08-07 17:14] Dahianna commented on #3205
Draft: https://docs.google.com/document/d/11BSjhHZkYk-sFPeCRSvZiytJ7x4hM_P8-U_aXetZj8I/edit?ts=5f2c06f5

[2020-08-07 17:17] Dahianna commented on #3163
@jstrothman working on this

[2020-08-11 15:48] Dahianna commented on #3132
USWDS has a class for this https://designsystem.digital.gov/typography/02-links/

[2020-08-13 20:23] #3163 closed

[2020-08-19 16:00] igorkorenfeld opened #3224 "Fix typo in footer"
## Expected Behavior
List item should say "View accessibility statement"

## Actual Behavior
"View accessiblity statement"

## Steps to reproduce the behavior
- [x] Click `learn more` at the bottom of the footer

## This issue is done when:
- [x] Accessibility is spelled as such

![image](https://user-images.githubusercontent.com/52677065/90659909-40583500-e213-11ea-9afa-e62924fc63b5.png)

[2020-08-19 19:12] #3133 closed

[2020-08-19 19:28] Dahianna commented on #3142
Fixed with #3212

[2020-08-19 19:28] #3142 closed

[2020-08-19 19:31] Dahianna commented on #3224
Thanks Igor! Fixed with #3225

[2020-08-19 19:31] #3224 closed

[2020-08-20 19:55] #3189 closed

[2020-08-20 19:56] #3088 closed

[2020-08-20 19:57] Dahianna commented on #2598
@ryanhofdotgov do you have any updates?

[2020-08-20 19:59] Dahianna opened #3226 "DOJ Project Page"
Add content from impact story and publish

[2020-08-20 20:24] ryanhofdotgov commented on #2598
I think we can safely close it. I've been in regular contact with the PoC, but they have not been able to commit their time to review our draft. I'll re-open if that changes.

[2020-08-20 20:29] Dahianna commented on #2598
Ok, thanks Ryan! Ping me if we're able to resurrect it.

[2020-08-20 20:29] #2598 closed

[2020-08-24 19:17] igorkorenfeld opened #3229 "Improve spacing of header navigation links"
## Expected Behavior
The links should all be one line, and align on the baseline

## Actual Behavior
The first two links break into lines, which results in large gaps between the navigation links. This makes the first two links appear disconnected from the last three links.

![image](https://user-images.githubusercontent.com/52677065/91086165-84d13f80-e61c-11ea-926d-a40eddb158e8.png)

## Steps to

[2020-08-28 15:59] iamjolly opened #3231 "Accessibility: Get in touch button text low contrast when focused"
## Expected Behavior

Homepage hero button text has sufficient contrast with `:focus` and normal states.

## Actual Behavior

Homepage hero button text has low contrast (fails [WCAG 2.0 1.4.3 Contrast Minimum](https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html)) when it receives `:focus`.

## Steps to reproduce the behavior
- [ ] Open [18f.gsa.gov](https://18f.gsa.gov/) homepage
- [

[2020-09-03 19:08] Dahianna commented on #3226
Done #3234

[2020-09-03 19:08] #3226 closed

[2020-09-03 19:21] Dahianna opened #3236 "Explore search.gov additional capabilities"
## This issue is done when:
- [x] Search refine filters (sites, categories, etc..)
- [x] Improve SEO for 18F and guides

[2020-09-03 19:25] Dahianna commented on #3121
@Dahianna will do some research on options for an accessibility test

[2020-09-11 13:12] iamjolly opened #3238 "Submenu (.usa-sidenav) links fail contrast minimum on hover"
## Expected Behavior
All text on site will meet [WCAG 1.4.3 Contrast Minimum](https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html)

## Actual Behavior
Page submenu links (`.usa-sidenav`) have extremely poor contrast (1.62:1) on `:hover`. The minimum contrast ratio must be 4.5:1.

Screenshot:
<img width="902" alt="screenshot from 18F about page showing low contrast link text on hover"

[2020-09-11 16:49] #3238 closed

[2020-09-15 17:37] igorkorenfeld commented on #3229
Resolved with #3240

[2020-09-15 17:37] #3229 closed

[2020-09-17 18:50] igorkorenfeld opened #3244 "Add derisking guide to list of guides"
## Expected Behavior
Add the Derisking guide site to the list of guides at 18f.gsa.gov/guides/

## This issue is done when:
- [ ] Link to the derisking guides  is added
- [ ] The link has an icon

[2020-09-17 18:55] igorkorenfeld opened #3245 "Adjust size of UX Guide Icon to match others"
## Expected Behavior
The icon for the UX Guide should be the same size as the other icons for consistency, and to prevent misalignment.

## Actual Behavior
The icon is just a bit smaller
![image](https://user-images.githubusercontent.com/52677065/93514541-54b44e00-f8f5-11ea-8cb1-a40cd29adb24.png)

Vs.

![image](https://user-images.githubusercontent.com/52677065/93514688-80cfcf00-f8f5-11ea-9eca-24a

[2020-09-17 20:38] Dahianna commented on #3245
@jstrothman could you take a look?

[2020-09-17 20:41] igorkorenfeld commented on #3245
Over-communicating a bit, but wanted to note that I adjust it in #3246

[2020-09-17 20:58] jstrothman commented on #3245
Thank you @igorkorenfeld for fixing this up!

[2020-09-23 15:02] #3245 closed

[2020-09-23 15:03] Dahianna commented on #3244
#3246

[2020-09-23 15:03] #3244 closed

[2020-09-23 15:04] #3074 closed

[2020-09-23 15:05] Dahianna commented on #3074
No content creator or approval from agency. We'll revisit later if necessary

[2020-09-23 15:20] apburnes commented on #3101
Added acquisitions section and refined language #3108

[2020-09-23 15:20] #3101 closed

[2020-09-23 15:23] #2876 closed

[2020-09-23 15:25] apburnes commented on #2876
We have transitioned to using micro-sites https://engineering.18f.gov/

[2020-09-23 15:27] Dahianna opened #3250 "Discuss location of guides section"
Look at the sites navigation and make the guides section more prominent

[2020-09-23 15:27] apburnes commented on #3100
Closing do to rethinking site content structure

[2020-09-23 15:27] #3100 closed

[2020-09-23 15:30] apburnes commented on #2981
Closing since we are rethinking the What We Deliver content

[2020-09-23 15:30] #2981 closed

[2020-09-23 15:31] apburnes commented on #3093
Finished with with #2883

[2020-09-23 15:31] #3093 closed

[2020-09-23 15:31] #3092 closed

[2020-09-23 15:33] apburnes commented on #3092
Added DOJ and Derisking Federal Budgeting guide stories

[2020-10-01 19:10] Dahianna commented on #3250
Moved to nv bar and removed About #3253

[2020-10-01 19:10] #3250 closed

[2020-10-01 19:12] Dahianna commented on #3236
@dahianna to schedule meeting with search.gov team

[2020-10-01 19:33] Dahianna opened #3254 "Update anchor to USWDS identifier"
https://designsystem.digital.gov/components/identifier/

[2020-10-07 15:54] #3196 closed

[2020-10-15 18:28] Dahianna commented on #3236
Met with team on 10/15. We'll look into update metadata for blog titles and creating a collection

[2020-10-15 19:52] Dahianna opened #3258 "Remove blog search bar"
We now have a new search.gov bar and we no longer need the old blog search bar

[2020-10-15 19:55] Dahianna opened #3259 "Add microsites to search.gov domains"

[2020-10-15 19:55] #3236 closed

[2020-10-15 21:05] Dahianna opened #3260 "Clean up the code base and removing unnecessary pieces"
Remove any unused javascript, scss, html, or other artifacts.

Expected after list is created
- Create a new issue or pull request identifying the unused code or component
- Remove from the codebase
- Lather, Rinse, Repeat

Acceptance Criteria
- [ ] Identify and list any possible unused code

[2020-10-15 21:05] Dahianna opened #3261 "Update wiki page"

[2020-10-15 21:06] Dahianna commented on #3254
Solved with #3249

[2020-10-15 21:06] #3254 closed

[2020-10-21 15:01] Dahianna opened #3264 "Decommission old sites"
- [x] [Dolores Staging site](https://github.com/18F/tts-tech-portfolio/issues/923)

- [x] [https://climate-data-user-study.18f.gov/](https://github.com/18F/tts-tech-portfolio/issues/1026)

- [x] [https://govconnect.18f.gov/](https://github.com/18F/tts-tech-portfolio/issues/1027)

- [x] [performance-gov-research](https://github.com/18F/tts-tech-portfolio/issues/964)

- [x] 18f.domains.api.data.gov

[2020-10-29 19:08] Dahianna commented on #3258
We'll remove blog search from the site

[2020-11-13 20:46] afeld opened #3270 "redirect to Code of Conduct in Handbook"
The Code of Conduct applies TTS-wide, so I suggest we point to the copy in the Handbook instead of keeping it on the 18F site.

## Expected Behavior

Visiting `/code-of-conduct/` redirects to https://handbook.tts.gsa.gov/code-of-conduct/.

## Actual Behavior

There's a page in both places.

## Steps to reproduce the behavior

- [ ] Visit `/code-of-conduct/`

## This issue is done when:

- [ ] Ther

[2020-11-17 15:15] nate-io commented on #3181
@SelenaJV, @apburnes It looks like the `em` values are being misapplied in IE11. I have a proposed fix using `rem` on my local but am unable to create a PR for review. How should I proceed?

[2020-11-19 19:01] apburnes commented on #3181
Hi @nate-io, you can create a fork the repository and create a PR with comments relating to this issue. Thanks again.

[2020-11-19 22:22] nate-io commented on #3181
@apburnes Sure thing - [as requested](https://github.com/18F/18f.gsa.gov/pull/3272) let me know what you think and I'll change as required.

[2020-12-08 19:35] Dahianna commented on #3102
Met with 18F BD team and they'll review content and provide input

[2020-12-08 19:38] Dahianna opened #3281 "Update how we work content FY21"
## Steps
- [ ] [Draft content](https://docs.google.com/document/d/1NOfxHfT4MLSLW4yzmlcV2vWkKeH0TUrM8GvBvlkjbBk/edit) with 18F SMT
- [ ] Obtain approval from 18F Director
- [ ] Obtain approval from TTS leadership
- [ ] Publish to site

[2020-12-08 19:42] Dahianna commented on #3281
Met with @anjunainaustin and they'll work with 18F Leadership to provide content by January 29th

[2020-12-08 21:17] Dahianna commented on #3270
That works for me! @apburnes let's make this change during planning this week

[2020-12-09 16:43] Dahianna commented on #3270
https://github.com/18F/18f.gsa.gov/pull/3282

[2020-12-09 16:43] #3270 closed

[2020-12-10 20:37] Dahianna opened #3286 "Migrating external asset dependencies to use jekyll assets plugin"
Migrate all of our javascript, sass, and css dependencies to be included via the [jekyll assets plugin](https://github.com/envygeeks/jekyll-assets) and not include them directly as is now.

- [x] Update netlify-cms js to pull from node_modules (see [example include](https://github.com/18F/18f.gsa.gov/blob/main/admin/index.html#L13) and [example config](https://github.com/18F/18f.gsa.gov/blob/main/

[2020-12-10 20:38] Dahianna opened #3287 "Cleanup old site templates"

[2020-12-15 18:14] igorkorenfeld opened #3290 "Broken icon on official gov site banner"
## Expected Behavior
The banner should display a down chevron
![image](https://user-images.githubusercontent.com/52677065/102254730-e2d0ae00-3ebd-11eb-8245-cf2de557d422.png)

## Actual Behavior
Displaying a horizontal bar
![image](https://user-images.githubusercontent.com/52677065/102254794-f8de6e80-3ebd-11eb-9230-0eeb8125e41b.png)

I am guessing it has to do with this `mask` property
![image](htt

[2020-12-15 18:17] Dahianna commented on #3290
Thanks Igor! @apburnes is OOO until 2021. Feel free to create a pull request to fix the icon and I can review it.

[2020-12-15 22:10] Dahianna commented on #3130
Close after solving #3132 and #3121

[2020-12-15 22:19] Dahianna commented on #3181
Solved with #3272

[2020-12-15 22:19] #3181 closed

[2020-12-17 22:23] Dahianna commented on #3132
Close by #3292

[2020-12-17 22:23] #3132 closed

[2020-12-18 15:55] anjunainaustin opened #3297 "Add De-risking Gov IT Workshop offering to site"
Need to add public description to the site about our newest offering.

Draft description:
We will introduce your team to the fundamentals of successful agile government IT projects. After completing this training, participants will be able to:
- demonstrate familiarity with core concepts in agile, human-centered design, DevSecOps, and product ownership
- write and identify RFPs that are positioned

[2020-12-21 19:20] Dahianna commented on #3297
We can start by adding the budgeting guide to the "guides" page and making the workshops more prominent on the budgeting guide page. I'm talking with folks at 18F to discuss the site's IA to see if and how we can add the workshop and other independent sites (like the portfolios page) to the site cc @arouault

[2020-12-21 19:22] Dahianna opened #3299 "Link/ add portfolios page to the site"
- Identify best way to introduce the portfolios page to the site: https://portfolios.18f.gov/
- Implement solution

[2020-12-21 21:25] lauraponce commented on #3207
@Dahianna here's the updated version of the homepage: [Invision link](https://gsa.invisionapp.com/share/38ZS7VYMNZ2#/441027931_Desktop_4-Updated)

The updates include:
- changing "agency" to "consultancy" in the headline
- changing "featured projects" to "case studies"

The content on version 3 differs from 4 where it says "We support your mission" in 3 vs "We help you achieve your mission" in 4.

[2020-12-21 21:42] Dahianna commented on #3207
Thanks for the quick turnaround @lauraponce ! So far so good. Yes, let's change "We help you achieve your mission" to "We support your mission"

Let's add guides as well. And I was thinking we should update the nav order to:
`Projects - Our Processes - Guides - About us - Blog`
What do you think?

[2020-12-21 21:50] anjunainaustin commented on #3297
Thanks @Dahianna! One thing I want to suggest is that since similar trainings have previously been offered under a different name (and I just renamed this to "Training" to make the distinction very clear),and the budgeting guide got renamed too, could you make sure the folks you're talking to about IA call this the De-risking Training, not confused with the Acq Workshop, and also that the guide is

[2020-12-21 21:52] Dahianna commented on #3297
Sure! cc @lauraponce and @annepetersen

[2020-12-21 21:54] lauraponce commented on #3207
@Dahianna I agree with that ordering for the nav — updated!

Here's the new version with the "we support your mission" language and the updated nav order:
[Invision link](https://gsa.invisionapp.com/share/38ZS7VYMNZ2#/441030052_Desktop_4-Updated_New) and the [updated Sketch file](https://drive.google.com/drive/folders/1jGVEhjizHt7ZZ0eFmqedlccs1O6y69Vh).

![Desktop 4-updated new](https://user-image

[2020-12-21 22:00] Dahianna commented on #3207
Awesome, thanks @lauraponce !

[2020-12-22 16:21] Dahianna opened #3300 "Add de-risking guide to the guides section"
In response to #3297
- [ ] Identify an icon
- [ ] Add icon and link to the [guides section](https://18f.gsa.gov/guides/)

[2020-12-22 18:28] #3300 closed

[2020-12-22 18:31] Dahianna commented on #3297
De-risking guide is already in the guides section:
![image](https://user-images.githubusercontent.com/22921144/102921227-06659c80-445a-11eb-91e5-e1b591a583d4.png)

[2020-12-23 16:15] igorkorenfeld commented on #3290
Looking into it a little further, it seems like the `mask` property is missing the `webkit-` prefix. I haven't figured out why that's happening yet.

[2020-12-29 19:27] lauraponce commented on #3297
@Dahianna here are a couple of variations for adding the de-risking training information to the [How we work page](https://18f.gsa.gov/how-we-work/):

### A - Condensed text version

![Condensed text](https://user-images.githubusercontent.com/21222704/103308597-a0cc5f80-49c7-11eb-975c-7201c21a17a3.png)

______

### B - Longer text version

![Long text](https://user-images.githubusercontent.com/212

[2020-12-29 19:57] anjunainaustin commented on #3297
Thanks @lauraponce! Whatever you and @Dahianna think is best, I trust your judgment.

[2020-12-29 23:28] lauraponce commented on #3299
@Dahianna what are your thoughts on adding a link to the portfolios from the main nav at the top of the page? I feel like it works well there, and if it was just a section on another page, it might get lost in the other content.

![Screen Shot 2020-12-29 at 3 23 08 PM](https://user-images.githubusercontent.com/21222704/103320350-d71ad680-49e9-11eb-8360-f3b3a5265ec0.png)

It feels important enough

[2020-12-31 17:52] nate-io commented on #3258
PR ready for review https://github.com/18F/18f.gsa.gov/pull/3305

[2021-01-04 15:43] Dahianna commented on #3299
As I understand them, Portfolios are part of our process (how we work), so my first thought was to add them to that section; but as you mentioned they might get lost in all that content. Let's as BD what they think. @anjunainaustin do you see Portfolios be separate from our process/services?

Also, having a section named "Portfolios" might make users think it's a portfolio of our work and not a fi

[2021-01-04 16:10] anjunainaustin commented on #3299
Hmm, you know [I've been thinking about this a lot ](https://docs.google.com/document/d/1diyh7CsG5rgpQyJZotDb_bcwPEy1c-Gl3P18VgwIkvI/edit#heading=h.yrp8gybx89k5) lately actually. I've outlined in that doc the distinct components of our sales pitch: mission areas, knowledge areas, offerings, and proof (project examples). Yes I think they're distinct from our services. I think adding a small section

[2021-01-04 16:51] Dahianna commented on #3207
@apburnes this is ready to implement. Let me know if we need to submit a #helpwanted request

[2021-01-04 17:21] apburnes commented on #3207
@Dahianna I'll be fairly busy this week so maybe we throw this into the `helpwanted` tag. Also, we may want to break this up into a few issues to make it easier on the folks jumping in to contribute.

[2021-01-04 18:02] Dahianna commented on #3207
Sounds good, I'll go ahead and do that. Thanks!

[2021-01-06 16:15] Dahianna opened #3310 "Update "Most Popular" blog bar"
- Gather analytics
- Update content

[2021-01-06 16:28] cmajel commented on #3207
@Dahianna I've updated [the drive](https://drive.google.com/drive/folders/1jGVEhjizHt7ZZ0eFmqedlccs1O6y69Vh) with an updated header graphic and sketch file that incorporates more 18F brand colors. Before and after below.

I'd also recommend we use [$color-dark for headings](https://18f.gsa.gov/styleguide/colors/), rather than black, to make the new homepage consistent with other pages. I've includ

[2021-01-06 16:45] apburnes opened #3311 "Remove jekyll_pages_api_search from Gemfile dependencies"
With the transition to using Search.gov, its capabilities to search just the blog content collection of the site, and the dependency no longer being maintained, we need to remove the `jekyll_pages_api_search` and any references to it.

Acceptance Criteria:
- [x] Dependency removed from Gemfile and FederalistGemfile
- [x] Remove any related js or html files referencing the jekyll plugin

[2021-01-06 16:55] Dahianna commented on #3207
@lauraponce the site team also noticed the new design doesn't include the search bar. With the "Gen in touch" button now also on the nav, where could we place the search bar?

[2021-01-06 17:00] Dahianna commented on #3207
@cmajel Thank you for the updates. They look good to me

[2021-01-06 18:28] lauraponce commented on #3207
@Dahianna here's what it looks like with the search bar on the right side of the nav, it seems like it can still fit in there. Thoughts on this?

![Screen Shot 2021-01-06 at 10 27 11 AM](https://user-images.githubusercontent.com/21222704/103806376-c7167e80-5009-11eb-8d5d-6bab8565f646.png)

[2021-01-06 20:04] Dahianna commented on #3207
Thanks @lauraponce What do you think about moving the get in touch button after the search bar?
cc @apburnes thoughts?

[2021-01-06 20:09] lauraponce commented on #3207
@Dahianna here's what it looks like with that swap, I feel like it works pretty well like this:

![Screen Shot 2021-01-06 at 12 07 39 PM](https://user-images.githubusercontent.com/21222704/103815185-d3a1d380-5017-11eb-8eda-5f266b5701f3.png)

[2021-01-06 20:13] Dahianna commented on #3258
Solved with PR #3306

[2021-01-06 20:13] #3258 closed

[2021-01-06 20:13] Dahianna commented on #3259
Done!

[2021-01-06 20:13] #3259 closed

[2021-01-06 20:14] Dahianna opened #3312 "Change Most Popular post bar into a collection"

[2021-01-06 20:22] apburnes commented on #3207
The header container is currently using the USWDS standard at 944px from edge to edge for all of the elements in the header.  What is the mock container width from the edge of the logo to the edge of the `Get in touch` button?

[2021-01-06 20:47] Dahianna commented on #3310
Use [blog analytics](https://docs.google.com/spreadsheets/d/16R8r_34yhnelBxP2s44RDm8-kzit4wMiG-9pxyx6KvQ/edit#gid=1072742492) and [search.gov report](https://search.usa.gov/sites/7744/queries) to updates most popular and browse by topic

[2021-01-06 20:50] lauraponce commented on #3207
It should be the same as the USWDS standard, this is 944px

![Screen Shot 2021-01-06 at 12 42 49 PM](https://user-images.githubusercontent.com/21222704/103818310-1dd98380-501d-11eb-857b-ac49343766a0.png)

[2021-01-08 15:42] apburnes opened #3317 "Add autoprefixer to jekyll-assets"
## Expected Behavior

Building the SCSS will autoprefix the CSS styles when building with `jekyll-assets`.

## Actual Behavior
Will add the vendor specific prefixes to css styles that apply to better support multiple browsers. Should fix #3290

## This issue is done when:
- [x] Install autoprefix gem and configure based on [`jekyll-assets` docs](https://github.com/envygeeks/jekyll-assets#css-auto-

[2021-01-11 14:52] Dahianna commented on #3310
Fixed with PR #3313

[2021-01-11 14:52] #3310 closed

[2021-01-13 16:21] apburnes opened #3320 "Link or update the 18F Open Source policy and practice page based on the repo"
Look to update the Open source policy and practice page based on https://github.com/18F/open-source-policy

[2021-01-13 16:27] Dahianna commented on #3311
Fixed with #3316

[2021-01-13 16:27] #3311 closed

[2021-01-20 05:12] Dahianna commented on #3297
I think the condensed version is best, so it's consistent in length with the others. @anjunainaustin let's add this to the how we work draft doc so we updated all at once. Thanks @lauraponce!

[2021-01-28 15:32] Dahianna opened #3325 "Remove https://18f.gsa.gov/dashboard/stages/"

[2021-01-29 18:13] #3264 closed

[2021-01-29 18:16] Dahianna commented on #3207
Great! Thank you so much @lauraponce ! I'll share with @AshleyO85 and the leadership team to see if they have any last comments, other than that we'll be ready to do the update!

[2021-01-29 18:18] Dahianna commented on #3207
@lauraponce when you have a moment can you update the invision with the changes to the header and Christine's update to the hero. Thanks!

[2021-01-29 18:48] AshleyO85 commented on #3207
is this different the web page revision i owe you in staffing

18F - U.S. General Services Administration

*Ashley T. Owens*

Acting Deputy Director and Senior Advisor of Acquisition (Acq Breaker of
Chains)

GSA - FAS - TTS - 18F

*Build Better, Buy Better*

On Fri, Jan 29, 2021 at 1:19 PM Dahianna Salazar Foreman <
notifications@github.com> wrote:

[2021-01-29 19:11] Dahianna commented on #3207
Yep. This design and content had been approved by leadership in the past. I
just want to double check that it resonates with you too and you agree with
the new names for the sections in the site.

U.S. General Services Administration

*Dahianna V. Salazar Foreman*
 Digital Marketing
 TTS Outreach
 Technology Transformation Services
 Federal Acquisition Service
  <https://www.linkedin.com/company/g

[2021-02-03 02:17] AshleyO85 commented on #3207
can we add a quote from DOJ CRT and update the case studies or is that out of scope for this issue?

[2021-02-03 14:14] Dahianna commented on #3207
If you give me the quote we can update that. As for the case studies, that's a different issue. @anjunainaustin is working on that.

[2021-02-04 20:54] #3325 closed

[2021-02-04 21:12] apburnes opened #3332 "Fix broken magnifying glass icon on search button for the USWDS Bump 2.9.0 to 2.10.0"
See the build for https://github.com/18F/18f.gsa.gov/pull/3296 and fix the broken icon

Acceptance Criteria
- [ ] Magnifying glass icon visible on search button

[2021-02-04 21:12] Dahianna opened #3333 "Fix broken magnifying glass icon on search button for the USWDS Bump 2.9.0 to 2.10.0"

[2021-02-04 21:18] apburnes commented on #3121
To test accessibility, we need to add a step in CircleCI to run pa11y test against the rendered '_site' directory. See https://github.com/18F/federalist.18f.gov/blob/main/.circleci/config.yml#L10 for inspiration.

[2021-02-04 21:22] Dahianna commented on #3320
Reviewed Github content and it still matches content on page. Link to Github repo already in open source page.

[2021-02-04 21:22] #3320 closed

[2021-02-04 21:28] apburnes commented on #3162
No longer needed.

[2021-02-04 21:28] #3162 closed

[2021-02-05 21:39] lauraponce commented on #3207
Hi @Dahianna! @lauraGgit @cmajel and I were chatting over Slack about this and I wanted to add the designs here also for visibility: here's the latest HP design and it's updated in the [Drive folder](https://drive.google.com/drive/folders/1jGVEhjizHt7ZZ0eFmqedlccs1O6y69Vh) also (marked as LATEST with the timestamp).

![Latest HP design](https://user-images.githubusercontent.com/21222704/107091897-

[2021-02-08 15:18] Dahianna commented on #3207
Thank you @lauraponce @lauraGgit and @cmajel ! I only have two minor edits. @AshleyO85 wants to change the FEC quote to a DOJ quote. I'm waiting on the content. Also let's make sure we use the [current footer and identifier](https://18f.gsa.gov/) @lauraGgit feel free to start the pull request.

[2021-02-09 01:03] wils0nk3 opened #3337 "You hijacked my account and your help is useless"

[2021-02-09 01:57] lauraGgit opened #3338 "upgrade jekyll"
upgrading jeykyll for other dependency upgrades

[2021-02-09 01:58] lauraGgit opened #3339 "upgrade ruby"

[2021-02-09 14:48] #3337 closed

[2021-02-09 19:50] lauraGgit opened #3341 "migrate to uswds-jekyll"
## Expected Behavior

## Actual Behavior

## Steps to reproduce the behavior
- [ ]
- [ ]
- [ ]

## This issue is done when:
- [ ]
- [ ]
- [ ]

[2021-02-10 16:14] #3290 closed

[2021-02-10 16:52] lauraGgit opened #3343 "migrate to uswds card component"
## Expected Behavior
use the [uswds card component](https://designsystem.digital.gov/components/card/)

## Actual Behavior
custom css for cards

## Steps to reproduce the behavior
- [ ]
- [ ]
- [ ]

## This issue is done when:
- [ ]
- [ ]
- [ ]

[2021-02-11 21:53] #3312 closed

[2021-02-17 16:16] Dahianna commented on #3317
Fixed by #3302

[2021-02-17 16:16] #3317 closed

[2021-02-17 16:24] Dahianna opened #3347 "Netlify posts collection sort by doesn't show latest posts"
https://18f.gsa.gov/admin/#/collections/posts when sorting posts by newest-oldest the posts shown are not in the right order

To Do:
- [ ] Parse all of the blog posts' frontmatter data to find discrepancies in page metadata
- [ ] Fix and standardize blog bost metadata structure