[2016-09-28 22:41] coreycaitlin commented on #1893
Next steps:

- [ ] Content inventory of the press page
- [ ] Content testing
- [ ] Research to find out whether journalists look for press pages

[2016-09-29 14:09] awfrancisco commented on #1908
Added a step about talking to Talent. Happy to facilitate this.

[2016-10-03 16:38] gemfarmer commented on #1878
Closed with #1905

[2016-10-03 16:38] #1878 closed

[2016-10-03 16:39] gemfarmer commented on #1879
Closed with #1905

[2016-10-03 16:39] #1879 closed

[2016-10-03 16:55] ericronne commented on #1895
Added myself here! In a sense, i suppose this issue is blocked by further hypothesizing, to confirm that this unit does indeed seem promising.

[2016-10-04 17:46] coreycaitlin commented on #1917
[Here is the summary](https://github.com/18F/18f.gsa.gov/blob/research/research/0-sprint/0-sprint-research-synthesis.md) (written by @jamiealbrecht)

[2016-10-04 21:37] awfrancisco commented on #1917
I thought the "Who receives the email when I write to the inquiries box?" and "Could you add an org chart or a note from the Executive Director?" feedback were really interesting. We had some info on the intake team on the intake site, but haven't replicated it for AP. I know there are issues with publishing the org chart, but some basics about main contacts and a note from Aaron are both interest

[2016-10-07 18:45] gboone opened #1929 "Remove ethnio script"
As discussed during stnadup, it seems like we've gotten enough participation from ethnio for now. [Here's the location of the script in the source.](https://github.com/18F/18f.gsa.gov/blob/master/_includes/head.html#L63-L65)

[2016-10-08 07:12] afeld commented on #1892
/cc https://github.com/18F/18f.gsa.gov/issues/1893

[2016-10-11 16:28] gemfarmer opened #1931 "Allow for accessible, same-name headers"
Currently, the 18F site uses [redcarpet's `with_toc_data` extension](https://george-hawkins.github.io/basic-gfm-jekyll/redcarpet-extensions.html#with_toc_data)  to auto-generate header with associated IDs for linking.

So that
[code]
becomes
[code]

This is all well and good until we have multiple headers on the page with the same name and we end up with two identical IDs, a problem for accessibil

[2016-10-12 17:18] gemfarmer opened #1933 "Make issue and PR templates"
Make templates for new issues and PRs. This should help standardize things internally and for contributors

From EITI:
- [ISSUE_TEMPLATE.md example ](https://github.com/18F/doi-extractives-data/blob/dev/ISSUE_TEMPLATE.md) – add criteria to define when issues are scoped correctly. Micropurchase has some great examples here.
- [PULL_REQUEST_TEMPLATE.md example](https://github.com/18F/doi-extractives

[2016-10-12 17:20] gemfarmer opened #1934 "Update contributing documentation"
We just had a workflow meeting and were met with the following PR rules that should be reflected in the docs

Loose PR rules:
- Don’t merge your own pull requests
- Squash your merges if there are many typo-style commits (docs on how to squash)
- Don’t merge until linters pass, unless reviewer passes on exceptions

[2016-10-13 21:19] gemfarmer commented on #1914
We discussed forking the PR [here](https://github.com/jekyll/jekyll-archives/pull/58) for incremental jekyll archives builds instead of continuing to modify the build script.

cc @gboone

[2016-10-13 22:10] awfrancisco opened #1941 "Add blog tag scanning"
Create an automated way for blog tags to be scanned before posts are published. This would help avoid:
- Common mistyping/naming of existing tags
- Creation of unnecessary tags
- Blog posts missing relevant tags

This feature would not need to be a blocker for merging a blog post, only a warning or prompt. This feature is a low priority for the blog.

[2016-10-14 18:01] gemfarmer commented on #1896
A repo specific pa11y scan has been added as of #1924. An enhancement to that branch could be to only scan urls that changed in that PR!

[2016-10-14 18:12] gemfarmer commented on #1914
Started working on [18F version of Jekyll archives](https://github.com/18F/jekyll-archives/). So far it isn't speeding up regeneration.

[2016-10-17 16:44] awfrancisco opened #1947 "Bug: user-centered design tag index not showing all posts"
The tag list shows 27 posts with the tag `user-centered design` ![user-centered-design](https://cloud.githubusercontent.com/assets/12051887/19446524/d392d430-945e-11e6-9ed2-4e82d64a2986.jpg)

But the page [only shows 1 post](https://18f.gsa.gov/tags/user-centered-design/).

[2016-10-17 16:57] awfrancisco commented on #1947
I believe this could be fixed by adding a hyphen to the one post that is tagged `user centered design` but I'll wait to do that in case anyone wants to diagnose the deeper problem.

[2016-10-17 18:14] gemfarmer opened #1949 "Make jekyll-archives support incremental regeneration"
This issue is in conjunction with #1914, the issue that outlines how to improve our workflow.

One of the major snares to solving this issue is that [jekyll archives is not playing nice](https://github.com/18F/18f.gsa.gov/issues/1914#issuecomment-253879709). Switch between `./serve` and `bundle exec jekyll serve` is annoying and potentially causes Gemfile conflicts. To avoid this, we would need to

[2016-10-17 19:11] awfrancisco opened #1951 "Research: /open page to post documents and promote transparency"
Since publishing more documents and policies is one of Dave's [6 priority projects](https://gsa-tts.slack.com/archives/18f-management/p1476711451000298), it might be good to focus some time on research/brainstorming what a page would look like to highlight these documents.

Draft hypothesis for this page:

**We believe that…**
- publicly posting important documents about how we work, our agreement

[2016-10-17 20:28] coreycaitlin opened #1952 "Homepage hero: Visual design concepts"
For our next iteration of the homepage hero space, we're going to try highlighting a few other projects. The next step is to begin exploring how to visually represent a few of the following projects:
- [x] FEC
- [x] cloud.gov
- [ ] Data Act
- [x] EITI
- [ ] ~Digital analytics program~
- [ ] ~Web Design Standards~

[2016-10-17 20:30] coreycaitlin opened #1953 "Homepage hero: Content concepts"
For our next iteration of the homepage hero space, we're going to try highlighting a few other projects. The next step is to begin exploring how to talk about a few of the following projects:

- FEC
- cloud.gov
- Data Act
- EITI
- Digital analytics program
- Web Design Standards

This will happen in parallel with #1952

[2016-10-18 14:43] #1929 closed

[2016-10-18 14:44] gboone commented on #1941
This could potentially be added to the [jekyll frontmatter test suite](https://github.com/18f/jekyll_frontmatter_tests).

[2016-10-18 15:00] gboone commented on #1896
@gemfarmer @mugizico should this issue stay open until 18F/concourse-compliance-testing#117 is finished or are we good to close now?

[2016-10-18 15:05] #1445 closed

[2016-10-18 15:14] #280 closed

[2016-10-18 15:17] #668 closed

[2016-10-18 15:19] #293 closed

[2016-10-18 15:19] #292 closed

[2016-10-18 15:19] #283 closed

[2016-10-18 15:20] #1333 closed

[2016-10-18 16:03] coreycaitlin opened #1954 "Visual design for subnav"
The join18f content is a bit deeper than any of the content currently on the site — which means it's probably time for another level of navigation. This issue is for beginning to design a sub-navigation system.

[2016-10-18 17:10] coreycaitlin commented on #1916
This is done! [Here it is](https://github.com/18F/18f.gsa.gov/blob/research/research/1-sprint-karstcaves/interview-script.md)

[2016-10-18 17:10] #1916 closed

[2016-10-18 17:18] coreycaitlin commented on #1947
One concern is whether "fixing" this for our purposes, then contributing that back to the plugin project, would impose our style choices on other users, which might not be totally appropriate.

Next steps:

- @gemfarmer to investigate further
- @awfrancisco to fix the immediate `user-centered design` situation

[2016-10-18 17:19] #1917 closed

[2016-10-18 17:20] coreycaitlin commented on #1908
Created issue #1954 for the design chunk of this

[2016-10-18 17:21] coreycaitlin commented on #1895
Created issues #1952 and #1953 to break out next steps

[2016-10-18 17:22] coreycaitlin commented on #1953
Hey! There's a doc for this already (limited access): https://docs.google.com/document/d/1_2sA8ybYlxUrJLF6aXLNlH0mUiXvHKpcDvDjilOjyow/edit

[2016-10-18 17:22] #1915 closed

[2016-10-18 17:24] coreycaitlin commented on #1875
I believe this is fixed now!

[2016-10-18 17:25] coreycaitlin commented on #1875
Yep — #1876 fixed this

[2016-10-18 17:25] #1875 closed

[2016-10-18 17:35] gboone commented on #1947
Here is the related issue I opened with the Jekyl Archives project back in the day https://github.com/jekyll/jekyll-archives/issues/43

[2016-10-18 17:35] coreycaitlin commented on #1951
Next step: I'll review related materials and discuss with @awfrancisco

[2016-10-18 17:40] coreycaitlin commented on #1953
Note: we want to make sure this content makes clear that this is just ONE sample project.

[2016-10-18 17:42] coreycaitlin opened #1955 "Summarize marketing and agency partnerships research"
This issue is for creating a summary of Outreach research to feed back into the site project.

[2016-10-18 17:43] coreycaitlin opened #1956 "Summarize user interviews from Sprint Karst-Caves"
Create a summary of findings from the last few weeks of user interviews.

[2016-10-18 17:44] coreycaitlin commented on #1895
Closing this out in favor of more detailed issues!

[2016-10-18 17:45] #1895 closed

[2016-10-18 18:47] awfrancisco commented on #1955
To clarify, this is for research for marketing materials, as opposed to the separate research on audiences and mediums that Outreach is doing as part of their strategic planning.

[2016-10-18 18:54] coreycaitlin commented on #1906
I think this is also discussed in #1896 and resolved with #1924

[2016-10-18 18:54] #1906 closed

[2016-10-18 19:00] coreycaitlin commented on #1931
Can this be closed out? It looks like one solution was [mentioned here](https://github.com/18F/18f.gsa.gov/pull/1924#pullrequestreview-4304167) but I'm not sure if that solves the problem globally.

[2016-10-18 20:06] #1934 closed

[2016-10-18 20:06] gboone commented on #1934
#1957 was all that was left for this issue, correct? Feel free to reopen if there's more here.

[2016-10-18 20:40] awfrancisco commented on #1955
Here's the [summary of marketing materials research](https://docs.google.com/document/d/1ynXKiw09sK8Mwnn0w0PQCevbFV0g0ysoJ2_MLj7eQ3k/edit#)

Next steps: Romke is mapping out a rough customer journey for potential partners. Then he is going to match up the research findings with different points along the journey to guide us in a plan for creating materials and process improvement. After we validat

[2016-10-18 20:51] gboone commented on #1931
That's not a global fix in that if we add another page with two headers of the same name this will reappear. But with the a11y scanning, I think it's possible this bug won't end up in production again. So maybe it's a lower priority for us because of that.

We don't _typically_ have multiple identical headers on the same page but I can think of a few scenarios when it might happen again.

[2016-10-18 21:07] gemfarmer commented on #1949
There is [movement on the jekyll-archives page](https://github.com/jekyll/jekyll-archives/pull/58#issuecomment-254405585)! This issue is tabled as we wait for those changes to roll in!

[2016-10-18 21:41] gemfarmer opened #1960 "Create content linter"
It would be great to have a CI tool that would lint content in the 18f site repo on a push or PR basis. Linting content would allow us to
- flag incendiary or harmful language
- create consistency in language used throughout the repo
- unburden outreach. Blog contributors will be told what language is ill-advised before the outreach team needs to get involved
- a CI tool would enable this tool to

[2016-10-19 17:06] elainekamlley commented on #1637
Steps:

1. Change URL and ensure it is redirecting properly from `/team` to `author`
2. Specify an attribute to indicate alum (ask team if we want to track detailees)
3. Ensure the build fails if `author` is not found
4. Move author archive to tag layout

[2016-10-19 20:10] coreycaitlin opened #1963 "Wireframe project-tag landing page"
Create a wireframe for a lightweight "project page" that rolls up all blog posts associated with a given project.

[2016-10-19 20:30] coreycaitlin commented on #1955
This is great! Thanks @awfrancisco — closing this out now.

[2016-10-19 20:30] #1955 closed

[2016-10-19 21:20] #1933 closed

[2016-10-20 15:28] coreycaitlin commented on #1963
@ericronne Here's my "sketch" of what kind of intro we'd need at the top of these pages. A few other notes on this:

- We could think about stripping back the blog-post snippets so there's isn't quite so much metadata competing for attention on this particular roll up page: we may not need all tags to show up in this context, we might be okay without author names here, and we could consider droppi

[2016-10-20 15:51] coreycaitlin commented on #1953
New set of concepts and notes [started here](https://docs.google.com/document/d/1WiRG4e-Qr485u4zi0hAaA7PZRiZG0hR4rVWwfEKxGUI/edit#heading=h.kk7avjoo6vsy) (limited access)

[2016-10-20 22:51] jamiealbrecht commented on #1956
Working on this here: https://github.com/18F/18f.gsa.gov/blob/research/research/1-sprint-karstcaves/1-sprint-research-synthesis.md

[2016-10-21 00:03] maya commented on #1954
I know the visual designers created this as a first go:

![join18f](https://cloud.githubusercontent.com/assets/5249443/19582140/075b85a2-96e7-11e6-9d4b-3f34b2387316.jpg)

[2016-10-21 16:18] ericronne commented on #1963
At a glance, the only thought i have is to add the home-page hero image at the top. This should serve as a nice cognitive link between the home hero and this page.

![image](https://cloud.githubusercontent.com/assets/9259185/19605509/1027ef9c-9780-11e6-8f51-69f03497cd61.png)

[2016-10-21 20:28] ericronne opened #1965 "Homepage hero: FEC design"
I think it might be better to track each hero design in a separate issue, especially since it could take a while to generate all of the ones listed in issue #1952. Hope y'all agree! Here's a design for fec. (Note that the comp width is 1024; the image will responsively resize / shift.)

Concept makes use of a magnifying glass to abstractly represent the functionality of the fec tool, which enables

[2016-10-23 13:38] ericronne commented on #1965
And with just the first two words in white (more balanced from a visual standpoint, content thoughts @coreycaitlin?)...

## Option A alt: Gray magnifying glass
![hero-fec-gray-mag-alt](https://cloud.githubusercontent.com/assets/9259185/19626638/cacf5d54-98fb-11e6-97a0-80d401f7c536.png)

## Option B alt: Green magnifying glass
![hero-fec-green-mag-alt](https://cloud.githubusercontent.com/assets/925

[2016-10-23 14:10] ericronne opened #1966 "Homepage hero: Cloud.gov design"
Part of epic #1952

[2016-10-23 14:19] ericronne commented on #1966
Text isn't yet written for this one, but here's a design based on Ryan Thurlwell's always-brilliant work, from when he was on the cloud.gov team (before @thisisdano took over). Please feel free to let us know if you think think this serves as a good teaser for this project, @rtwell / @thisisdano, and @coreycaitlin when you have text, i'll drop it in.

cc @gboone

## Cloud.gov hero
![hero-cloud](ht

[2016-10-24 12:51] awfrancisco commented on #1966
cc @jameshupp @nickykrause for cloud.gov messaging/marketing.

[2016-10-24 14:48] nickykrause commented on #1966
hello! @awfrancisco Did you mean to mention me?

[2016-10-24 15:06] awfrancisco commented on #1966
Whoops, sorry! I meant @nikzei.

[2016-10-24 16:02] jameshupp commented on #1966
I talked to @coreycaitlin offline about content related to this last week. Lemme know if the notes from that are enough to produce a good line here. If not, we can work through those together to get to something.

[2016-10-24 16:07] coreycaitlin commented on #1963
What do you think about trying something that brings down the unreadably long line-length of that intro?

[2016-10-24 16:16] coreycaitlin opened #1967 "Content: FEC intro section for project-tag landing page"
We are planning to highlight the FEC project on the homepage, and will send users from that page to a landing page that mostly rolls up all blog posts about that project, but with a brief intro to the project.

This issue is for creating and reviewing the content to sit at the top of that page, above the collection of blog posts.
## This is issue is done when:
- [x] Content is drafted
- [x] Conten

[2016-10-24 16:24] coreycaitlin opened #1968 "Create project-tag landing pages"
We'll need a way to have special tag-rollup pages for a few specific projects, probably starting with FEC and cloud.gov.

[2016-10-24 16:25] coreycaitlin commented on #1968
#1963 and #1967 are related

[2016-10-24 16:35] coreycaitlin commented on #1968
Notes:

- In some cases, the blog posts tagged with a project name are a little scattered — we may need an additional way to note in blog metadata whether the post should appear on project rollup pages
- We may also need to review some blog-post metadata to make these rollups make more sense

[2016-10-24 16:46] thisisdano commented on #1966
I think this is good enough to move forward — and is acceptable as is. We're working on some tweaks to the overall aesthetic, but this still communicates the idea well.

My only design comment is that the red icon fade makes them feel a bit soft.  And maybe gives the icons an implied hierarchy of importance? What would it do to the composition if the red icons were all the same transparency?

[2016-10-24 17:56] coreycaitlin opened #1972 "Research: Content testing"
We need some usability research on our current and proposed content, to see what makes sense and what doesn't.
## This is issue is done when:
- [x] There's a content testing script - [here](https://github.com/18F/18f.gsa.gov/blob/research/research/2-sprint-festivefjord/festivefjord-content-script.md)
- [x] We've completed 5-8 interviews
- [x] We've summarized findings - [here](https://github.com/1

[2016-10-24 19:07] ericronne commented on #1966
@thisisdano sure, that's a viable option. Here's how it looks with icon hex's at full alpha. I've reduced the brightness of the red, to minimize the vibration that rears its head when we have this much of that color in play...

![hero-cloud-no-ghost](https://cloud.githubusercontent.com/assets/9259185/19659843/1d2d5aa4-99f3-11e6-8ef8-11750483794f.png)

[2016-10-24 19:36] thisisdano commented on #1966
Ahh, the ol' vibration. It does look funny. Maybe we can switch to blue on white, make the icon strokes a bit fatter, and pump up the blue saturation for punch. (`#056DD4` is our current blue, but I don't think it _needs_ to match — whatever looks good!)

Thanks for your effort on this! I think it doesn't really need much, if any, more work. I'd be comfortable with anything you like. The first one

[2016-10-24 19:59] ericronne commented on #1966
Yep, sigh. I think it should coordinate with whichever flavor of the look is live at the time we run it. Is the site scheduled to be updated with that new, flatter look @thisisdano?

[2016-10-24 20:01] thisisdano commented on #1966
It is — sometime in the next week or so — but I don't think it meeds to match exactly. Close is fine. Probably any new look will change, too, so just capturing the general themes is ok.

[2016-10-24 20:03] ericronne commented on #1966
Cool. This likely won't be posted for about a month. FEC is on deck, and will remain the sole hero tout for a month or so. thx

[2016-10-25 17:38] ericronne opened #1975 "Visual design: project-tag landing page"

[2016-10-25 17:39] #1963 closed

[2016-10-25 17:39] ericronne commented on #1975
based on #1963

[2016-10-25 19:34] gemfarmer opened #1977 "Add liquid debugger plugin"
Currently liquid can be somewhat of a black box.

This plugin allows you to access liquid variables like so: `{{ variable | debug }}`

https://raw.githubusercontent.com/progrium/blogrium/master/_plugins/debug.rb

[2016-10-25 20:57] ericronne commented on #1975
Here's a design, along with an annotated with type specs and spacing. Comments welcome!

Note for @gemfarmer: don't sweat the annotations too much for the initial prototype. Instead use the current assigned values for spacing, font sizes &c. *Do* note the font color specs, though, if you would.

I'll create the header asset next. Thx!

## Project-tag landing page
![project](https://cloud.githubuse

[2016-10-26 16:11] coreycaitlin opened #1978 "Content: Draft new homepage content"
User research is beginning to show that users don't understand what we do. Let's change our content to see if we can be more clear about this on the homepage.

Goal: get new content drafted, revised, and up on the homepage by the end of this sprint.

[2016-10-26 17:37] jenniferthibault commented on #1965
@ericronne sorry for the delay!

This works for me, and I prefer the colored magnifying glass because it has better contrast. Would it work better on the 18F site if the magnifying glass was a blue from our palette? The large dark teal feels a bit clunky and out of place. Even though it comes from the FEC palette, I think it might be better in context to use 18F colors?

[2016-10-26 18:29] coreycaitlin commented on #1965
@ericronne Hmm, I kind of like Opt A alt (it feels just slightly easier to read), but I could really go either way! Can you send over a version of whichever image file you're relatively happy with so we possibly get it up while you're out?

[2016-10-26 19:01] ericronne commented on #1966
Ok, i moved the "gov" icon into the next-to-largest position, increasing its opacity in the process. Here's the image, and a gif demo of its responsiveness. Also, it works great as an svg, weighing in at a feather-light 9k!

[### Here's the svg file.] (https://drive.google.com/open?id=0BwWYNZcEDfwaMGZFZGtfNlRKZXM)

![image](https://cloud.githubusercontent.com/assets/9259185/19740373/1d1f8e46-9b84-

[2016-10-26 19:48] hursey013 opened #1979 "Missing javascript file"
## Expected Behavior

To have all referenced assets load properly
## Actual Behavior

`https://18f.gsa.gov/assets/js/search-bundle.js` returns a 404 error on page load.
## Steps to reproduce the behavior
- Visit https://18f.gsa.gov/
- View console or network tab in browser developer tools to view error
## This is issue is done when:
- All assets are found, or removed if unnecessary.

[2016-10-26 20:40] ericronne commented on #1965
Blue works fine, reduced the magnifier so it wouldn't dominate so much. Text is fpo. Pithier the better, imo, and helps us avoid this issue: currently the box grows to accommodate the text length, which also **makes the image taller** to fit. This is a solid approach from a responsiveness standpoint, but ideally the height of this image would remain the same for all hero images, for design consist

[2016-10-26 21:35] ericronne opened #1981 "Typography: activate anti-aliasing"
I recommend we activate anti-aliasing for our site. Agree? Here's a preview (click the image to see the difference more clearly) …

![image](https://cloud.githubusercontent.com/assets/9259185/19745969/d265fb36-9b99-11e6-9fda-0a3c0de81061.png)

![image](https://cloud.githubusercontent.com/assets/9259185/19746023/12e7ddaa-9b9a-11e6-95cb-003aeb025db2.png)

@gboone @coreycaitlin @gemfarmer

[2016-10-26 21:37] ericronne opened #1982 "Typography: consider increasing paragraph size"
Does the site body text feel small to you? What if we up-sized it a little (perhaps by only one pixel, to 1.8rem), and did some A/B testing? Here's a preview image, which also reflects the anti-aliasing change requested in issue #1981 (click image to view) …

![image](https://cloud.githubusercontent.com/assets/9259185/19746076/5901966e-9b9a-11e6-9dcb-35fa557d055e.png)

@awfrancisco @gemfarmer @cor

[2016-10-27 00:15] coreycaitlin commented on #1953
Closing this out — we've settled, for now, on the following format, at least for CPS projects:

For products and platforms, we might use:

Issues #1965, #1967, #1952, and #1966

[2016-10-27 00:15] #1953 closed

[2016-10-27 00:34] coreycaitlin commented on #1966
Looks gorgeous! Moving this back to the backlog, since we're starting with FEC — but we'll need this in the hopper soon.

[2016-10-27 00:50] coreycaitlin commented on #1956
Closing this out! I think it's done 🎉

[2016-10-27 00:50] #1956 closed

[2016-10-27 00:52] coreycaitlin commented on #1982
I fully support embiggening the text, and I kind of did it in #1985.

[2016-10-27 17:41] coreycaitlin commented on #1965
I think this has moved along to implementation 🎉  closing this out for now.

[2016-10-27 17:41] #1965 closed

[2016-10-27 17:42] coreycaitlin commented on #1968
Design looks awesome! see #1975

[2016-10-27 17:43] coreycaitlin commented on #1975
Closing this out as we move into implementation!

[2016-10-27 17:43] #1975 closed

[2016-10-27 17:47] coreycaitlin commented on #1978
We got a draft! Now reviewing in #1985

[2016-10-27 17:47] #1978 closed

[2016-10-27 17:47] gemfarmer opened #1987 "Add alums to site"
Extension of #1984
## Expected Behavior

Adding `alumni: true` to any markdown file in the _authors directory adds some sort of flag to the authors page
## Actual Behavior

This doesn't happen!
## Steps to reproduce the behavior
- [ ] Determine who is an alumni in our list of authors
- [ ] Add `alumni: true` to their md files
## This is issue is done when:
- [ ] All alumnis have an associated alum

[2016-10-27 20:23] coreycaitlin opened #1988 "Content: Improve alumni author page copy"
Make authors tag copy less duplicative, and account for #1987

[2016-10-27 20:26] coreycaitlin opened #1989 "Update author rollup page to better tag-rollup layout"
Let's use snippets of blog posts instead of just the titles.

[2016-10-27 20:59] coreycaitlin commented on #1637
I'm inclined to vote against tracking detailees — that seems complicated and hard to explain!

[2016-10-28 00:37] coreycaitlin commented on #1898
Closing this out, because YAY

[2016-10-28 00:37] #1898 closed

[2016-10-28 16:51] #1637 closed

[2016-10-28 16:51] #1931 closed

[2016-10-28 19:48] gemfarmer opened #1993 "Revisit automated accessibility scanning"
## Expected Behavior

We would like an accessibility tool that runs on Circle on a build basis when a pull request is submitted.
## Actual Behavior

The accessibility linter that is currently in place runs well, but takes too long, and occasionally gets hung up checking URLs that aren't built.
## Things to watch/do
- [USWDS is looking into adding accesslint](https://github.com/18F/web-design-stand

[2016-10-31 16:44] awfrancisco opened #1999 "Add Vulnerability Disclosure Policy to footer"
Link to new policy once #1996 is merged

## This is issue is done when:
- [ ] There is a footer link to the new policy

[2016-10-31 16:45] coreycaitlin commented on #1914
Blocked: waiting for response from the plugin developer.

[2016-10-31 16:45] #1982 closed

[2016-10-31 16:46] gemfarmer commented on #1914
See #1849 for more info on why this is blocked

[2016-10-31 16:47] gemfarmer commented on #1949
Blocked until we jekyll-archives is updated!

[2016-10-31 16:50] coreycaitlin commented on #1979
This seems to have been resolved with a Federalist fix that also fixed search.

[2016-10-31 16:50] #1979 closed

[2016-10-31 16:51] gboone commented on #1987
Added a checkbox to the acceptance criteria.

[2016-10-31 16:52] coreycaitlin commented on #1896
Closing out in favor of #1993

[2016-10-31 16:52] #1896 closed

[2016-10-31 16:53] awfrancisco commented on #1999
Never mind, #1996 both adds page and navigation. Closing, we can discuss in that PR.

[2016-10-31 16:53] #1999 closed

[2016-10-31 16:53] gboone commented on #357
Is this closed by #1999?

[2016-10-31 16:55] coreycaitlin commented on #1954
We'll also want to use this for intake content, including the partnership playbook.

[2016-10-31 16:57] ericronne opened #2000 "Create a basic sketch style guide"

[2016-10-31 16:58] ericronne opened #2001 "On board Austin with visual design"
Get Austin up to speed, and prep files as needed in order to make the transition as smooth as possible.

[2016-10-31 18:40] NoahKunin commented on #357
Yep, once it gets to `master`, it will be! 🙌

[2016-10-31 18:40] ericronne commented on #1968
Note that all "Continue >" links on this page (and sitewide) should be **bold**. The design doesn't reflect that.

![image](https://cloud.githubusercontent.com/assets/9259185/19866832/a4278e0e-9f6f-11e6-81d2-b5d4c18cf5ac.png)

[2016-10-31 20:07] ericronne opened #2002 "Homepage hero: EITI design"
Part of epic #1952

[2016-10-31 20:08] ericronne opened #2003 "Homepage hero: Data Act design"
Part of epic #1952

[2016-10-31 20:09] ericronne opened #2004 "Homepage hero: Web design standards design"
Part of epic #1952

[2016-10-31 20:10] ericronne opened #2005 "Homepage hero: Digital analytics program design"
Part of epic #1952

[2016-10-31 20:15] ericronne commented on #1952
@coreycaitlin do we know the publishing order for these? We should probably prioritize their production accordingly.

[2016-10-31 21:15] ericronne commented on #1954
Here's a simple design for this side nav. I've separated the buttons with vertical space, rather than dividing line rules. This makes for a cleaner layout, and fits better with the rest of the site design. I also applied the thick bright blue bar as a hover state. It didn't feel right to apply the bar vertically here and horizontally along the top nav, plus this feels kind of fun to me.

## Style

[2016-10-31 21:19] ericronne commented on #1954
And here's how it grids out. This could change; it introduces an additional structure to our scheme. We can chat on that whenevs.

![image](https://cloud.githubusercontent.com/assets/9259185/19871989/8d49d3de-9f85-11e6-8bbc-d080420d411a.png)

[2016-10-31 23:50] coreycaitlin opened #2007 "Markdown isn't always making quotes smarter"
## Expected Behavior

When there are quotation marks or apostrophes in markdown files, they should be converted to typographically correct smart quotes for display on the site.

## Actual Behavior

I think — at least in some types of pages — this isn't quite happening. I manually corrected the smart quotes for #2006, but hypothetically that shouldn't be necessary.

## Steps to reproduce the behavi

[2016-11-01 01:14] #1972 closed

[2016-11-01 02:32] konklone commented on #2007
The behavior may have changed from our old Jekyll build process to the new Federalist build process, since it depends on the Jekyll builder's configuration, and what Markdown engine you use. It looks like [Federalist at least includes kramdown](https://github.com/18F/federalist/blob/master/Gemfile.lock), but I'm not sure what it uses by default to build sites.

(Also, the technical term is "ensmar

[2016-11-01 14:45] gemfarmer commented on #2007
@coreycaitlin are you seeing issues with quotes in places unrelated to [the apostrophe change that you made in author.rb](https://github.com/18F/18f.gsa.gov/pull/1995/files#diff-b4a8e4fc2fca3de886471e0396ba04c4R58)? I'm _guessing_ that the issue there is that the liquid filter is running _after_ the markdown is rendered, so the unsmart punctuation in that file isn't getting markdownified _again_

[2016-11-01 15:59] coreycaitlin commented on #2007
@gemfarmer Yes — this might be easiest to demo over screenshare. Let's pick this up in our next pairing session!

[2016-11-01 16:42] coreycaitlin opened #2009 "Author links broken"
## Expected Behavior

From any blog post author list, clicking on an author's name should take the user to a URL like `https://18f.gsa.gov/author/christopher-goranson`

## Actual Behavior

Instead, that link is being redirected to a URL like `https://18f.gsa.gov/site/18F/18f.gsa.gov/author/christopher-goranson/`, which 404s.

## Steps to reproduce the behavior
- [ ] [Go here](https://18f.gsa.gov/2

[2016-11-01 17:11] coreycaitlin commented on #1954
I like this! What are your feelings about sub-pages and how we could handle that? I don't strictly know if we need them yet, but I've never met a pile of content that didn't wind up trying to sub-sub-navigate itself eventually.

[2016-11-01 17:18] mugizico commented on #2009
I am trying to reproduce the behavior but the `Go here` link and clicking the author's name  is actually taking me to `https://18f.gsa.gov/author/christopher-goranson`

[2016-11-01 18:24] ericronne commented on #1954
The design could support something like that, e.g. with something like this …

![image](https://cloud.githubusercontent.com/assets/9259185/19901744/2978dc86-a036-11e6-957b-932ade1da293.png)

Perhaps we call the basic one-level design an MVP and implement? :)

[2016-11-01 19:58] #357 closed

[2016-11-01 20:20] gemfarmer commented on #2007
Agreed! Next pairing session it is!

[2016-11-01 20:31] ericronne commented on #1954
@coreycaitlin ;)

[2016-11-02 15:54] coreycaitlin commented on #2009
Yay! This seems to be fixed with #2010 — closing out the issue.

[2016-11-02 16:01] coreycaitlin opened #2012 "Revise contributing guidance to explain PR template"
We got some feedback in #1998 that the contributing guidance in our repo is a bit confusing, and the PR template isn't quite as self-explanatory as we thought! We should make this a little clearer for contributors from outside the team.

[2016-11-02 17:28] ericronne commented on #2002
Okay! Here's a draft for this sucker. Kept it simple, but hopefully interesting. Since geography and land ownership are so fundamental to EITI, i started with the ownership map as the base. (Also, maps are visually interesting :) I overlaid the oil icon to strongly hint at the general space this site deals with. Finally, the offshore area is featured. Users may well be unaware of what this represe

[2016-11-02 17:29] coreycaitlin commented on #1954
Yes — we'll deal with the 2nd-level nav when we absolutely have to. We'll pull implementation into the next sprint or two!

[2016-11-02 20:36] coreycaitlin commented on #1952
Let's prioritize less-meta projects for now, just for the sake of clarity.

[2016-11-02 20:48] ericronne opened #2013 "Solidify grid system"

[2016-11-02 22:05] coreycaitlin opened #2014 "Add analytics tracking to homepage and intake calls to action"
As we work to measure how the site is doing, it would be great to be able to track how many people are clicking on this button and this email link:

![screen shot 2016-11-02 at 3 02 51 pm](https://cloud.githubusercontent.com/assets/1450354/19949170/7c82f8c6-a10d-11e6-807f-f1e8d1403488.png)

![screen shot 2016-11-02 at 3 02 59 pm](https://cloud.githubusercontent.com/assets/1450354/19949172/7f19e086

[2016-11-03 18:44] coreycaitlin commented on #1968
For our initial take on this page type, let's focus on the main posts — we'll need a little more taxonomy work to handle the lower "related posts" section, so we can break that out as a separate issue once we have the core of the page built.

[2016-11-03 18:50] ericronne commented on #1968
Like so? (from #1975 ;) ) ...
![image](https://cloud.githubusercontent.com/assets/9259185/19980535/6e8388ac-a1cc-11e6-898d-5e4f0ba9f517.png)

[2016-11-03 18:56] awfrancisco opened #2017 "Redirect /consulting to /what we deliver"
## Desired Behavior
When someone goes to https://18f.gsa.gov/consulting/ they are redirected to  https://18f.gsa.gov/what-we-deliver/

## Actual Behavior
https://18f.gsa.gov/consulting/  is linked to from many places outside of 18F or GSA control, but currently 404s

Request is from @quepol https://gsa-tts.slack.com/archives/18f-site/p1478145427000169

[2016-11-03 19:11] coreycaitlin commented on #1968
@ericronne Yes! Do you feel strongly about including the "latest news from 18F" mini-footer?

[2016-11-03 21:21] ericronne commented on #1968
Not at all. Kill it.

[2016-11-04 17:34] gemfarmer opened #2018 "Remove authors.yml file"
## Expected Behavior
We should only have to maintain authors in one place

## Actual Behavior
We have to maintain _authors and authors.yml

## Steps to reproduce the behavior
- [ ] Migrate any authors that don't exist in _authors, but do exist in authors.yml
- [ ] Update code that is dependent on site.data.authors

## This is issue is done when:
- [ ] We only have to manage authors in one place

[2016-11-05 00:03] gemfarmer commented on #1947
Ok, so I did a bit more research on this today.

Assuming that we want to monkey patch this instead of messing with Jekyll Archives itself (probably less likely to spawn new bugs), there are two major things we need to do.

1. Update the tags on each once `Jekyll` and the `Jekyll::Archives` modules have been initialized. Because the tags index page looks for tags in each post, this effectively con

[2016-11-07 16:05] ericronne commented on #2002
Scratched my head a little more. This version seems to communicate a little more clearly. It focuses on the gulf of mexico, which is frankly the most interesting region from an extractives standpoint. Also shows actual data....

## EITI hero alt
![hero-eiti](https://cloud.githubusercontent.com/assets/9259185/20064803/911b7d40-a4d1-11e6-8f37-6fd670420f2c.png)

## In action
![kvkpmnmqtz](https://clo

[2016-11-07 17:38] coreycaitlin opened #2021 "Add guest authors to site"
We need an attribute to specify whether someone is a guest author, much like #1995

[2016-11-07 17:41] coreycaitlin commented on #1987
See #2021 and #2018 for continuing work.

[2016-11-07 17:41] #1987 closed

[2016-11-07 17:43] coreycaitlin opened #2022 "Project page: EITI/Revenue data"
We need content for both the homepage and the project-tag landing page when we're ready to feature USEITI on the homepage.

## This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [x] Content is reviewed by Michelle H

[2016-11-07 17:44] gemfarmer commented on #1960
Follow this work at the following repos:
- [gemfarmer/github_webhook](https://github.com/gemfarmer/github_webhook/)
- [18f/retext-18f](https://github.com/18F/retext-18f/)
- [unpushed changes to 18f/content-linter](https://github.com/18F/content-linter/)

[2016-11-07 17:47] coreycaitlin opened #2023 "Create subnav and simplify nav management"
We have several sections of content that will need sub-navigation when we migrate them into the site proper (including Join 18F and the Partnership Playbook).

This issue is for implementing the design from #1954

[2016-11-07 17:49] coreycaitlin commented on #2002
Next step: design files!

[2016-11-07 17:56] gemfarmer commented on #1954
@ericronne is there a plan for the nav in mobile?

[2016-11-07 17:57] coreycaitlin opened #2024 "KuriousKettle user research"
## This is issue is done when:
- [x] we have a [research plan](https://github.com/18F/18f.gsa.gov/blob/research/research/3-sprint-kuriouskettle/kuriouskettle-research-plan.md)
- [x] we have a research script — see above! Same script, new content
- [x] we've recruited/scheduled 3-5 users
- [x] we've interviewed 3-5 users

[2016-11-07 18:08] gemfarmer commented on #2018
Do in conjunction with #2021

[2016-11-07 18:09] coreycaitlin opened #2025 "Content inventory: Potential partners content not on website"
Before we move intake, partnerships playbook, or IAA process content into the site, we should review and revise it for content ROT, accuracy, and voice/tone.

[2016-11-07 18:32] ericronne commented on #2002
### [Converted to svg!](https://drive.google.com/open?id=0BwWYNZcEDfwaR2w1cy1RNVdsYk0)

@coreycaitlin @gemfarmer

[2016-11-07 18:35] ericronne commented on #1954
@gemfarmer not designed!
@coreycaitlin should we (i) make this a priority?

[2016-11-07 18:40] coreycaitlin commented on #1954
@ericronne Ah! Yes, please — that is a good idea. Reopening 🎉

[2016-11-07 18:47] ericronne commented on #1954
Good catch, @gemfarmer. Will pick this up tomorrow.

[2016-11-07 22:38] coreycaitlin commented on #2009
Reopening because this has recurred somehow 😕

[2016-11-07 23:31] coreycaitlin commented on #2021
Notes:

- For now, let's say that guest authors are authors from outside of TTS

[2016-11-08 00:57] mugizico commented on #2017
it looks like `https://18f.gsa.gov/consulting` is hard-coded(instead of `/consulting`) in posts in which it is reference. This is going to make it difficult to test locally with localhost

[2016-11-08 15:16] awfrancisco commented on #2021
Let me know if I can help identifying guest authors.

[2016-11-08 18:23] coreycaitlin commented on #2023
Blocked for implementation until we have the mobile design.

[2016-11-08 19:38] mugizico commented on #2017
so after looking at, and trying to use the [ jekyll-server-redirects](https://github.com/borfast/jekyll-server-redirects) gem and the [jekyll-pageless-redirects](https://github.com/nquinlan/jekyll-pageless-redirects) plugin  to no avail, I am almost inclined to just change the `https://18f.gsa.gov/consulting` to `https://18f.gsa.gov/what-we-deliver` in affected `.md` files(about 15 of them).  thou

[2016-11-08 19:41] gboone commented on #2017
The way we've done redirects in the past was to use [jekyll-redirect-from](https://github.com/jekyll/jekyll-redirect-from) by creating a page for the endpoint that needs to redirect (/consulting) with the `redirect_to` frontmatter set to the target page.

[2016-11-08 22:00] ericronne opened #2030 "Visual design for subnav: mobile"
Here's the mobile navigation, fleshed out to another layer (desktop design tracked in #1954).

Also, i'm experimenting with a black background, which is striking, and lends a little more elegance to the design.

### Check out the [Invision prototype](https://gsa.invisionapp.com/share/DM99AUBG9#/203657587_Mobile-Submenu-1)

Feel free to use the Invision commenting tool to record thoughts and questi

[2016-11-08 23:37] coreycaitlin commented on #1967
I think this content is done — see #2016 for implementation

[2016-11-08 23:37] #1967 closed

[2016-11-09 17:50] coreycaitlin opened #2032 "Deprecate "description" in post frontmatter"
`Description` and `excerpt` seem to be duplicate fields in many, many cases. Using one field instead of two will simplify the blog posting template slightly and make it a little easier to maintain.

## This is issue is done when:
- [x] We've changed the post metadata to use the excerpt
- [x] The blogging guide is updated

[2016-11-09 18:24] #1947 closed

[2016-11-09 18:24] #2018 closed

[2016-11-10 13:16] ericronne commented on #2030
:Facepalm:
Looks like the WDS has a pattern for mobile subnav. Arguably not as "interesting" as the above, but if we want to apply the standards to this site wherever they may fit, something closer to this could work.....

![image](https://cloud.githubusercontent.com/assets/9259185/20177942/e91db496-a714-11e6-8fc8-7fe4b5f65924.png)

[2016-11-10 18:55] gemfarmer commented on #2030
@ericronne this looks like a good place to start. Should I start implementing?

[2016-11-10 19:20] ericronne commented on #2030
Sounds like a plan. Especially since i have little time to dedicate to this.

cc @austinhernandez 👋

[2016-11-10 22:32] ericronne commented on #1952
cc @austinhernandez :)

[2016-11-14 16:08] gemfarmer commented on #2023
@ericronne is it fair to say that the mobile design is good to go? It sounded like we were just going to bootstrap with the USWDS

[2016-11-14 16:08] #2021 closed

[2016-11-14 16:10] gemfarmer commented on #2017
@mugizico I have time to work on this today, if you'd like!

[2016-11-14 16:10] gboone commented on #2017
I think this was closed with #2029

[2016-11-14 16:22] gemfarmer commented on #2017
Ah, you're right!

[2016-11-14 16:22] #2017 closed

[2016-11-14 16:22] #1989 closed

[2016-11-14 17:18] coreycaitlin commented on #2023
Mobile design is in #2030 🎉

Let's start with the simplest option here (i.e. WDS).

[2016-11-14 17:18] #2030 closed

[2016-11-14 17:20] coreycaitlin commented on #2022
See #2002 for design!

[2016-11-14 17:21] #2002 closed

[2016-11-14 17:33] coreycaitlin opened #2040 "Concepts: What we deliver page"
Our current `What we deliver` page is mostly text-based and organized roughly by business unit — we've heard from users that they'd like to see more clear examples of how we've helped other agencies.

This issue is for creating some concepts, based on the Web Design Standards, for how to show a few projects. Each project would link to a project tag rollup page, ala [FEC](https://federalist.18f.gov

[2016-11-14 17:37] #1968 closed

[2016-11-14 17:44] #1954 closed

[2016-11-14 17:45] coreycaitlin commented on #2023
Outstanding question: should this be a series of pages, or one long-scroll page?

[2016-11-14 18:01] gemfarmer commented on #2024
@coreycaitlin I can help out with user research!!

[2016-11-14 18:05] ericronne commented on #2040
We don't currently have a "portfolio" or much in the way of case studies. Would be great if this section started to include some of that kind of action! :)

[2016-11-14 19:23] awfrancisco commented on #2040
We've certainly heard some requests for case studies in user research. It's possible some blog posts could be edited or combined into a case study or two.

[2016-11-14 21:53] gemfarmer commented on #2030
@ericronne @austinhernandez what are your thoughts on how we want to merge the subnav items with the top level mobile nav items?

<img width="300" alt="screen shot 2016-11-14 at 3 52 37 pm" src="https://cloud.githubusercontent.com/assets/4803473/20284363/6ae1dbea-aa82-11e6-822b-cc0a9d4f9699.png">

[2016-11-14 22:57] gemfarmer commented on #2030
To clarify:

Currently there is one "global nav" That has the top level routes:
  - /what-we-deliver/
  - /how-we-work/
  - /hire/
  - /join/
  - /blog/

This issue is proposing that we add a subnav to specific pages that help navigate to lower level routes within that top level route. In desktop displays, there is no interference, but in mobile, if we are trying to have the subnav/sidenav in a dr

[2016-11-15 17:23] gboone commented on #2032
@gemfarmer and I are pretty sure #2041 addressed this but there's still work to be done updating docs. Is that accurate, @coreycaitlin?

[2016-11-15 18:13] gemfarmer commented on #2007
@mugizico [this might be useful](https://github.com/jekyll/jekyll-help/issues/56)

[2016-11-15 23:27] coreycaitlin commented on #2009
As far as I can tell, this is fixed with #2041 🎉

[2016-11-15 23:27] #2009 closed

[2016-11-15 23:30] #2007 closed

[2016-11-15 23:57] coreycaitlin commented on #2032
I think it got lost, actually — I'm still seeing the `head` look for `page.description` when it should be grabbing `page.excerpt`. Trying again!

[2016-11-16 00:13] coreycaitlin commented on #2032
Okay, I've also set up a PR in the blogging-guide repo that makes the documentation changes I'm aware of. Let me know if there are other spots we should note this.

[2016-11-16 00:15] coreycaitlin commented on #2023
I've done a cursory content inventory, and I think our instinct that this should be a series of separate pages was the right instinct. Let's treat this as a traditional group of pages, rather than a single long-scroll page.

[2016-11-16 01:04] coreycaitlin commented on #2025
Content audit is started: [potential partners content (limited access)](https://docs.google.com/a/gsa.gov/spreadsheets/d/1dIXNTVhXZjnJGTH_29N5omPA2guBTeSyGisEgbO8m7M/edit?usp=drive_web).

@awfrancisco: If you have any notes/background to add, that would be fantastic! I haven't really done a voice/tone pass on these yet, either, if you have thoughts about that.

[2016-11-16 16:24] gboone commented on #2032
I can update the blog README; I think that's the only place left.

[2016-11-16 18:26] #2032 closed

[2016-11-17 19:49] maya opened #2050 "Inconsistent padding between sections on the home page"
## Expected Behavior
Consistent padding between sections on the homepage

## Actual Behavior
It seems that the homepage sections all have different paddings on the top and bottom and looks inconsistent. Some sections have 5rem, 10rem, and others have both. I'm not sure if this is intentional or not.

[2016-11-18 16:15] awfrancisco commented on #1960
I know there's already been a fair amount of work on this, but I wanted to flag the [Rorybot](https://github.com/Shopify/rorybot) from Shopify as a similar tool that we might be able to learn/steal from.

[2016-11-21 17:19] #1981 closed

[2016-11-21 17:22] coreycaitlin commented on #2023
Changed the title to reflect refactoring that needs to happen here

[2016-11-21 17:24] #2001 closed

[2016-11-21 17:26] coreycaitlin opened #2052 "Refine and link to project landing page"
The project-tag landing page needs a shade more refinement, and we should link to it from the homepage hero!

See also #1968

[2016-11-21 17:56] coreycaitlin opened #2053 "Bughunt: Review site for visual and interaction bugs"
Let's find bugs and fix them!

[2016-11-21 17:57] coreycaitlin commented on #1704
OBE

[2016-11-21 17:57] #1704 closed

[2016-11-21 18:41] toolness commented on #2014
This is totally doable with the DAP tracking that's already being done on the site! 🎉

To access the custom reports I've shared below, you'll need to apply for DAP access on #g-analytics on Slack if you haven't already.

[Here is a custom report showing the custom event types being tracked.](https://analytics.google.com/analytics/web/template?uid=Nyhj9N3wRLSGlJhoM5HhRg) Under the **Event Category*

[2016-11-22 16:27] gemfarmer commented on #1941
After discussing this with @mugizico and @awfrancisco separately, I think this issue could be tackled via a combination of the [jekyll frontmatter test suite](https://github.com/18f/jekyll_frontmatter_tests) that @gboone mentioned above and the content linter that JP, Moncef, and I have been building.

There are two major things that we will want to do:
- [ ] Create a list of "currently accepted t

[2016-11-22 16:28] elainekamlley commented on #2014
Thanks @toolness!

@coreycaitlin @gboone Are you able to see these reports?

[2016-11-22 17:23] #2052 closed

[2016-11-22 17:27] coreycaitlin opened #2056 "Hire 18F content: Draft revised intake and process content"
Potential partners should be able to learn quickly how we work, who to contact, and what to expect during the business development process. This content is currently scattered among three 18f-pages sites, and much of it is outdated.

Instead of reading all those sites, potential partners should be able to get the most crucial information they need by reading through the "Hire us" section of the we

[2016-11-22 22:17] austinhernandez commented on #2000
hey @gemfarmer here's a list of some issues I found while going through the site. (I'll keep adding to this list):
- active state on .usa-button-secondary (button in the hero section) is red and inheriting from USWDS (#981b1e)

[2016-11-23 16:03] gboone opened #2059 "Investigate Twitter Card, OpenGraph anomalies"
## Expected Behavior
When a post or page is shared on Facebook:
* The post's `image` should display alongside the `description` when shared.
* On twitter this produces a "card" ([example](https://twitter.com/18F/status/801449484148416513) when posted
* On Facebook, Slack, and other OpenGraph users, the details fill in while you are sharing the post.

## Actual Behavior
* OpenGraph shares do not ex

[2016-11-25 21:26] coreycaitlin opened #2067 "Improve core call-to-action"
Right now, the email link is a bit hidden at the end of the "Hire 18F" page — this link is our core call to action, and the only way for someone to take the next step toward hiring us from the website.

We should make this link (or CTA) bigger and easier to use.

- ~We could consider using a simple form instead of an email, if it would be useful to get a bit more info~
- [x] We should come up with

[2016-11-25 21:36] coreycaitlin opened #2068 "Content: cloud.gov intro section"
We need content for the project-tag landing page about cloud.gov.

This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [x] Content is reviewed by cloud.gov team

[2016-11-25 21:37] coreycaitlin opened #2069 "Content: State & local intro section"
We need content for the project-tag landing page about state & local projects.

This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [x] Content is reviewed by project SMEs

[2016-11-25 22:09] coreycaitlin opened #2070 "Content: What we deliver page"
This issue is for revised "what we deliver" or "our work" content - see also #2040

[2016-11-25 22:42] gemfarmer commented on #2059
@gboone I am addressing this problem in #2065. It is definitely working in Federalist. It should work in Twitter, but it is hard to know for sure because the image path is being altered to `https://18f.gsa.gov/preview/18F/18f.gsa.gov` :( I vote that we see what happens when this is merged into master, and close this ticket if it is fixed then. Does that sound good to you, or is this more urgent th

[2016-11-28 17:45] #2050 closed

[2016-11-28 17:45] #2025 closed

[2016-11-28 17:47] coreycaitlin commented on #2040
Marking as blocked until we have some content to work with here.

[2016-11-28 17:47] coreycaitlin commented on #2000
Next step: @austinhernandez + @gemfarmer to meet and discuss.

[2016-11-28 17:49] coreycaitlin commented on #2053
See #2065

[2016-11-28 17:49] #2053 closed

[2016-11-28 17:53] coreycaitlin opened #2073 "Summarize user research"
Write up findings from user research (#2024).

[2016-11-28 17:53] #2024 closed

[2016-11-28 18:09] coreycaitlin commented on #2069
Let's start by focusing on our work with one federal agency across states.

[2016-11-28 18:11] awfrancisco commented on #2069
We should consider about how much we want these pages to be blog focused or also include both other related resources about a project (modularcontracting.18f.gov in this case) and contact or selling information. Anticipating that this might be an ask from project teams.

[2016-11-29 02:17] coreycaitlin commented on #2073
[Here it is](https://github.com/18F/18f.gsa.gov/blob/research/research/3-sprint-kuriouskettle/kuriouskettle-research-results.md) 🎉

[2016-11-29 02:17] #2073 closed

[2016-11-29 17:54] gemfarmer opened #2077 "'Current' page not highlighted correctly for blog pages"
## Expected Behavior
- blog posts, author pages, and tag pages should all be considered part of the 'blog' navigation field

## Actual Behavior
The current logic on `dev` assigning the `usa-current` class does not take these different pages into account, instead only assigning that nav field as current if it is at `/blog/`

## Steps to reproduce the behavior
- [x] Add new logic that checks for `co

[2016-11-29 18:05] awfrancisco opened #2079 "Create a page for the 18F FY2017 Strategy doc"
To pair with a coming blog post, we should create a place for the [FY17 Strategy document](https://docs.google.com/document/d/1JJxH0x75tEvQ4zMts5xKqudfUDqODmWsPflfn1VEJpM/edit#heading=h.mfnsuvkvd8r7) (access limited). This can be a similar page to the Open Source and Vulnerability Disclosure policies. The current document has a long table of contents. We should decide whether we want to replicate

[2016-11-29 18:09] coreycaitlin commented on #2023
Closing this out, now that we have subnav capabilities! We'll create a separate issue for pulling in content once we have our first section ready.

[2016-11-29 18:09] #2023 closed

[2016-11-29 19:26] toolness commented on #2014
So Corey and Elaine and I just video-conferenced and realized that Google Analytics asks a very confusing question when opening those shared reports, which is what tripped folks up:

It's confusing because at 18F, we actually have access to *two* Google Analytics accounts: 18F's non-Premium account and [DAP](https://www.digitalgov.gov/services/dap/)'s premium government-wide account. The reports I

[2016-11-29 19:46] coreycaitlin opened #2080 "Wireframe + design: Homepage reorg"
Our homepage structure [isn't quite working](https://github.com/18F/18f.gsa.gov/blob/research/research/3-sprint-kuriouskettle/kuriouskettle-research-results.md#say-who-we-are-first-and-feature-several-projects-instead-of-one) — users get confused by the single featured project, and are eager to learn about who we are. Let's try flipping the order of the two first chunks of information on the homep

[2016-11-30 00:44] gboone opened #2083 "Code blocks not blocked, missing syntax highlighting"
## Expected Behavior
Code blocks formatted with triple backticks should generate into code blocks
[code]

## Actual Behavior
Code blocks are generated as single lines code:
`json { "example": "Like this" }`

Indenting every line in the block twice gets the desired monospace font in a block effect but syntax highlighting is still missing.

## Steps to reproduce the behavior
- [ ] Create a post or p

[2016-11-30 02:31] maya opened #2084 "Revert font smoothing from body text"
## Expected Behavior
No font smoothing.

## Actual Behavior
Font smoothing

See: https://github.com/18F/web-design-standards/pull/53
http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/

This was introduced in https://github.com/18F/18f.gsa.gov/pull/2049/files and can be removed. Anti-aliasing should only be used with light text on dark backgrounds.

[2016-11-30 15:31] gemfarmer commented on #2083
@gboone was this working before @mugizico and I joined? I'm mostly wanting to know if this is an existing bug or if changes that we made created this problem.

[2016-11-30 15:48] austinhernandez commented on #2080
WIP concepts on invision - https://invis.io/4U9JJB22E

- comments enabled
- content & images are mostly placeholder

[2016-11-30 15:58] austinhernandez commented on #2013
grid system is a WIP here on invision -https://invis.io/PK9JJOTQE
- I'm thinking this is blocked until we get solid IA and content
- Meeting with @gemfarmer to discuss specific requirements of visual elements
-- Does it make sense to create a UI pattern library that copies the USWDS?
- Sketch file here https://drive.google.com/open?id=0B0ppzHnivtsDV3g4V1FBZ0FOTzA

[2016-11-30 16:04] gboone commented on #2083
This was working as recently as the beginning of October when the ["What is Static Source Analysis"](https://18f.gsa.gov/2016/10/04/what-is-static-source-analysis/) post was published. It's possible syntax highlighting has been busted longer than that because that post doesn't have any highlighting.

[2016-11-30 16:15] gemfarmer commented on #2083
Hm ok. I don't doubt that some of the changes that were made to markdown rendering inadvertently caused this bug. 😞

[2016-11-30 18:54] gemfarmer commented on #2083
Testing how github renders codeblocks

[code]

[2016-11-30 19:29] coreycaitlin commented on #2014
Yay! Thanks for tracking this down @elainekamlley and @toolness 🎉

We now have a baseline. In the last two weeks (since there's a holiday in there):

- About 45 users went to the FEC project page, mostly from the homepage
- 4 people clicked on the `inquiries18F@gsa.gov` mailto link

[2016-11-30 19:31] gemfarmer commented on #2014
🎉 thanks @elainekamlley and @toolness !!

[2016-11-30 19:34] #2014 closed

[2016-12-01 17:41] #2077 closed

[2016-12-01 17:58] coreycaitlin opened #2088 "Draft new navigation and sitemap options"
Let's think about the structure of the site to solve some of the confusion we've been seeing in user research.

This issue is done when:

- [x] we have two drafts for potential future sitemaps
- [x] we've discussed them with the team

[2016-12-01 17:59] coreycaitlin opened #2089 "Create example styles page / template and pattern library"

[2016-12-01 18:00] coreycaitlin commented on #2000
After discussing, we've broken this out into #2088 and #2089.

[2016-12-01 18:00] #2000 closed

[2016-12-01 18:40] gemfarmer commented on #2089
This issue is to create a page (or set of pages) that document how different styles, includes and layouts are used throughout the site.

This has a few benefits:
- We would be demonstrating how layouts, templates, and styles exist within the _actual_ site environment
- Eliminate work of creating a autogenerating styleguide or Sketch styleguide
- Would exist as a guide for how to integrate USWDS an

[2016-12-02 15:34] awfrancisco commented on #2079
Closing this since we no longer need to link to it.

[2016-12-02 15:34] #2079 closed

[2016-12-02 20:39] austinhernandez commented on #2080
MVP styles here & handoff to @gemfarmer https://invis.io/3X9J87M4V#/209522573_Home_Mvp

[2016-12-04 13:59] lauraGgit opened #2096 "/Developer page reference to FBOpen and Midas"
## Expected Behavior
Only see tools that are still available for developers

## Actual Behavior
Seeing links to deprecated projects such as FBOpen and Midas.

## Steps to reproduce the behavior
- [ ] Go to /developer
- [ ] Read down

## This is issue is done when:
- [ ] Those paragraphs are modified or removed

[2016-12-04 14:05] lauraGgit opened #2097 "Link on 1st anniversary blog post to "Hello World" post goes to 404"
## Expected Behavior
When click on the link to the [Hello World](https://18f.gsa.gov/18f/team/culture/2014/03/19/hello-world-we-are-18f/) in the [One Year in and Looking Forward](https://18f.gsa.gov/2015/03/20/one-year-in-and-looking-forward/) you would see a Hello World message page.

## Actual Behavior
When click on the link to the [Hello World](https://18f.gsa.gov/18f/team/culture/2014/03/19/he

[2016-12-05 17:37] coreycaitlin opened #2098 "Write-up research findings from event"
Let's write up research notes from last week's event in the research branch so we can spot them alongside other research.

[2016-12-05 17:44] coreycaitlin commented on #2080
After all our conversations last week, the priorities are:

- Getting an intro sentence into the hero space
- Featuring 2 projects on the homepage
- Adding a call to action that links to the the `Hire`/`Contact` page

We're leaving a few things alone:

- Nav
- Footer
- Featured blog posts

[2016-12-05 18:02] #2083 closed

[2016-12-05 18:04] #2059 closed

[2016-12-05 18:05] coreycaitlin commented on #2089
This is successfully started, and ready to be maintained on an ongoing basis as we refine and add styles 🎉

[2016-12-05 18:05] #2089 closed

[2016-12-05 18:06] coreycaitlin commented on #2040
Focusing elsewhere for a sprint or two!

[2016-12-05 18:07] coreycaitlin commented on #2067
Started content work on `hire-rewrite` branch

[2016-12-05 18:09] coreycaitlin commented on #2070
Pushing out a sprint to focus on launching some other chunks of content.

One option when we pick this up again: start by focusing on problem-groupings rather than solution-groupings. From @gboone:

[2016-12-05 18:10] coreycaitlin commented on #2068
Pushing this out a sprint, in favor of starting with a few agency-centric stories.

[2016-12-05 18:11] coreycaitlin commented on #2013
We're solving this in #2089 — closing this issue out.

[2016-12-05 18:11] #2013 closed

[2016-12-05 18:12] gemfarmer opened #2099 "Create build script for blog posts"
## Expected Behavior

We want to have a few different ways to build the site.

**`bundle exec jekyll serve`**: builds the entire site. Takes about 50 seconds
**`./serve`**:                             builds a pared down version of the site that excludes everything blog related
**`./serve-blog`**: builds a pared down version of the site that also includes the most recent few blog posts

## Actual

[2016-12-05 18:13] #2088 closed

[2016-12-05 18:43] coreycaitlin opened #2100 "Create an intake form"
Per #2067, we want to create a form for collecting some basic information from leads, and to make the process of contacting us a little more predictable.

[2016-12-05 18:57] gemfarmer commented on #2100
@coreycaitlin pure html approach!

[code]

[2016-12-05 19:15] coreycaitlin commented on #2080
Draft from @gemfarmer is here: https://federalist.18f.gov/preview/18F/18f.gsa.gov/homepage-update/

[2016-12-05 19:25] coreycaitlin commented on #2080
Next steps:

- Share this around and get feedback (internally)
- See if we can get a few brief usability tests on the new order of items
- Explore visual (probably graphic, not photo) elements for the hero

[2016-12-05 19:28] coreycaitlin commented on #2080
Before testing, this page needs the following content elements:

- [ ] State & local teaser content (see #2069)
- [ ] Hero image for state and local feature
- [ ] Eliminate minor intro-content redundancy
- [ ] Copy for call-to-action at the bottom of the page

[2016-12-05 19:30] coreycaitlin opened #2101 "Hero image for state & local project page"
We need a hero image for the state & local project page, which is focusing first on HHS work with California. This will go in the same layout as the [FEC project page](https://18f.gsa.gov/project/fec-gov/), so contrast isn't too much of an issue.

[2016-12-05 22:39] gemfarmer commented on #2100
@coreycaitlin update! More research and this shouldn't be a security concern. The current method that I suggested doesn't make sense though :( It opens the default mail application on a given device with populated content.

I think we want to do something like one of the following:
-  https://formspree.io/
-  https://www.npmjs.com/package/html-form-send-email-via-google-script-without-server
- bui

[2016-12-05 22:41] gemfarmer commented on #2100
@gboone do you know if  formspree has come up before?

[2016-12-05 23:48] gboone commented on #2100
I do not know anything about formspree. I _suspect_ the Google Script option will be tricky because we'll have to auth it to an account. Is Mandrill worth exploring or is that more for sending a lot of email at once?

[2016-12-06 18:06] coreycaitlin opened #2103 "Design: Clearer hover and active styles for cards, images, links"

[2016-12-06 23:55] austinhernandez commented on #2101
here are 4 different variations on 2 concepts -  https://invis.io/3X9J87M4V#/210023057_State_-_Local_Headers

[2016-12-07 18:06] gemfarmer commented on #2067
What I learned from the [#research slack channel](https://gsa-tts.slack.com/archives/research/p1481128329000078):

- Using a third party services to handle the forms is fine, but two main conditions need to be met
  - We need to be able to ensure that only government employees (contractors are not employees) can use the intake form. Client-side validation is secure enough for this kind of form
  -

[2016-12-07 19:48] coreycaitlin commented on #2100
After some intrepid investigation by @gemfarmer, it sounds like...

- We need to make sure this isn't a general information collection, because PRA
- We need to make sure PII is handled and stored securely, by approved tools (on the approved IT standards profile)
- We don't really want to use an embedded Google form because we're concerned some agencies would not be able to access them

Other, sim

[2016-12-07 19:49] #2100 closed

[2016-12-07 20:55] austinhernandez commented on #2040
somewhat related to what we deliver is a rethinking of the navigation inside the project page (which will lead back to this page) - https://invis.io/3X9J87M4V#/210062112_Project_Detail_V1

[2016-12-07 21:01] austinhernandez commented on #2103
making small link, border, and hover effect changes for all clickable elements - going to try to implement these changes with @gemfarmer in our pairing block tomorrow. https://invis.io/3X9J87M4V#/210238877_18F-Home_Annotated

[2016-12-07 21:07] coreycaitlin opened #2104 "Project intro: College scorecard"
Format:

[code]

[2016-12-07 21:08] coreycaitlin opened #2105 "Project intro: Every Kid in a Park"
Format:

[code]

[2016-12-07 21:09] coreycaitlin opened #2106 "Project intro: DATA Act"
Format:

[code]

[2016-12-08 01:01] coreycaitlin commented on #2099
YAY thanks @gemfarmer 🎉

[2016-12-08 01:01] #2099 closed

[2016-12-08 17:01] gboone opened #2109 "Search results include pages with empty titles"
## Expected Behavior
A search results page [like this one](https://18f.gsa.gov/search/?q=testing) should only show results with page titles and navigable page paths.

## Actual Behavior
Search results contain some pages with no title, and no clickable link.

## Steps to reproduce the behavior
- [ ] Do a search, any will do [but here's an example](https://18f.gsa.gov/search/?q=testing) and look for

[2016-12-08 17:40] coreycaitlin commented on #2069
Next step: Share latest with HHS/State and local team

[2016-12-08 17:42] coreycaitlin commented on #2101
Let's go with photos here, since those nicely show the collaboration inherent in this work.

[2016-12-08 17:45] coreycaitlin commented on #2067
We're simplifying this and solving the above issues by:

- Adding a subject line and simple template to the `mailto` link, so users have a little more help giving us the right information when they reach out
- Noting who they'll be reaching out to

Still to do:

- [ ] Revisit CTA copy on the homepage

[2016-12-08 17:48] coreycaitlin commented on #2096
Let's remove these paragraphs for now!

[2016-12-08 19:16] gboone opened #2110 "Some author pages are duplicates and include all posts"
## Expected Behavior
Each author should have only one blog archive that displays only posts where they are a listed author. Any author listed in [`_authors`](https://github.com/18F/18f.gsa.gov/tree/master/_authors) who is not listed as an author should have an empty archive page or a 404.

## Actual Behavior
Some authors have a duplicate page that contain all posts in the site.

## Steps to reprod

[2016-12-08 20:25] awfrancisco commented on #2104
Working on this [here](https://docs.google.com/document/d/1UbvlrYo0aJh1SwblrQF0EO5-OG7WJ6Fl0zsdMx8-ExI/edit) (limited access)

[2016-12-08 21:17] awfrancisco commented on #2105
Working on the draft [here](https://docs.google.com/document/d/1EbYPpv1ep_85jpye32lgwzsT9i1XG1ZEbJomK2rXv6Q/edit) (limited access)

[2016-12-08 23:32] austinhernandez commented on #2101
the favorite photo chosen on invision is here to download and view. dimensions are 610 x 257px - https://invis.io/a/VHBK11PU7CFXQ

i got the dimensions from the 18F sketch file, but the FEC hero (/assets/img/home/hero-fec.png) appears to be  2048 x 860px! idk if that's because it's vector or what, but please let me know if I should be making the files that big.

[2016-12-09 18:25] awfrancisco commented on #2106
Drafting [here](https://docs.google.com/document/d/135tJSCkRHqBtrfcnTV4kjisQwrZ8TRQSu66pfJurLAk/edit) (limited access)

[2016-12-09 19:06] gemfarmer commented on #2110
@gboone what is the first example? I don't see a link to it

[2016-12-09 23:13] #2069 closed

[2016-12-09 23:13] #2101 closed

[2016-12-12 17:34] #2096 closed

[2016-12-12 17:34] #2097 closed

[2016-12-12 17:35] #2098 closed

[2016-12-12 17:48] coreycaitlin commented on #2110
You can find a bunch of these on this post and a few similar ones: https://18f.gsa.gov/2016/03/21/we-asked-100-of-our-coworkers-why-did-you-join-18f/

[2016-12-12 17:52] coreycaitlin commented on #2084
The question: what's the right approach for light text on dark backgrounds?

[2016-12-12 17:55] coreycaitlin opened #2119 "Write 18F experience principles"
We could use some experience principles to guide people who are communicating with our colleagues in government. Started drafting [here (limited access)]().

[2016-12-12 17:55] maya commented on #2084
@coreycaitlin we should use font-smoothing on light text on dark backgrounds.

[2016-12-12 22:51] gemfarmer commented on #2109
Ok, so after a bit more research, this appears to be caused by a few things
- files that weren't excluded in the build (contributing.md, for example) get indexed
- built redirect pages get built and are indexed. Adding `skip_index: true` to the frontmatter should prevent this, but several of the `redirect_from` pages don't have frontmatter.

[2016-12-13 19:39] gemfarmer commented on #2109
Appears that adding `skip_index: true` to dead pages works, the site just wasn't building properly.

Also, I am adding the [results UI script](https://github.com/18F/jekyll_pages_api_search#results-ui-and-search-engine-options) to the javacript include so that we can filter the results. This will have the added benefit of allowing us to redesign the blog search results UI.

[2016-12-13 20:44] austinhernandez opened #2123 "Create 3-5 Homepage concepts for testing"
After meeting with Sarah Milstein she suggests brainstorming on 3-5 concepts with Outreach to test user comprehension of what 18F does. Working with "We work with federal agencies to approach technology projects in new ways."

Preliminary research our users respond best to messaging around how we help agencies succeed (currently learning more about  what are their goals, what is success for them,

[2016-12-13 21:04] austinhernandez opened #2124 "Create flowchart/sitemap and navigation improvements"
1. Find clearer and faster paths for users to reach their goals (http://mur.al/bGrEZKwQ)
- As a federal employee, I want to learn about how other agencies worked with 18F.
- As a potential partner, I want to know how to contact 18F, and what to expect.
- As a federal employee, I want to know what 18F is and why I should trust it.

2. Mockup navigation ideas to get users to completing 18F site goal

[2016-12-13 21:09] coreycaitlin commented on #2124
Thanks for making the issue! Could you add a few notes about the user need here, and what you see as the current tension?

[2016-12-13 21:51] austinhernandez commented on #2124
https://invis.io/3X9J87M4V#/211089566_18Fflowchart-2

[2016-12-13 22:00] gemfarmer commented on #2110
So it looks like whenever there aren't any records for an 18f team member who has an author page, we have been showing all the records!!! BOOOOO! :ghost:

[2016-12-13 22:05] austinhernandez commented on #2040
"What we deliver" page mockup - https://invis.io/3X9J87M4V#/211054680_What_We_Deliver_V1

[2016-12-14 21:15] gemfarmer opened #2127 "Get dev critique of navigation"
I created [navigation.yml](https://github.com/18F/18f.gsa.gov/blob/master/_data/navigation.yml) with the hope of reducing the potential redundancy and error and simplifying the site. While it has achieved this, I am a little concerned about the complexity of the templates, and how brittle/error prone they might be as we try to future proof the site for an absence of dev support.

## This is issue

[2016-12-14 21:20] gemfarmer opened #2128 "Accessibility: remove manipulated content"
As @maya said well [here](https://gsa-tts.slack.com/archives/g-accessibility/p1481742349000108):

An example of this on the site is
[code]

We should simply say

[code]

## This is issue is done when:
- [ ] we have located and removed as many instances of `manipulation-with-the-intent-of-screen-reader-users`. This could be done by searching alt, labels, class="sr-only", aria attributes

[2016-12-16 14:34] wslack opened #2130 "Add note to meetings blog post that asking an observer to attend can be helpful"

[2016-12-19 17:46] #2110 closed

[2016-12-19 17:51] coreycaitlin commented on #2070
See concepts in #2040 — next step, more solid content.

[2016-12-19 17:51] coreycaitlin commented on #2040
Handing off to #2070 🎉

[2016-12-19 17:51] #2040 closed

[2016-12-19 17:56] coreycaitlin opened #2136 "Add better testing framework for Ruby plugins"
The authors and search bugs might have been prevented with better tests. It would be great to have better ruby testing for those kinds of issues.

[2016-12-19 17:57] coreycaitlin opened #2137 "Check on / update frontmatter tests gem"
We've changed some of the frontmatter fields in blog posts, and it would be nice to have better validation for whether the content in them are, well, valid.

[2016-12-19 18:01] coreycaitlin opened #2138 "Improve `we asked` blog layouts"
## Expected Behavior

The interview-based blog posts ([example](https://18f.gsa.gov/2016/03/21/we-asked-100-of-our-coworkers-why-did-you-join-18f/)) have a slightly broken layout now.

## Actual Behavior

...better layout?

[2016-12-19 18:01] coreycaitlin opened #2139 "Tweak unordered list styling"

[2016-12-19 18:02] coreycaitlin opened #2140 "Tweak blockquote styling"

[2016-12-19 18:08] coreycaitlin opened #2141 "Document next release goals and mid-term information architecture"
- [x] schedule time for the whole team to discuss goals and releases
- [x] prioritize design tasks
- [x] document and share mid-term vision for site information architecture

[2016-12-19 21:38] gemfarmer commented on #2140
In.vision with block quote styling https://projects.invisionapp.com/share/3X9J87M4V#/screens/210062112_Project_Detail_V1

[2016-12-19 22:23] coreycaitlin commented on #2080
Remaining work:

- [ ] Refine hover and link styling #2103

[2016-12-20 18:52] austinhernandez commented on #2123
@coreycaitlin here are 2 different designs with text on them for placement examples when you are thinking of tag lines for the homepage.

- v1 https://invis.io/a/BPC2FVY9ZCTUW
- v2 https://invis.io/a/6HC2FX94AFS7K

Here's an abstract background to add text on top of:
https://invis.io/a/KGC2FYIS9HR23

[2016-12-21 17:52] coreycaitlin commented on #2109
I believe this is solved in [release 1.1.3](https://github.com/18F/18f.gsa.gov/releases/tag/1.1.3)

[2016-12-21 17:52] #2109 closed

[2016-12-21 17:52] coreycaitlin commented on #2084
Solved! in  [release 1.1.3](https://github.com/18F/18f.gsa.gov/releases/tag/1.1.3)

[2016-12-21 17:52] #2084 closed

[2016-12-21 18:28] coreycaitlin opened #2145 "Homepage: Create project-type copy and project mapping"
Sarah suggested that we try summarizing the three types of problems we solve on the homepage, with example projects for each.

[2016-12-21 18:41] coreycaitlin commented on #2141
See [summary of current work here](https://github.com/18F/18f.gsa.gov/wiki)

[2016-12-21 18:42] #2141 closed

[2016-12-21 19:01] coreycaitlin commented on #2119
Reassigning to @awfrancisco, since you're working on it already!

[2016-12-21 19:18] coreycaitlin commented on #1952
Closing this out for now, as we've shifted to a non-project approach to the homepage hero.

[2016-12-21 19:18] #1952 closed

[2016-12-21 19:19] coreycaitlin commented on #2004
Closing this out, since we've changed our approach to the homepage hero.

[2016-12-21 19:19] #2004 closed

[2016-12-21 19:19] coreycaitlin commented on #2005
Closing this out, since we've changed our approach to the homepage hero.

[2016-12-21 19:20] coreycaitlin commented on #2003
Closing this out, now that we've changed our approach to the homepage hero.

[2016-12-21 19:20] #2003 closed

[2016-12-21 19:20] coreycaitlin commented on #2005
Closing this out, now that we've changed our approach to the homepage hero.

[2016-12-21 19:22] #2005 closed

[2016-12-21 19:44] coreycaitlin commented on #1966
Closing this out, since we're moving away from featured projects in the hero space. Still relevant for #2068 though!

[2016-12-21 19:44] #1966 closed

[2016-12-21 21:25] gemfarmer commented on #2140
Block quote variations:

- **Basic blockquote**: Text that we want indented within a larger text block
- **Blockquote + Image**:
- **Pull quote (see Austin's in.vision)**
- Lists of quotes: Ensure that blockquote styles look good en masse  (why did you join)
- List of quotes and images. (path to 18F)
- Image caption??: Maybe handle differently depending on length of the text

[2016-12-21 21:34] elainekamlley commented on #2140
Examples of current blog posts that use block quotes:
- [image caption](https://18f.gsa.gov/2016/08/02/jacob-harris-from-big-data-journalism-to-micro-purchase-platforms/)
- [blockquote + image](https://18f.gsa.gov/2016/08/26/mark-trammell-unlocking-the-true-potential-of-public-service/)
- [list of quotes](https://18f.gsa.gov/2016/11/25/what-18f-is-thankful-for-this-thanksgiving/)
- [list of quotes

[2016-12-22 17:19] awfrancisco commented on #2119
Adding the [draft doc](https://docs.google.com/document/d/1NpDbdto71wojuWYtLvTJyBXhRXc5f1ma2DxM6MGBTpI/edit). Previous link was back to this issue.

[2016-12-23 17:37] awfrancisco commented on #2130
Blog post in question. https://18f.gsa.gov/2016/12/14/how-to-run-an-efficient-meeting/

[2016-12-27 17:13] awfrancisco commented on #2070
I'll work on drafting a 3 buckets and a 0 buckets version of the content.

[2016-12-27 17:15] gemfarmer commented on #2119
@coreycaitlin: open for your review!

[2016-12-27 17:17] gemfarmer commented on #2103
Merged with #2147

[2016-12-27 17:17] #2103 closed

[2016-12-27 17:34] gemfarmer commented on #2138
Underway in #2146

[2016-12-27 18:16] gemfarmer opened #2151 "Implement complete skip link navigation"
## Expected Behavior
Skip links should allow users to navigate quickly between primary chunks of content using tabbing or switch devices

## Actual Behavior
This works on the homepage for `#main-content` to skip over the navigation field, but works inconsistently throughout the rest of the site.

## This is issue is done when:
- [ ] There is a defined and predictable skip link navigation that exis

[2016-12-27 18:30] coreycaitlin commented on #2145
Project-type mapping for the project intros in the pipeline:

- Public-facing services
    + FEC
    + Every Kid in a Park?
- Law or mandate
    + College Scorecard?
    + DATA Act
    + EITI
- Internal processes

Outstanding question: how would products and platforms fit into this framework (cloud.gov, draft web design standards, etc.)?

[2016-12-27 19:51] coreycaitlin commented on #2067
@gemfarmer What's the right branch (most recent branch with the new homepage structure and CTA) for me to make these changes on?

[2016-12-27 20:12] coreycaitlin commented on #2123
## Three options for tagline + brief intro

### Option 1

**We work with federal agencies to approach technology projects in new ways**

[shorter:
**We help agencies approach technology projects in new ways**
]

18F helps agencies improve processes and deliver efficient, easy-to-use digital services to the public.

As an office within the General Services Administration, we know how to work with g

[2016-12-27 20:32] gemfarmer commented on #2067
@coreycaitlin that would be `our-work`

https://github.com/18F/18f.gsa.gov/pull/2150
https://federalist.18f.gov/preview/18F/18f.gsa.gov/our-work/

[2016-12-27 21:53] awfrancisco commented on #2123
Thoughts in no particular order:

We could also test whether the "We help agencies" or "Helping agencies" construction is better.
More specifically than whether `transformation` resonates with users, I'd like to explore whether federal employees find it offensive. Whether the idea that you need to be transformed is off-putting.

Here's another tagline option.
**Trusted partners in building a digit

[2016-12-27 22:56] coreycaitlin commented on #2123
@awfrancisco Makes sense. If we could only test one at a time, which would you want to move forward with?

I think I like the first one, but with the shorter variant:

Very open to other opinions, though!

[2016-12-27 23:23] coreycaitlin commented on #2067
New words (as well as alternate words, commented out) are here: https://github.com/18F/18f.gsa.gov/pull/2150

Closing this issue out for now, since we can pick up feedback on that branch/PR.

[2016-12-27 23:23] #2067 closed

[2016-12-27 23:50] coreycaitlin commented on #2104
Got a 👍 from @meiqimichelle, though we should double-check the accuracy of the last sentence. @awfrancisco, do you know who would be able to weigh in on the Ed Digital Service?

[2016-12-28 00:29] coreycaitlin commented on #2056
When we're ready for them, @awfrancisco wrote up a plan for this section [here (limited access)](https://docs.google.com/document/d/1ANzNWLpjp9t3MnDIaEHb4McJnu8OeseeGzyeVFAnBZc/edit?ts=58336c7e)

[2016-12-28 17:35] awfrancisco commented on #2123
I like that shorter variant, but I think we should replace "deliver" with another word. At least in one of the instances, but probably both. Maybe develop or create?

[2016-12-28 17:37] awfrancisco commented on #2104
I'll work on that.

[2016-12-29 00:06] coreycaitlin opened #2154 "Organize projects by problem type?"
We have hypothesized that clear, plain-language project write-ups will help potential partners understand what we do and who we work with. It might also help to group those projects by category of problem solved, where the problem categories are:

- Improve your public-facing services
- Implement new laws or mandates
- Improve your internal systems

If research shows that these categories are usef

[2016-12-29 00:07] coreycaitlin commented on #2145
Closing out in favor of #2154

[2016-12-29 00:07] #2145 closed

[2016-12-29 15:09] awfrancisco commented on #2104
Last sentence is cleared. This is ready to move forward.

[2016-12-29 20:08] awfrancisco commented on #2105
Text is done. Moving to markdown.

[2016-12-30 01:02] wslack opened #2155 "Add TTS Logo to 18F Site Footer"
Looks like there is space for a mini TTS logo between the 18F and GSA logos at 18f.gsa.gov - wanted to ask if we should add it!

[2016-12-30 18:16] coreycaitlin commented on #2119
Now posted [here](https://github.com/18F/18f.gsa.gov/wiki/Experience-principles), thanks to @awfrancisco 🎉

[2016-12-30 18:16] #2119 closed

[2016-12-30 21:16] coreycaitlin commented on #2123
I think we've narrowed down to one strong option to move forward with, which incorporates recent 1-pager work, and is visible over in #2148. Closing this out for now!

[2016-12-30 21:16] #2123 closed

[2016-12-30 21:16] coreycaitlin commented on #2104
Next step: move to Markdown file in `_projects` directory.

[2016-12-30 21:17] coreycaitlin commented on #2128
Fixed with #2143

[2016-12-30 21:17] #2128 closed

[2016-12-30 21:20] coreycaitlin commented on #2080
Next step: refine the homepage design so that it...

- Includes an image in the hero space
- Has a header + brief body text in the hero space
- Has clearer section breaks between sections

Then, share the latest design + content with @smils and @gboone before launching.

[2016-12-30 21:22] coreycaitlin commented on #1993
This is done with #2134

[2016-12-30 21:22] #1993 closed

[2016-12-30 21:32] coreycaitlin commented on #2139
@awfrancisco or @elainekamlley — could you add a note about how we want to improve list styling? The issue I'm most aware of is the extra spacing after lists, but I'm not sure what else...

[2017-01-03 17:19] coreycaitlin commented on #2138
Fixed in #2146 🎉

[2017-01-03 17:19] #2138 closed

[2017-01-03 17:19] #2140 closed

[2017-01-03 17:34] coreycaitlin opened #2158 "Research: Write research plan for new homepage options"
A research plan! We needs one! [Put it here](https://github.com/18F/18f.gsa.gov/tree/research/research)

[2017-01-03 17:36] coreycaitlin opened #2159 "Research: Recruit participants"
We'll need at least 3-5 people for our next round of research (see #2158)

[2017-01-03 17:48] coreycaitlin commented on #2105
Once this is in dev, would be good to get a final a-ok from Emileigh or others from the team.

[2017-01-03 17:50] coreycaitlin commented on #2136
@gemfarmer Want to keep this open to keep working on it, or does #2153 wrap this up?

[2017-01-03 17:52] coreycaitlin commented on #2155
This is a great idea, but we should probably do this when we get an `About 18F` page up, so we can explain the relationship.

[2017-01-03 17:53] coreycaitlin commented on #1988
I think the fixes to the blog-author archive pages have made this less of an issue. Closing for now.

[2017-01-03 17:53] #1988 closed

[2017-01-03 17:57] coreycaitlin commented on #2136
Okay! closing this out, since we have the framework now — we can create new issues for further refinement.

[2017-01-03 17:57] #2136 closed

[2017-01-03 17:58] coreycaitlin commented on #2139
- Extra space at the end of each list
- Bullets are smaller than they should be
- Use closer to default WDS styling

[2017-01-03 18:09] coreycaitlin commented on #2080
Next: Schedule pairing time to implement and experiment with these changes

[2017-01-03 18:12] awfrancisco opened #2161 "Tags: Style for URL vs project name"
## Expected Behavior
We should have a consistent tag style for projects.

## Actual Behavior
Some projects use the URL for the tag (pulse.cio.gov) while some use the project name (CALC). We should choose a consistent style and apply it across projects.

## Steps to reproduce the behavior
- https://18f.gsa.gov/tags/

## This is issue is done when:
- [ ] We decide on a style
- [ ] That style is appl

[2017-01-03 18:13] coreycaitlin commented on #2161
[Related wiki page](https://github.com/18F/18f.gsa.gov/wiki/Project-names)

[2017-01-03 18:21] coreycaitlin opened #2162 "Add caption ability for blog hero images"
Currently, blog hero images don't have captions, which often leads to duplicate images, because we want to use the picture as a hero but we also need its caption...

[2017-01-03 18:22] coreycaitlin commented on #2162
Example post: https://federalist.18f.gov/preview/18F/18f.gsa.gov/dev/2016/10/11/getting-the-most-juice-out-of-the-squeeze/

[2017-01-03 22:20] gemfarmer commented on #2137
Two things to change:
- frontmatter properties should never be empty strings. They should be blank instead. Make sure that the gem checks for this
- Check array type to determine if the array contains valid values.

[2017-01-05 19:09] awfrancisco commented on #2070
Both versions are ready for a look [here](https://docs.google.com/document/d/1ekT2hP5zZ000RBgIZ01GLM0fBWSBxf5LAgVdkt0GZ48/edit#)

[2017-01-05 21:09] #2012 closed

[2017-01-05 23:18] #2139 closed

[2017-01-06 16:11] gemfarmer opened #2179 "Use correct codeclimate badge"
## Expected Behavior

[![Code Climate](https://codeclimate.com/github/18F/18f.gsa.gov/badges/gpa.svg)](https://codeclimate.com/github/18F/18f.gsa.gov)

## Actual Behavior

[![Code Climate](https://codeclimate.com/github/18F/micropurchase/badges/gpa.svg)](https://codeclimate.com/github/18F/18f.gsa.gov)

## Steps to reproduce the behavior
- update badge markdown in README

[2017-01-06 16:15] gemfarmer opened #2180 "Add codeclimate test coverage badge"
## Expected Behavior
We should have a test coverage badge next to our GPA

[![Test Coverage](https://codeclimate.com/github/18F/18f.gsa.gov/badges/coverage.svg)](https://codeclimate.com/github/18F/18f.gsa.gov/coverage)

## Actual Behavior

We don't have one.

## Steps to reproduce the behavior
- Follow instructions here: https://codeclimate.com/repos/586fbc7193c95250d000327e/coverage_setup
- [For

[2017-01-06 17:28] coreycaitlin commented on #2080
WOOT WOOT @austinhernandez designed this awesomeness, let's implement it! 🎉

![screen shot 2017-01-06 at 9 27 21 am](https://cloud.githubusercontent.com/assets/1450354/21726580/3c1906d2-d3f2-11e6-8ab8-f0100ce438dd.png)

@austinhernandez can you add any source files @gemfarmer will need to get this built? and start thinking about how it will look on mobile?

[2017-01-06 17:29] gboone commented on #2080
LET'S DO IT!

[2017-01-06 18:52] gemfarmer commented on #2080
Rearing to implement this. To what @coreycaitlin said, @austinhernandez where is the link to the latest version that I should work from?

[2017-01-06 20:04] austinhernandez commented on #2080
@amberwreed suggested we hold off for a bit for refinement. The concern is that this is off-brand and needs some polish before it's ready for primetime. Working with her right now.

[2017-01-09 16:16] #2180 closed

[2017-01-09 16:17] gemfarmer commented on #2180
Closed with #2182

[2017-01-09 17:36] #2104 closed

[2017-01-09 17:36] #2105 closed

[2017-01-09 17:56] coreycaitlin commented on #2179
See #2182

[2017-01-09 17:57] #2179 closed

[2017-01-09 18:15] gboone opened #2185 "Better shorthand for adding captions to blog/page images"
As a blog author, I want an easy shorthand for creating images with captions, so that I can spend less time converting google docs to blog posts.

When we have an image that doesn't need a caption, we can use the normal markdown shorthand `[alt text](path/to/image)` but if we do need a caption, we have to either craft a `<figure>` tag, or offset a seemingly unrelated paragraph in italics. It'd be

[2017-01-09 22:46] coreycaitlin commented on #2154
We should not pick this up until we've done some initial testing on these project categories.

[2017-01-09 22:49] coreycaitlin commented on #1914
Closing this out — it's in much better shape! 🎉

[2017-01-09 22:49] #1914 closed

[2017-01-09 22:50] coreycaitlin commented on #1892
Closing out in favor of #1893

[2017-01-09 22:50] #1892 closed

[2017-01-09 22:57] coreycaitlin commented on #1893
Projects on the press page:

- [ ] myUSCIS
- [ ] betaFEC --> project page #1967
- [ ] College Scorecard --> project page #2104
- [ ] Draft U.S. Web Design Standards
- [ ] analytics.usa.gov
- [ ] cloud.gov --> project page #2068
- [ ] DoL Wage and Hour Division Field Operations Handbook
- [ ] RFP Ghostwriting with CA --> project page #2069
- [ ] Every Kid in a Park --> project page #2105
- [ ] USEI

[2017-01-09 22:58] coreycaitlin opened #2186 "Content: About 18F page"
We need a page that explains the basics of 18F, including:

- our relationship to TTS and GSA (i.e. #2155)
- our history
- funding
- more

[2017-01-09 23:01] coreycaitlin commented on #2186
Source content from the press page:

[2017-01-09 23:01] coreycaitlin commented on #1893
I've also opened an issue for the "about" content on this page: #2186

[2017-01-09 23:06] coreycaitlin commented on #1877
We did this in #2165, and I just added a reminder in Slack to do it again on March 1st. @gboone, does that seem like enough of a plan, or do you want to keep this issue open?

[2017-01-09 23:11] coreycaitlin commented on #1977
This should be solved with #1791

[2017-01-09 23:11] #1977 closed

[2017-01-09 23:14] coreycaitlin commented on #1907
Closing this out in favor of #2040, #2070, and project-tag pages. The `What We Deliver` page with links to project pages will eventually include a teaser image for each.

[2017-01-09 23:14] #1907 closed

[2017-01-09 23:16] coreycaitlin commented on #1949
Someday we should switch back to the fully-supported version of jekyll-archives — leaving this open as a reminder to check in occasionally to see if they've merged our fork.

[2017-01-09 23:56] coreycaitlin commented on #2022
[Draft here (limited access)](https://docs.google.com/document/d/1nVyNT8jWg9W37W092ehoL7DGln0BOrvTEbxS73zYR6Y/edit

[2017-01-10 00:11] coreycaitlin opened #2188 "Content: project intro for DoL Wage and Hour Division"
We need content for the project-tag landing page about this project.

## This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [x] Content is reviewed by somebody on the project (maybe Rebecca R-S or Jay F)

[2017-01-10 00:14] coreycaitlin opened #2189 "Content: eRegs project intro"
We need content for the project-tag landing page about this project.

## This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [x] Content is reviewed by Jen E

[2017-01-10 00:16] coreycaitlin commented on #2186
[Supporting research and recommendation](https://github.com/18F/18f.gsa.gov/blob/research/research/3-sprint-kuriouskettle/kuriouskettle-research-results.md#recommendations)

[2017-01-10 00:22] coreycaitlin commented on #2189
[Draft goes here (limited access)](https://docs.google.com/document/d/1_Q5Efv1ZRm56jFa2GLCV8VqbFsu3-TCwxMYU9DOMb-A/edit))

[2017-01-10 00:23] coreycaitlin commented on #2188
[Draft goes here (limited access)](https://docs.google.com/document/d/1klkLPWft1DBBjiY9UavUyASGNgG2EPisWatFFddPcM8/edit)

[2017-01-10 19:35] coreycaitlin opened #2191 "Deprecate unused and unmaintainable frontmatter attributes"
There are a number of frontmatter attributes — especially in author and blog-post files — that we no longer use. Keeping them around is confusing, especially if their usage is inconsistent or their data is unreliable.

## Current author attributes to make decisions about
- [x] name
   - keep because this doubles as a programmatic ID
- [x] first_name
    - we use this to programmatically refer to s

[2017-01-10 19:39] coreycaitlin commented on #2191
Attributes I recommend actively deprecating for maintainability concerns:

- role
- city
- state
- team

As far as I know, none of these are currently used in any templates but were previously used in "team" pages. Even if we bring back some form of profile page, these four attributes are likely to change regularly, with mixed awareness or visibility to the outreach team. Also, I don't think users

[2017-01-10 19:41] coreycaitlin commented on #2191
I also recommend deprecating the twitter field because of concern about the line between personal and professional social media use. This field was last used some time ago, so choosing to use it again (with that legacy data) would require re-obtaining consent from everyone whose twitter link is listed.

[2017-01-10 23:40] gemfarmer opened #2192 "Focus box on post images is excessively large"
## Expected Behavior

Ideally the focus box on an image would be the size of an image. On the author pages, half-width images have a full-width focus box. It is functional, but less than ideal..

## Actual Behavior

![screen shot 2017-01-10 at 5 38 34 pm](https://cloud.githubusercontent.com/assets/4803473/21829461/b3422d44-d75b-11e6-8762-0e861f519aa2.png)

[2017-01-11 17:51] gemfarmer commented on #1941
Remember to document what it does, where to go to add tags in the blogging guide and on the site.

Consider mapping to common misplaced tags such as:

[code]

[2017-01-11 21:18] coreycaitlin commented on #2070
This is good to go as source content once we start building out this page!

[2017-01-11 21:20] coreycaitlin opened #2194 "Build new "what we deliver" page with project cards"
Pull together the design (#2040) and content (#2070) into a "what we deliver" or "our work" page that links to project cards.

[2017-01-11 21:20] #2070 closed

[2017-01-11 21:24] coreycaitlin commented on #2186
We should also change the content on these pages:

- [Insite page (limited access)](https://insite.gsa.gov/portal/content/502378)
- [GSA.gov page](https://www.gsa.gov/portal/content/124182)

[2017-01-11 22:43] coreycaitlin commented on #2191
Decisions have been made @gemfarmer — let's do it!

[2017-01-11 23:02] coreycaitlin commented on #2080
Update! newer fancy business:

![screen shot 2017-01-11 at 1 41 32 pm](https://cloud.githubusercontent.com/assets/1450354/21869959/ef03b3c6-d80e-11e6-96d8-f15a906b013c.png)

[2017-01-12 15:52] gboone opened #2195 "Better support for image layouts"
As a blog editor, I want an easy way to position and resize images in a blog post, so that I can make complex diagrams and wrap text around small images.

The images on a post like the one we posted today (will add a link when live) need to be handcrafted in order to float inline with the text. The result is unnecessary inline CSS, mixed markdown and HTML in blog posts, and repetitive code that is

[2017-01-12 18:44] gemfarmer opened #2196 "Visual bug: Navigation border"
## Expected Behavior

When the area below the top navigation is also white, there should be a dividing line clearly separating the two areas.
![screen shot 2017-01-12 at 12 39 05 pm](https://cloud.githubusercontent.com/assets/4803473/21903178/83b178c2-d8c4-11e6-9d02-3b24e1208dc6.png)

## Actual Behavior

This doesn't appear to be happening on all pages. On the search results page, the tags list pa

[2017-01-12 20:00] austinhernandez commented on #2080
hai! here's the latest from amber and austin!

![1-12-16-homepage](https://cloud.githubusercontent.com/assets/23194720/21906089/d69a2d1e-d8d7-11e6-9391-27870833cee6.png)

[2017-01-12 20:03] austinhernandez commented on #2080
here is the latest version with margins (please note these will still be REM, but they are showing the relative heights between elements:
![1-12-16-homepage-margins](https://cloud.githubusercontent.com/assets/23194720/21906165/2dca3f8e-d8d8-11e6-96b3-2ef0e63702a2.png)

[2017-01-12 23:43] coreycaitlin opened #2198 "Move "Join 18F" from the header navigation to the footer"
We haven't had very many job openings lately, and several users have remarked either that it's confusing to say we might but link to a site that says we don't, or that it's disappointing to realize we aren't actually hiring.

ALSO we often promote individual openings as direct links, so we aren't relying on the `Join 18F` header item as a main driver of traffic, even when we are recruiting.

Let's

[2017-01-13 02:03] coreycaitlin commented on #2158
**[Research plan](https://github.com/18F/18f.gsa.gov/blob/research/research/5-sprint-especialesker/especialesker-research-plan.md)** & **[Research script](https://github.com/18F/18f.gsa.gov/blob/research/research/5-sprint-especialesker/especialesker-script.md)** 🎏

[2017-01-13 02:04] coreycaitlin commented on #2158
@gboone Do these still seem like the right questions? Anything else we should be asking?

[2017-01-13 17:15] kategarklavs commented on #2189
Howdy! Happy to take this on :)

[2017-01-13 20:28] coreycaitlin opened #2200 "Content: USCIS project intro"
We need content for the project-tag landing page about this project.

## This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [x] Content is reviewed by Jen E

[2017-01-13 20:31] coreycaitlin commented on #2200
Source content from old intake site:

[2017-01-13 20:33] coreycaitlin opened #2201 "Content: Project intro page for Contract Awarded Labor Category tool (CALC)"
We need content for the project-tag landing page about this project.

## This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [ ] Content is reviewed by Alan B

[2017-01-13 20:35] coreycaitlin opened #2202 "Content: Project intro for C2"
We need content for the project-tag landing page about this project.

## This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [x] Content is reviewed by...someone?

[2017-01-13 20:37] coreycaitlin commented on #2202
Source content from old intake site:

[2017-01-13 20:38] coreycaitlin opened #2203 "Content: Project intro for The New 10"
We need content for the project-tag landing page about this project.

## This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [x] Content is reviewed by...someone?

[2017-01-13 20:38] coreycaitlin commented on #2203
Source content from the old intake site:

[2017-01-13 20:39] coreycaitlin commented on #2188
Source content from the old intake site:

[2017-01-13 20:40] coreycaitlin commented on #2068
Source content from old intake site:

[2017-01-13 20:41] coreycaitlin opened #2204 "Content: Project intro for Federalist"
We need content for the project-tag landing page about this project.

## This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [x] Content is reviewed by Will Slack

[2017-01-13 20:41] coreycaitlin commented on #2204
Source content from the old intake site:

[2017-01-13 21:01] coreycaitlin commented on #2200
Source content from the press page:

[2017-01-13 23:38] coreycaitlin commented on #2137
We now have issues to track this work over here: https://github.com/18F/jekyll_frontmatter_tests/issues 🎉

[2017-01-13 23:38] #2137 closed

[2017-01-17 17:10] #2158 closed

[2017-01-17 17:12] gemfarmer commented on #1941
This is done in the [gem](https://github.com/18F/jekyll_frontmatter_tests/pull/4), but not fully reflected in this repo. The list of acceptable tags has been made, but we aren't using an updated version of the gem, so the list isn't doing anything.

[2017-01-17 17:16] coreycaitlin commented on #1949
IT HAS BEEN MERGED! https://github.com/jekyll/jekyll-archives/pull/58

[2017-01-17 17:20] coreycaitlin opened #2205 "Create guidance for project imagery"
It really helps to have good pictures to help us highlight project work — but people might need a little more guidance about how to get pictures we can use.

[2017-01-17 18:03] gemfarmer commented on #2196
@maya this looks like it wasn't actively changed. From [this page on Jekyll](http://jekyll.tips/jekyll-casts/layouts/):

[code]

I changed the layout to reflect this and the problem was fixed!

[2017-01-17 18:14] coreycaitlin commented on #2186
- [ ] Add media contact link
- [ ] Explore other agency about pages

[2017-01-18 00:32] kategarklavs commented on #2189
@coreycaitlin Howdy! Just finished up a draft intro — I'd love your feedback on it! (I'm worried that it might not be detailed enough, but I wanted to stay within the general length as established by the other few project intros I read.)

In any event, let me know what you're thinking &  I'll get to editing! 😎

[2017-01-18 00:33] kategarklavs commented on #2202
Hello again! I've helped out with C2 here and there in the past (and, in fact, during a hackathon during the days of yore, I wrote landing-page copy for an old version of C2). Happy to claim this one 👍

[2017-01-18 19:07] awfrancisco commented on #2068
We should have new content to help feed this soon, and it'd be good to move this up in line if we can.

[2017-01-18 22:50] austinhernandez commented on #2205
hey @coreycaitlin could you look at these guidelines and tell me if they make sense to you?

If possible:
1. Image should relate to the project title, the department, the process (in order of preference)
2. Show real users that benefit from this project
3. Show screenshot (without words)
4. Mix it up! look at the current project list do you see too many of the same type of image (e.g. mostly scree

[2017-01-19 00:38] coreycaitlin opened #2212 "Change the hero image on the Hire 18F page"
We now have the same image on the homepage and Hire page, which is a little repetitive. Let's change the one on the Hire page.

[2017-01-19 01:12] coreycaitlin commented on #2080
I am closing out this issue, team! If we have more specific refinements, let's issue them separately. 🥇

[2017-01-19 01:12] #2080 closed

[2017-01-19 01:14] coreycaitlin commented on #2205
@austinhernandez This is great, I love it. Want to find a spot in the wiki to put this guidance so we can find it again?

[2017-01-19 17:49] coreycaitlin commented on #2151
This was included in #2197 🎉

[2017-01-19 17:49] #2151 closed

[2017-01-19 17:50] #2212 closed

[2017-01-19 17:51] coreycaitlin commented on #1949
Next step: combine changes on their gem with the changes made on our gem, and make sure everything still works.

[2017-01-19 18:13] coreycaitlin commented on #2186
- should this be a whole section, and subsume the join content
- do we need pictures / info about leadership?
- should the press page be within this section?

What do we want people to get from this page?

[2017-01-19 18:42] coreycaitlin commented on #2186
## Tentative plan for this page

This page or section will be a place for a wide audience to get the 5 Ws:
- What 18F is
- Where 18F is (both physically and organizationally)
- Who makes up 18F, at least generally
- When 18F started, and when we became part of TTS
- Why 18F started/exists

As we've moved the homepage and `Hire 18F` page toward a more marketing-focused tone (and are likely to head

[2017-01-19 18:47] coreycaitlin commented on #2186
Two "about" pages to look at for in-gov reference:

- [CFPB](http://www.consumerfinance.gov/about-us/)
- [betaFEC](https://beta.fec.gov/about/)

...while keeping in mind that we want to scope this to the smallest thing we can launch

[2017-01-19 19:29] gboone commented on #2186
I really like how little information there is on CFPB's about page. Lots of links into [deeper content](http://www.consumerfinance.gov/about-us/the-bureau/) that is similarly well organized and designed.

[2017-01-19 19:33] awfrancisco commented on #2186
I'd say this all looks good. I do think we should include something about leadership. People often ask for the org chart, which is difficult to publish for various reasons. AP also has Rob and Dave in the new pitch deck. So far they've had a good response to that, but we should keep an eye on that as user research for featuring leadership (though the pitch deck and about page have different audien

[2017-01-19 19:39] gboone commented on #2186
Also want to throw it out there that we should find out what people want to know about our leadership before we make a page with Dave's bio on it, and how deep they want to know it before we do an org chart. Worth noting, too, that [CFPB's org chart](http://www.consumerfinance.gov/about-us/the-bureau/bureau-structure/) doesn't go all the way to every individual. Stops at the assistant director lev

[2017-01-19 19:41] awfrancisco commented on #2186
Yeah, I'm not advocating bios. I would say only boiler plate info. And assistant director/project lead certainly seems deep enough. Could probably stop before then too.

[2017-01-19 19:43] gemfarmer commented on #1949
Working on this now. It works pretty well with the new version. It might be worth using this as an opportunity to cull or refine our build scripts (and related documentation)

### What we need
- [ ] Basic build – builds and incrementally regenerates everything
- [ ] Build without blog – builds the entire site minus the blog and search index
- [ ] Build for accesslint – build script that builds onl

[2017-01-19 19:48] coreycaitlin commented on #2186
Two notes from past user research on the site:

- When we use "you", some users get confused about whether we really mean _them_
- It's come up a few time that feds want to know who our leaders are (i.e. Dave)

And some notes from content workshop:

- NN articles: [About us info study](https://www.nngroup.com/articles/about-us-information-on-websites/) & [PR on websites](https://media.nngroup.com/

[2017-01-19 20:49] austinhernandez commented on #2205
https://github.com/18F/18f.gsa.gov/wiki/Finding-the-right-image-for-a-project-page

[2017-01-19 23:43] maya opened #2220 "Reconsider "Edit on GitHub" link or add new link to repo"
## Expected Behavior
Navigate to the GitHub repo in order to open an issue from the website.

## Actual Behavior
I'm looking for a link directly to GitHub from the website, but the only link to GitHub is "Edit on GitHub" which drops me into the HTML of the site. I don't want to edit the HTML, I want to open an issue unrelated to that template and possibly have a discussion. It's a little jarring t

[2017-01-19 23:48] maya opened #2221 "Remove title and description from right arrow image on "read more" link"
The right arrow image on the "read more" link is decorative so I don't believe you need title and description. Announcing "Read more about [title of post]" will be the most helpful text for someone using a screenreader.

"about [title of post]" can be added as screenreader only text, which I believe is what it was like before, but @gboone may remember better.

/cc @nickbristow

[2017-01-20 15:08] gemfarmer commented on #2221
@maya Because these arrows are used site wide to indicated 'read more', do you think a compromise could be to make the title `Read more` instead of `right arrow image icon`? Or do you think it is still confusing having that help text in conjunction with the other content in that card anchor tag?

[2017-01-20 17:20] gemfarmer opened #2223 "Optimize background image loading/rendering"
## Expected Behavior
Background images should load quickly and never "tile in"

## Actual Behavior
There is a perceptible loading lag. The first time a user visits the site and the images aren't cached locally, some images tile in.

## Steps to reproduce the behavior
- [ ] Optimize all images
- [ ] Ensure that `background-repeat: no-repeat` is on all background images

[2017-01-20 17:32] coreycaitlin commented on #2205
Yay! thanks @austinhernandez

[2017-01-20 17:32] #2205 closed

[2017-01-20 18:55] maya commented on #2221
@gemfarmer nope, bc that would be duplicate content bc the link already says "Read more." https://www.w3.org/WAI/tutorials/images/decorative/

[2017-01-20 22:06] #2191 closed

[2017-01-20 22:08] coreycaitlin commented on #1877
Closing this out — I think the Slack reminder is a good start here.

[2017-01-20 22:08] #1877 closed

[2017-01-20 22:35] #1949 closed

[2017-01-21 02:04] #2196 closed

[2017-01-21 02:11] coreycaitlin commented on #2155
We explored including the TTS logo on an About page, but because the logo doesn't include the acronym, it is likely to add confusion rather than creating clarity. It's also a little unclear at small sizes, and there's some potential for confusion because it only depicts the continental U.S.

@gboone also noted that other parts of GSA (within the other services) don't self-identify as parts of thos

[2017-01-21 02:50] coreycaitlin commented on #1941
I believe this was fixed by #2209 🌮

[2017-01-23 15:53] nickbristow commented on #2221
@gemfarmer yeah, I agree with @maya "arrow right" doesn't add anything and if there is text, its duplicate content and not needed.

[2017-01-23 16:05] gemfarmer commented on #2221
@maya @nickbristow that tutorial is helpful. I went back through using VoiceOver and I see what both of you mean about the duplication. In that audit, I found the Featured Projects card links even more troubling. Do either of you know an effective strategy for putting a link around an element that has a lot of content without reading all of the internal content?

[2017-01-23 17:36] #1941 closed

[2017-01-23 17:36] maya commented on #2221
@gemfarmer that's a good question! I asked in the [a11y slack](https://web-a11y.herokuapp.com/) and got this answer:

[2017-01-23 17:46] coreycaitlin opened #2226 "Project page layout v2"
## Expected Behavior

The project pages are working well, but the content hierarchy and context are a little unclear, even to internal users.

## Actual Behavior

We want users to be able to tell quickly:

- That this is an 18F project summary / case study
- Who the partner agency was/is
- Which section of the site they're in
- What to do next (some kind of call to action)
- That the blog posts ar

[2017-01-23 17:49] coreycaitlin opened #2227 "Refine subnav functionality"
As we build out the About section, we'll need to tweak how the subnav ( #2043 ) works.

[2017-01-23 17:49] nickbristow commented on #2221
@gemfarmer yeah, having a ton of content in a link isn't really a great for accessibility. Click handler on the card, and just having the link be focusable is probably the way i'd go

[2017-01-23 17:52] coreycaitlin opened #2228 "Content: Figure out the format for platform and product pages"
- eRegs
- cloud.gov
- login.gov
- Draft U.S. Web Design Standards
- Federalist

[2017-01-23 17:54] gboone commented on #2155
Agreed.

[2017-01-23 17:54] #2155 closed

[2017-01-23 19:39] #2220 closed

[2017-01-23 19:39] coreycaitlin commented on #2220
Thanks @maya!

[2017-01-23 19:40] maya commented on #2220
Thank you, @coreycaitlin!

[2017-01-23 23:12] #2195 closed

[2017-01-24 00:17] coreycaitlin commented on #1893
Non-project parts of this page are:

- [ ] intro - move to top of about page
- [ ] media contact link - move to press section of about
- [ ] what 18F has accomplished - see project pages
- [ ] 18F projects adapted by other organizations
- [ ] 18F's relationship with USDS - no need to move?
- [ ] basic info on history - move to history section of about
- [ ] how 18F works - move to funding section

[2017-01-24 00:18] coreycaitlin commented on #1893
@awfrancisco ^^ here's my mini-content-inventory of the /press page — any thoughts about whether we should keep the "18F projects adapted by other orgs" section, and where to put it?

Also, if you have concerns about any of the notes about other sections of the page, just let me know!

[2017-01-24 01:49] coreycaitlin commented on #2186
Some key notes from the NN reports...

[On about pages](https://www.nngroup.com/articles/about-us-information-on-websites/):

^^ _I think we're moving closer to this structurally, even if we're not naming the sections the same thing_

[On websites for PR](https://media.nngroup.com/media/reports/free/PR_on_Websites_3rd_Edition.pdf):

age, headquarters location, and so on)

[2017-01-24 01:54] coreycaitlin commented on #2227
During pairing today, we talked through 3 options:

1. **Separate pages:** Each `li` in the side navigation is its own separate page with a unique URL, and you navigate between them using the side navigation
2. **Long scroll:** The entire section is one page, and the side navigation allows you to navigate through the headers
3. **Have your cake and eat it too:** The first level of side navigation

[2017-01-24 02:00] coreycaitlin commented on #2159
We drafted a note, and @Dahianna is getting started on this!

[2017-01-24 02:00] #2221 closed

[2017-01-24 16:13] awfrancisco commented on #1893
Looks good. The adapted projects would ideally go on some kind of /open page about transparency and open source code. Also, any comprehensive list of adaptations would be extremely long. I think it's fine to drop for now, and we should remember it as a feature to incorporate into future pages. Doesn't seem like this info has been a big user need.

[2017-01-24 16:16] awfrancisco commented on #2186
Very interesting. Feels like we are on the right track and could address a lot of these with a press subpage. Would be so great if we could provide images for press to use. Especially for infosec stories.

[2017-01-24 16:24] afeld commented on #1893
@awfrancisco I refer (people to it) regularly. Agreed the press page probably isn't the best place, but would like for it to be _somewhere_.

/cc @gbinal @konklone

[2017-01-24 17:10] konklone commented on #1893
Even if it's not a well-trafficked page, it's an important story and reference for our stakeholders. In this case, the user need may primarily be internal, but it's real.

That said, @afeld, @gbinal, do you have an idea of the best person/group to "own" keeping the page up to date?

[2017-01-24 17:28] afeld commented on #1893
I've been updating the `projects adapted by other organizations` (as part of #wg-opensource), and am happy to continue doing so.

[2017-01-24 19:21] kategarklavs commented on #2189
Quick update: Pinged Will Sullivan yesterday with some questions whose answers will help me develop the current draft a bit more; Will said he'd get back to me within 48 hours. In the meantime, I'll work on the C2 description. More news as I have it!

[2017-01-24 21:17] awfrancisco commented on #1893
Thanks for the feedback. This might be better as part of an "our work" page rather than a press page.

[2017-01-24 22:25] kategarklavs commented on #2202
Here's a first draft of the C2 summary:

https://docs.google.com/a/gsa.gov/document/d/1RGFgL2RjQrvyZuTomdtE4fx5DE9Kt6sT-efW4NOrWbg/edit?usp=sharing

Pinging the C2 team now to get more information/a quote from a C2 user.

[2017-01-25 11:02] konklone commented on #1893
@awfrancisco Totally.

[2017-01-25 18:24] coreycaitlin commented on #2226
The problems we're trying to solve on the existing version:

- People aren't clear on what the pages are — they're too easy to confuse with blog posts or general content pages, rather than example projects
- The transition to blog posts is clunky and confusing
- We need more content taxonomy and clearer hierarchy; for instance, it would be nice to set off the sections, i.e. `partner`, `overview` o

[2017-01-25 19:24] austinhernandez commented on #2226
First version to tackle problems listed above:
![project-pagev1](https://cloud.githubusercontent.com/assets/23194720/22305450/9dd40ab8-e309-11e6-91fd-74ad760e1cca.png)

- Added breadcrumbs
- Reusing similar styles to the homepage for the project title
- Some of the content will change!

[2017-01-25 19:35] awfrancisco commented on #2226
Love it. I feel like I didn't know how clunky the current design was until I saw this one. I like the clear sections, the reused style on the blog posts, and that sidebar has all kinds of potential for additional info/transparency (time on project, cost, team size, documentation, etc).

[2017-01-25 19:44] gboone commented on #2226
Totally agree. The layout also looks flexible enough that adding new sections won't necessarily require involving a designer or developer.

[2017-01-25 21:33] coreycaitlin opened #2236 "Improve gdoc-to-markdown conversion process"
When a blog post is completed, approved, and ready to post, it has to be converted into markdown for the site. That process is documented here, but is very bumpy.

Current pain points:

- all links are italicized
- dollar signs don't come out as dollar signs
- lists where an item is greater than 1 line long turn out as blockquotes
- if you use custom styles in a google doc (i.e. orange headings),

[2017-01-25 21:38] awfrancisco commented on #2236
Note that these bugs are produced when we use [pandoc](http://pandoc.org/index.html). Find open pandoc issues [here](https://github.com/jgm/pandoc/issues).

@elainekamlley @gboone got any more bugs to add?

[2017-01-25 21:52] gboone commented on #2236
[Here's a list of all the things I look for — when I remember.](https://github.com/18F/18f.gsa.gov/wiki/Troubleshooting-formatting-with-pandoc)

[2017-01-25 23:05] kategarklavs commented on #2200
Claiming this issue now!

[2017-01-25 23:07] awfrancisco commented on #2200
👍

I'm working on some project slides for the AP pitch deck and recently drafted this. Feel free to use or not, but might help as a starting point.

[2017-01-25 23:10] kategarklavs commented on #2200
@awfrancisco Ah, excellent — thanks for sharing this! I'll definitely incorporate it (and I'll post the Drive link below if you'd like to collaborate on the summary).

Draft link: https://docs.google.com/a/gsa.gov/document/d/18AZlocW7B2rpom7ohP7WTDq-TgMKhx2BBIHLBgS9wBo/edit?usp=sharing

[2017-01-26 01:19] coreycaitlin commented on #2236
Scripts seem like a good option to explore — [this variant](https://github.com/lmmx/gdocs2md-html) looks promising, too.

Do you have any estimates of how long this currently takes for simple blog posts? For more complex posts?

[2017-01-26 15:50] awfrancisco commented on #2228
Initial ideas that @coreycaitlin and I came up with.

- Describe the large problem this product solves and give a brief background on the problem. Do not mention a specific federal agency.
- Explain our approach for solving this problem
- Provide a short example using the first agency we helped
- Briefly explain the next phase/feature for the platform
- If facilitated by the page design, list all

[2017-01-26 17:39] #2198 closed

[2017-01-26 17:42] coreycaitlin commented on #2226
This is looking great! My only hesitation, just cause it's a new pattern, is the gray background under the blog post excerpts — we should double-check the contrast there.

[2017-01-26 17:59] austinhernandez commented on #2226
good point! i copied the styles from the featured project section, but let's try the lightest gray we have in our style guide, or the color from the footer.

[2017-01-26 19:52] awfrancisco commented on #2106
@coreycaitlin Took another pass at this one. Ready for a look from you.

[2017-01-26 21:56] coreycaitlin commented on #2162
We could also use a bit more guidance for figcaptions in general! (Within blog posts)

[2017-01-27 01:48] coreycaitlin commented on #2236
More info! Using Pandoc via `odt` instead of `docx` seems to resolve some of the issues, particularly the weird list formatting.

I suspect that many of these issues are being introduced in the GDocs --> Word part of the process, rather than the Word --> markdown step, so I think we should explore ways to remove the interim step.

[2017-01-27 15:57] gemfarmer commented on #2236
Has this [Google script](https://github.com/mangini/gdocs2md) been tried as an alternative to pandoc? I tried it just now and it seemed to solve some of the issues, but mangled the frontmatter.

Would the `convert to markdown` --> `check email` --> `amend any errors` be an acceptable new workflow, or is that even worse than before?

[2017-01-27 15:58] gemfarmer commented on #2236
Whoops! Should have read this thread before posting. Looks like this option has been/is being explored :(

[2017-01-27 16:06] awfrancisco commented on #2236
@gboone would know more, but I think either we aren't allowed to use Google Scripts, or you have to reinstall them for each document. There's some high burden that makes it kind of a pain.

[2017-01-27 17:07] gemfarmer opened #2240 "Remaining dev tasks"

[2017-01-27 17:11] gemfarmer opened #2241 "oembed"

[2017-01-27 17:12] #2241 closed

[2017-01-27 17:13] gemfarmer commented on #487
@micahtaylor have you looked into the oEmbed jekyll plugin, or is this something I should tinker with?

[2017-01-27 17:29] coreycaitlin commented on #2236
I've submitted the OCIO vetting form for at least one of the Google Scripts, to see if that process can be worked-through. Hopefully if that works, it will give us the ability to use that script again.

[2017-01-27 17:34] gemfarmer opened #2242 "Markup/blog styleguide items"
It would be interesting to turn the styleguide into a list of HTML and/or liquid snippets that can be added to markup to enhance a page. The snippets could include documentation about how to use them and how to do so with accessibility concern in mind.

Running list is as follows:
General:
- [x] typography
- [x] font family
- [x] buttons
- [x] background colors
- [x] project cards
- [ ] form eleme

[2017-01-27 17:45] coreycaitlin commented on #2242
ooh I like this idea

[2017-01-27 17:49] gboone commented on #2236
Yeah, @awfrancisco's description matches my experience — I'd have to reinstall the script every time I wanted to use it. I wasn't aware of this form for getting them approved, but I did open an IT helpdesk issue about it a long time ago that went largely unanswered. Fingers crossed that the form works for us.

[2017-01-27 23:56] kategarklavs commented on #2202
@coreycaitlin & @awfrancisco Having added the testimonial quote at the end, I think this project summary is ready for Outreach review 👍

[2017-01-28 00:08] kategarklavs commented on #2189
Just did a quick review of this summary, and I think it's ready for Outreach review

cc @coreycaitlin & @awfrancisco

[2017-01-28 00:24] kategarklavs commented on #2200
@coreycaitlin & @awfrancisco Just finished the USCIS summary draft — let me know what you think! (It's a smidge longer than some of the other summaries, but it's well under 400 words.)

[2017-01-28 00:25] kategarklavs commented on #2203
Happy to take on this issue!

[2017-01-28 00:27] #2192 closed

[2017-01-28 00:38] coreycaitlin commented on #1893
I think the next actions here (for press resources specifically) are...

- [ ] Write any content we want in the "Press" section of the about page
- [ ] Identify and package any files we want to include on this page
- [ ] Put that stuff on the page

Assigning to @awfrancisco, but I'm happy to help if you want to pair!

We'll split off the Our Work / What we deliver work to #2194

[2017-01-30 17:17] coreycaitlin commented on #2228
I think this is a great starting point, and we'll adjust for each as needed (for instance, e-Regs #2189  needs to mention CFPB in the intro, to give them proper credit).

[2017-01-30 17:17] #2228 closed

[2017-01-30 17:47] coreycaitlin commented on #2242
Started this [here](https://github.com/18F/18f.gsa.gov/tree/master/examples), but the styleguide seems like a much better place for it

[2017-01-30 18:08] gemfarmer commented on #1871
@wslack  @jmhooper @konklone

Does this mean that this is taken care of? 😀
<img width="548" alt="screen shot 2017-01-30 at 10 07 34 am" src="https://cloud.githubusercontent.com/assets/4803473/22435197/0005f296-e6d4-11e6-8ba1-8190f9dc4eb9.png">

https://gsa-tts.slack.com/archives/general-talk/p1485794159004128

[2017-01-30 18:14] jmhooper commented on #1871
@gemfarmer: Almost. We still have to deploy production Federalist and migrate sites.

[2017-01-30 18:17] jmhooper commented on #1871
@gemfarmer: But, unless I'm mistaken, 18f.gsa.gov should be covered by HSTS preloading? Correct @konklone?

[2017-01-30 18:18] gboone commented on #1871
I think we lost that preload when we migrated to Federalist because we could no longer include the header for it.

[2017-01-30 18:19] gemfarmer commented on #1871
According to this we are:

https://hstspreload.org/?domain=18f.gsa.gov

I'm not sure how accurate it is though

[2017-01-30 18:21] jmhooper commented on #1871
@gboone: Preloading would be handled [by the browser / registrar](https://scotthelme.co.uk/hsts-preloading/). I'm pretty sure GSA.gov and all subdomains get are preloaded for HSTS. That's not something that's affected be the presence / absence of HTTP headers.

[2017-01-30 18:21] wslack commented on #1871
We haven't gotten the greenlight to migrate 18f.gsa.gov onto the new infra yet, but there is a working, tested path now.

[2017-01-30 18:26] gboone commented on #1871
@wslack anything I can do to help expedite that, let me know.

[2017-01-30 19:48] coreycaitlin commented on #1908
@rooneywp pointed out that it would be helpful to write a bit more about what we're trying to accomplish on the Join page. Here's my initial take:

- This page should give people the information they need to successfully send in their application to 18F (in conjunction with the PD or job posting, wherever that is)
- This page should also give people enough information about the remainder of the pr

[2017-01-30 19:59] gemfarmer opened #2244 "Certain collections have an empty primary path"
## Expected Behavior

All collections that have subpages should also have a parent. Even if it is only a parent landing page the shows the different subpages

## Actual Behavior

Parent urls are 404s or empty

* [ ] https://18f.gsa.gov/author/
* [x] https://18f.gsa.gov/project/ **_this is now `/what-we-deliver/`_**

cc @coreycaitlin

[2017-01-30 20:22] awfrancisco commented on #1893
I think this section should include a number of images press can use for stories and the 18F and GSA logos. What do you all think is the best way to do that? My two ideas are a list of direct downloads with brief descriptions right on the press page or a link to a folder in the 18f.gsa.gov repo with the files and a README with more info (captions, credits) for each photo. What do you all think?  I

[2017-01-30 20:29] awfrancisco commented on #1908
Those all sound good. Design wise, I think it should be immediately clear whether we have open positions (and what those are) and that any questions should be directed to join18f@gsa.gov.

[2017-01-30 20:53] awfrancisco commented on #2200
I think this is looking really good. Seems like the tagline might be the trickiest part since most of the words about this process are pretty long.

[2017-01-30 21:38] austinhernandez commented on #2162
Something like this for the header:

[code]

<img width="1065" alt="screen shot 2017-01-30 at 3 00 31 pm" src="https://cloud.githubusercontent.com/assets/23194720/22441323/f214cd84-e704-11e6-9e1c-f430740b27ca.png">
<img width="1072" alt="screen shot 2017-01-30 at 2 45 28 pm" src="https://cloud.githubusercontent.com/assets/23194720/22441324/f2160ca8-e704-11e6-86e9-fb5218ddcbd2.png">

---

For the f

[2017-01-30 22:04] awfrancisco commented on #2189
This is looking good. I think it properly gives credit to CFPB while still focusing on our work. I changed instances of `eRegs` to `eRegulations` since this will likely be the canonical source of info about the project and we should probably use the full name.

I know we're keeping these informational, but it still felt like it should end with a call to action to get this platform for yourself. Mo

[2017-01-30 22:10] awfrancisco commented on #2202
Looking good. Left a couple edits.

[2017-01-30 22:12] awfrancisco commented on #2188
Additional source content in this [draft blog post](https://docs.google.com/document/d/15jIVv2WkOy1zuTWOgBACrVCXrmhrQ69PLdIEJXfwSnI/edit#).

[2017-01-31 00:32] coreycaitlin commented on #2200
Agreed! I made some suggestions to shorten and simplify a bit.

[2017-01-31 00:52] coreycaitlin commented on #2226
Fields to go in the sidebar!

- `agency` - "Agency partner"
- `timeframe` - "When" [new]
- `github_repo` - "GitHub repository"
- `product_clients` - "Agency partners" [new; list]
- `project_url` -  "Learn more"

[2017-01-31 01:09] coreycaitlin opened #2245 "Implement About page design and consolidate templates"
The About page should [look like this](https://github.com/18F/18f.gsa.gov/pull/2199#issuecomment-275244366):

![189ca2f0-e31e-11e6-808b-f75bfa8575e9](https://cloud.githubusercontent.com/assets/1450354/22448483/a99cf4c8-e70e-11e6-8d82-49c3edf0ee90.png)

We should also consolidate the `default-image` and `default-intro` templates.

[2017-01-31 01:42] coreycaitlin commented on #2236
@awfrancisco When we talk next, I want to ask some about the overall blog workflow and it there are upstream opportunities to improve this process (like writing in markdown within gdocs) — understanding the whole process will help me understand a bit better what we can/can't change.

[2017-01-31 02:32] konklone commented on #1871
It's accurate for Chrome. Chrome doesn't currently validate the header and remove entries. However, Firefox (whose list is based on Chrome's) does validate headers and removes entries which drop the header. Safari and IE/Edge have different policies, which aren't documented and could change any time.

In any case, 18f.gsa.gov is also preloaded as a special exception -- Chrome usually only preloads

[2017-01-31 15:43] awfrancisco commented on #1908
Are we planning to bring in the team-specific interview content to go under `Interviewing for a specific team?`? Seems like that run into another subpage problem.

[2017-01-31 18:09] gemfarmer commented on #2227
I think this is finished. Is there anything else not covered in this issue that needs taking care of??

[2017-01-31 18:13] coreycaitlin commented on #2236
I'm marking this as blocked until I hear back about the Google Script.

[2017-01-31 18:36] coreycaitlin commented on #1893
I think either could work, and a list of downloads is probably a little easier for some less-technical press folks.

[2017-01-31 18:36] kategarklavs commented on #2200
Howdy! Just accepted the changes to the draft. For the tagline, I like "Humanizing the process of becoming a citizen."

@awfrancisco — do other folks on the outreach team need to review this, as well? Let me know & I'll be happy to share the doc.

[2017-01-31 18:39] gboone commented on #1871
To paraphrase, @konklone, in order to get Firefox and get preloaded the normal way, we'd have to have GSA send `Strict-Transport-Security: max-age=63072000; includeSubDomains; preload`. Correct?

[2017-01-31 18:53] coreycaitlin commented on #2189
I think this is great — I'll start up a branch for moving these all into markdown.

[2017-01-31 18:58] awfrancisco commented on #2200
Nope. Good to go from Outreach.

[2017-01-31 19:10] kategarklavs commented on #2200
Excellent! @coreycaitlin who else needs to review the copy before we can publish? (My guess is a representative group from the former USCIS team -- does that seem right?)

[2017-01-31 19:29] coreycaitlin commented on #2227
Nope! I think anything else is covered in #2245

[2017-01-31 19:29] #2227 closed

[2017-01-31 19:32] kategarklavs commented on #2202
Thanks, @awfrancisco — just accepted those edits!

@coreycaitlin I think this is ready for SME review. Being that Raphy is gone, should we ping Micah Taylor?

[2017-01-31 19:39] coreycaitlin commented on #1891
Handing this off to @austinhernandez for thinking through...

- Should this be on its own page or part of a "Contact" page?
- What should it look like?

[2017-01-31 19:45] kategarklavs commented on #2189
Sent Jessie the draft for review.

[2017-01-31 21:03] austinhernandez commented on #2226
@gemfarmer here's the sketch file!
[projectpage.zip](https://github.com/18F/18f.gsa.gov/files/743168/projectpage.zip)

[2017-01-31 21:47] coreycaitlin commented on #1908
Team-specific interview guidance:

- I recommend that we don't try to maintain this content as part of the main joining 18F content, but send it to applicants when relevant OR include it in the content for a specific opening.

Question:

- Do people still choose their GS level before applying?
- Is there accurate information in the GS-level table that you can't find elsewhere?

Todo:

- Add title

[2017-01-31 21:54] coreycaitlin commented on #2186
Next step:

- Add a few more blog posts to the "who we are" / "our team" section of the page
- Add icons to the principles list
- Press section

[2017-01-31 22:04] coreycaitlin commented on #2106
Next step: move to Markdown, and check with Kaitlin

[2017-01-31 23:04] kategarklavs commented on #2203
Here's where the draft lives: https://docs.google.com/a/gsa.gov/document/d/1h2da_UEFL2VZFW8UzCXnLlmZ7CS9Z4J1YugSIiPWsDc/edit?usp=sharing

(Note: Right now, the draft is more notes than draft — just pinged Kara to get more details about designs we created for the New 10. Hoping to flesh out this draft more tomorrow!)

[2017-02-01 16:25] awfrancisco opened #2248 "Content: Project intro for Ready-2-Serve"
We need content for the project-tag landing page about this project.

## This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [ ] Content is reviewed by Tom Black

[2017-02-01 16:26] rooneywp commented on #1908
**re: Team-specific interview guidance**
I agree with having the interview information sent to the candidate once they are actually going to interview. The Qualification information is what's relevant at the time of applicant and it will be included on every posting.

**Do people still choose their GS level before applying?
Is there accurate information in the GS-level table that you can't find el

[2017-02-01 16:26] awfrancisco commented on #2248
Source content:

[2017-02-01 17:37] awfrancisco opened #2249 "Content: Project intro for Military OneSource"
We need content for the project-tag landing page about this project. Background can be found [here](https://docs.google.com/document/d/1Y-5tcMjmiYlQ6k53UAVwj_SUsnMZV4IGSRbrYfn-unQ/edit?ts=582dbee2#) under Office of the Secretary of Defense.

## This is issue is done when:

- Content is drafted
- Content is reviewed and revised with outreach team
- Content is reviewed by Dave Z

[2017-02-01 17:42] awfrancisco opened #2250 "Content: Project intro for the Agile BPA"
We need content for the project-tag landing page about this project.

## This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [x] Content is reviewed by Zac Cohn and Alla

[2017-02-01 17:43] awfrancisco commented on #2250
Background info [here](https://docs.google.com/document/d/1Y-5tcMjmiYlQ6k53UAVwj_SUsnMZV4IGSRbrYfn-unQ/edit?ts=582dbee2#)

[2017-02-01 22:33] awfrancisco commented on #2201
Working on a draft [here](https://docs.google.com/document/d/1defN9nirjDx3hYZHbRs-ap4GX_6d3dReDUTLrqhxrv4/edit)

[2017-02-01 22:36] kategarklavs commented on #2202
Update: Sent the draft to @yowill for fact-checking & approval!

[2017-02-01 22:37] kategarklavs commented on #2203
Update: Sent Kara a list of questions yesterday — once I get answers, I'll flesh out the current draft (which is a little sparse on details).

[2017-02-01 22:40] kategarklavs commented on #2202
Update to the update: Going to send the copy to Micah T. for fact checking/approval.

[2017-02-01 22:46] kategarklavs commented on #2204
OK! While I wait to hear back about the New Ten, I'll get started on this intro 👍

[2017-02-01 22:52] konklone commented on #1871
Yes, `gsa.gov` would need to send that header (the `max-age` can be anything above 1 years' worth of seconds) to be preloaded the normal way.

Also, Firefox might pick us back up if we start sending the header again, since we're still in Chrome's list.

[2017-02-01 22:55] kategarklavs commented on #2202
OK! Micah Taylor reviewed this intro and gave it the thumbs up — I think this is set for publication!

[2017-02-01 23:15] kategarklavs commented on #2204
And I've got a notes doc going here:

https://docs.google.com/document/d/1nOrbIfEiLXn-4CHVYuOT7FmTOF9CRap2fgHx1u6Tx6A/edit

[2017-02-02 12:45] acolter commented on #2248
Draft will go here: https://docs.google.com/document/d/10NHCmVuZQAReVEXnYOkaLo9_XwLt0Q9L9UujTjuTsAQ/edit

[2017-02-02 16:59] austinhernandez commented on #2226
I found this page on the [ellen macarthur foundation site]( https://www.ellenmacarthurfoundation.org/case-studies/france-collaborative-textiles-recycling-initiative) with a similar "meta content chunk" section. their headers are
[code]

[2017-02-02 17:58] austinhernandez commented on #1891
![contact_newsletter](https://cloud.githubusercontent.com/assets/23194720/22561069/c2b81af4-e944-11e6-8ed8-2c87c3d76169.png)

![contact_approved](https://cloud.githubusercontent.com/assets/23194720/22561067/c06de170-e944-11e6-9301-821941ff0af3.png)

I had a little extra time to think through the "hire 18F" (maybe known in the future as the contact page) and newsletter sign up process and if there

[2017-02-03 00:06] kategarklavs commented on #2204
@coreycaitlin and @awfrancisco Okey doke! I have the initial draft done and ready for your review. It's a bit more marketing-y than some of the other summaries (and if that's a problem, I can tone down the features section). Once you all + the Outreach team approve the draft, I'll send it over to Will for his review and approval.

[2017-02-03 17:55] awfrancisco commented on #1891
Given our current content, I like this layout more than the about page one. At least as an MVP until we decide what to do with the partnership playbook.

We should probably update the newsletter description too.

[2017-02-03 18:04] acolter commented on #2248
Draft ready for review: https://docs.google.com/document/d/10NHCmVuZQAReVEXnYOkaLo9_XwLt0Q9L9UujTjuTsAQ/edit

[2017-02-03 18:54] gemfarmer opened #2254 "Design/dev: Mobile stickies"
## Expected Behavior
When we have "sticky" elements, they should be static or reduce in size when they are stuck

## Actual Behavior
Sticky navs on `/join/`, `/about/`, and `/project/**/` are fine in desktop sizes, but are overly large in mobile

## Steps to reproduce the behavior
- [ ] Design
- [ ] Impliment

## This is issue is done when:
- [ ] The stickies look spectacular

[2017-02-03 19:05] austinhernandez commented on #2254
looks good to me! good work @gemfarmer !

the only thing thats missing is some content! I'm looking specifically at the meta content chunk, the  `APPROACH` sub-title and the `We work with federal agencies to approach technology projects in new ways` text for "get in touch"

[2017-02-03 19:55] awfrancisco commented on #2204
I think this is good. It does feel more like marketing, but that seems right for platforms. The other option would be case studies on how each agency used it, but that feels more like a blog post.

[2017-02-03 20:25] awfrancisco commented on #2248
Made some edits to include more plain language, but I think this one is almost ready to ship.

[2017-02-03 22:20] kategarklavs commented on #2204
Ah, OK — I'm glad to hear you're on board with the more marketing-y tone.

[2017-02-04 00:59] coreycaitlin commented on #2200
I think we can close this out with #2258 🎉

[2017-02-04 00:59] #2200 closed

[2017-02-05 22:22] chuckhoupt opened #2260 "old 18F blog feed URL not redirected"
The old feed URL attempts to redirect to the new feed using an HTML meta-refresh (see [feed.md](https://github.com/18F/18f.gsa.gov/blob/master/pages/feed.md)), rather then redirecting to the new URL with an HTTP 301.

Many Feed readers (Safari, NetNewsWire, etc) won't follow a meta-refresh. Only by chance did I notice I hadn't been seeing any 18F posts for the last 6 months! From searching around,

[2017-02-06 17:41] kategarklavs commented on #2202
@coreycaitlin Howdy! Is it safe for me to close this issue, or should I wait until the summary is up on the site?

[2017-02-06 17:42] kategarklavs commented on #2189
@jehlers reviewed this content with us on 2/3, and we made updates per her recommendations.

[2017-02-06 17:42] kategarklavs commented on #2189
@coreycaitlin Hey! Am I safe to close this one, or do you feel like the content needs one more review?

[2017-02-06 17:50] kategarklavs commented on #2204
Update: Being that @awfrancisco has approved the draft, I shared it with @wslack for his review/approval. Once Will signs off, we should be set to publish(!)

[2017-02-06 17:51] kategarklavs commented on #2203
Update: On Friday, Kara said she'd be happy to answer the questions I sent over — once I get her responses, I'll be able to flesh out the outline I have in the draft doc.

[2017-02-06 18:03] coreycaitlin commented on #2189
Let's close it out!

[2017-02-06 18:03] #2189 closed

[2017-02-06 18:05] coreycaitlin commented on #2202
Still needs to move to markdown, then we can close!

[2017-02-06 18:11] kategarklavs commented on #2202
Ah, word! Thanks for the reminder, @coreycaitlin

[2017-02-06 18:13] coreycaitlin commented on #2068
James and Britta have been the content designers on this project.

[2017-02-06 18:16] awfrancisco commented on #2250
[AP slicksheet on Agile BPA](https://docs.google.com/document/d/1_vwAOSO5eETiyXfP0GdpA8n06nXXOgn4wuTd81jWV80/edit)

[2017-02-06 18:17] kategarklavs commented on #2204
Okey doke — Will just reviewed this intro and made a few edits (all of which I've accepted). This intro is ready to go 🎉

[2017-02-06 18:55] coreycaitlin opened #2261 "Mobile footer cleanup"
The footer looks funky on mobile, like so:

![screen shot 2017-02-06 at 10 55 00 am](https://cloud.githubusercontent.com/assets/1450354/22661586/b6ea1e5c-ec5a-11e6-9781-0684207f4005.png)

[2017-02-06 20:55] acolter commented on #2248
I incorporated the edits. Take another look, then assign to Tom Black if he needs to review it.

[2017-02-06 22:01] awfrancisco commented on #2248
@blacktm Can you give the doc linked above a quick look? It's a short intro to the Ready-2-Serve project.

[2017-02-06 22:06] coreycaitlin commented on #2106
Kaitlin says 👍

[2017-02-06 22:06] #2106 closed

[2017-02-06 22:46] awfrancisco commented on #2201
@coreycaitlin This is ready for review

[2017-02-07 15:44] acolter commented on #2250
Draft will go here: https://docs.google.com/document/d/130Iwni79C4a7-b30W940l-jw_hz55V8C3JJZGG_QogE/edit

[2017-02-07 15:48] acolter commented on #2068
Draft goes here: https://docs.google.com/document/d/1nnQhBCgYwErg0EJh99hKqgjjdNvDnm__XB3GgwsCkfI/edit

[2017-02-07 18:18] coreycaitlin commented on #2248
We can also move this into Markdown!

[2017-02-07 18:19] coreycaitlin commented on #2159
We have 3 interviews scheduled! 🌮

[2017-02-07 18:19] #2159 closed

[2017-02-07 19:06] coreycaitlin commented on #2201
@awfrancisco Reviewed and suggested edits! I really like how you dealt with the narrative, even though it didn't quite fit into our other-agency or product-story frameworks. It's super clear and easy to understand.

[2017-02-07 19:28] coreycaitlin commented on #2250
This is great @acolter — I left a couple of notes/questions. This one, again, doesn't quite fit into the single-agency framework OR the product framework, and the sheer number of concepts users have to grok to understand the Agile BPA is a little staggering. Happy to talk more if it would help!

[2017-02-07 21:17] blacktm commented on #2248
I'm going to review a make a few comments tonight.

[2017-02-07 22:01] acolter commented on #2188
Draft is ready for @coreycaitlin and @awfrancisco to review: https://docs.google.com/document/d/1klkLPWft1DBBjiY9UavUyASGNgG2EPisWatFFddPcM8/edit

[2017-02-07 22:03] acolter commented on #2250
@coreycaitlin Happy to talk further. I gave this draft another shot; take a look and let me know if this is any closer to what you had in mind. https://docs.google.com/document/d/130Iwni79C4a7-b30W940l-jw_hz55V8C3JJZGG_QogE/edit

[2017-02-07 22:35] awfrancisco commented on #2201
Thanks! Edits accepted.

@abrouilette Can you give [this doc](https://docs.google.com/document/d/1defN9nirjDx3hYZHbRs-ap4GX_6d3dReDUTLrqhxrv4/edit) a quick look for accuracy? This is the project intro page that will go up on 18f.gsa.gov and link to all the CALC blog posts.

[2017-02-08 00:55] #2162 closed

[2017-02-08 00:55] #2254 closed

[2017-02-08 00:55] #2226 closed

[2017-02-08 15:33] awfrancisco commented on #1893
All the press content for this round is up on dev. @coreycaitlin we good to close?

[2017-02-08 15:40] awfrancisco commented on #2249
So, this is a project that we'd like to highlight for a number of business development reasons, but we've never written a blog post about it. What do people think about project pages that have zero blog posts attached to them?

[2017-02-08 15:47] awfrancisco opened #2269 "Content: Project intro for micro-purchase marketplace"
We need content for the project-tag landing page about this project.

## This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [x] Content is reviewed by Michael Torres

## Source content
[Blog posts](https://18f.gsa.gov/tags/micro-purchase-platforms/)
[Talking points](https://docs.google.com/document/d/1Y-5tcMjmiYlQ6k53UAVwj_SUsnMZV4IGSRb

[2017-02-08 19:16] coreycaitlin commented on #2186
#2268 should finish this one up, at least for now!

[2017-02-08 20:36] coreycaitlin commented on #2127
Now that we settled on long-scroll pages, I wonder if we could make the side-nav on those pages work more like [USEITI subnav](https://github.com/18F/doi-extractives-data/blob/dev/_layouts/state-page.html), where we handle the items in the frontmatter, rather than a separate file?

[2017-02-08 20:37] #2245 closed

[2017-02-08 20:38] gemfarmer commented on #2186
#2268 is closed, so I'm moving this to `Done`

[2017-02-08 20:38] #2186 closed

[2017-02-08 20:40] gemfarmer commented on #2185
This is closed as of #2265 !

[2017-02-08 20:40] #2185 closed

[2017-02-08 20:50] acolter commented on #2248
There are some photos from the Navy Reserve workshop at https://drive.google.com/drive/u/1/folders/0Bz4vHpO5ki26Ukt0NUl2LVdTYVk and https://drive.google.com/drive/u/1/folders/0B1ebyFpRd3jVfm5PbEIzN18yMkpTMXo3S2xEVDVMcWhJUFJYOERRU0hfdUJPTjE3MWVLYnM that could be used for this project intro.

[2017-02-08 21:08] coreycaitlin commented on #2248
@blacktm: Here's a [preview link to see the content in-template](https://federalist.18f.gov/preview/18F/18f.gsa.gov/dev/project/navy-ready-2-serve/)

[2017-02-08 21:10] #1893 closed

[2017-02-08 21:19] acolter commented on #2068
The cloud.gov folks have put together a list of customers here: https://docs.google.com/document/d/1PEzMhZIndUIt2GibPYgya2WG3GWV2SjjAh33XmUsE0U/edit Need their permission before including them in the project intro page.

[2017-02-08 21:23] gemfarmer commented on #2194
To do list:
---
Card area
- [ ] Either make images required or create alternative card that looks good without an image
  - [ ] Add missing images
- [ ] Make project `title` show up on cards
- [ ] Determine how they should be filterable (if they need to be filtered at all)
- [ ] Add margin between rows of cards
- [ ] Use flexbox to make cards a consistent height

Agency partner area
- [ ] Fix list

[2017-02-08 21:27] acolter commented on #2250
Here's the content in template: https://federalist.18f.gov/preview/18F/18f.gsa.gov/dev/project/agile-bpa/

[2017-02-08 21:29] coreycaitlin commented on #1891
I think this is all set from a design perspective — let's pick it up next sprint for implementation.

[2017-02-08 21:44] coreycaitlin commented on #2249
@awfrancisco I think it's fine (not ideal, but okay!) — we just need to make sure the page template handles it well

[2017-02-08 22:43] coreycaitlin opened #2274 "Refine About page template"
This is a catch-all issue for minor cleanup and layout bugs on the About page.

- [x] add call-to-action at the bottom
- [ ] add top link to side nav

[2017-02-08 22:46] coreycaitlin opened #2275 "Refine and finalize project page template"
- [x] make sure all the headers are consistent
- [x] check to see if the template works well if there are no blog posts associated with the project
- [x] refine "Learn more" CTA and microcopy elements in the right-hand column

[2017-02-09 00:20] gemfarmer opened #2276 "TrepidatiousTentRock: Tie up loose ends"
In this sprint we have:
- added a new About page
- added the join pages
- added a new project page layout with new attributes

Loose ends to tie up
- [x] #2275 About pages
- [x] #2274 Project pages
- [x] update information architecture for project pages? (alternatively wait til we have a better project landing page)
- [x] being on a project page should make the `what we deliver` nav item active  *

[2017-02-09 15:39] gboone commented on #2204
Looks like a few cloud.gov-related edits remaining from Britta then this is ready.

[2017-02-09 15:53] awfrancisco commented on #2068
Left my edits. Added in a bit on the FedRAMP Authorization because I think it's important to include, but open to the idea of moving that bit or rewording it.

[2017-02-09 15:58] awfrancisco commented on #2188
Good to go from me.

[2017-02-09 16:00] awfrancisco commented on #2194
+1 to no filtering and no buckets at this moment.

[2017-02-09 17:15] acolter commented on #2250
@mtorres253 would you have time to review this project intro for the Agile BPA to go on the 18F web site? https://docs.google.com/document/d/130Iwni79C4a7-b30W940l-jw_hz55V8C3JJZGG_QogE/edit

[2017-02-09 17:47] coreycaitlin commented on #2275
@austinhernandez If we wanted to put a blockquote in the right-hand column, how should it look?

[2017-02-09 17:49] gemfarmer commented on #2274
#2277 addresses the call-to-action banner

[2017-02-09 17:59] awfrancisco commented on #2250
I know I wrote the initial comment that mentioned Michael, but he might not be the right person to review this. Maybe @allalala (or someone she designates)?

[2017-02-09 18:01] allalala commented on #2250
I requested access to the doc. Also will designate someone to look at this imminently.

[2017-02-09 18:03] zacharycohn commented on #2250
I'll be doing this. Can I get access to the doc?

[2017-02-09 18:06] acolter commented on #2250
@zacharycohn Just granted you access to the doc on Google Drive.

[2017-02-09 18:19] zacharycohn commented on #2250
Edits have been completed in suggest mode.

[2017-02-09 22:31] coreycaitlin opened #2283 "Project pages: Final go-ahead and reviews"
- [x] [CALC](https://federalist.18f.gov/preview/18F/18f.gsa.gov/dev/what-we-deliver/calc/) - #2201
- [x] [Ready-2-Serve](https://federalist.18f.gov/preview/18F/18f.gsa.gov/dev/what-we-deliver/navy-ready-2-serve/) - #2248
- [x] [C2](https://federalist.18f.gov/preview/18F/18f.gsa.gov/dev/what-we-deliver/c2/) - #2202
- [x] [Agile BPA](https://federalist.18f.gov/preview/18F/18f.gsa.gov/dev/what-we-del

[2017-02-09 23:13] coreycaitlin commented on #2204
I'm going to run this by Britta or Will one more time and note the result in #2283

[2017-02-09 23:13] #2204 closed

[2017-02-09 23:13] coreycaitlin commented on #2248
Moving the final approval check to #2283

[2017-02-09 23:13] #2248 closed

[2017-02-09 23:16] coreycaitlin commented on #2201
Moving the final approval check to #2283

[2017-02-09 23:16] #2201 closed

[2017-02-09 23:17] coreycaitlin commented on #2250
Yay! Noting final-ish review in #2283

[2017-02-09 23:17] #2250 closed

[2017-02-09 23:17] coreycaitlin commented on #2202
Last check tracked in #2283

[2017-02-09 23:17] #2202 closed

[2017-02-09 23:26] wslack commented on #2204
@coreycaitlin we have a new customer (and independent agency of the executive branch) - Not sure I want to list more specifically until the site is live

[2017-02-09 23:30] coreycaitlin commented on #2188
Looks good — just a few edits and one style question.

[2017-02-10 01:18] coreycaitlin commented on #1908
Next steps:

- [ ] revisit GS table info and make a decision
- [ ] refine left nav
- [ ] stub out `open-positions` folder and template for each role
- [ ] document intended process for adding roles to the section

[2017-02-10 02:44] abrouilette commented on #2201
Okay to share that final review with the team, @awfrancisco, @coreycaitlin ?

[2017-02-10 18:17] awfrancisco commented on #2201
@abrouilette the CALC team? Sure. Here's an easy link for reviewing https://federalist.18f.gov/preview/18F/18f.gsa.gov/dev/project/calc/. And then you can check the box in #2283 when you all have reviewed.

[2017-02-10 21:41] gemfarmer commented on #2260
@chuckhoupt thanks for contributing! I'm going to look into enabling a 301 at that url.

[2017-02-10 21:47] gemfarmer commented on #2260
Posed question in [#federalist-support](https://gsa-tts.slack.com/archives/federalist-support/p1486763078000076)

[2017-02-10 22:35] awfrancisco commented on #2283
@coreycaitlin My notes going through the pages are below. Couldn't figure out the eRegs and USCIS links, but can update if you have them handy. Also, does it matter that at this stage the pages have different URL structures (/what-we-deliver vs /project)? Or will that be solved on merge?

CALC

- add link to github https://github.com/18F/calc

Ready-2-Serve

- add link to github https://github.com

[2017-02-10 23:38] coreycaitlin opened #2290 "Add "go to top link" to sidenav"
We should add a link to the header on the sidenav so people can jump back to the top of whatever page they're on. This'll take a little thinking re: how it should work in mobile.

[2017-02-10 23:38] #2274 closed

[2017-02-10 23:39] coreycaitlin commented on #2274
Moving the last element here to #2290

[2017-02-10 23:40] #2275 closed

[2017-02-10 23:41] coreycaitlin commented on #2276
- [ ] take down the /press page and redirect to the new press section

[2017-02-10 23:51] coreycaitlin commented on #2276
I don't think we need to sort out ALL the IA for project pages, since that'll be coming in #2194, but we should change a few of the hyperlinks on the current What we deliver page in the meantime.

[2017-02-11 00:02] coreycaitlin commented on #2283
Notes:

- Removing quotes without attribution, because I agree

Next sprint / further discussion:

- GH repo name link text?
- link to acqstack email list?
- improved "learn more" handling

Formerly broken links:

- [eRegs](https://federalist.18f.gov/preview/18F/18f.gsa.gov/dev/what-we-deliver/eregulations/)
- [myUSCIS](https://federalist.18f.gov/preview/18F/18f.gsa.gov/dev/what-we-deliver/dhs-myu

[2017-02-11 00:21] coreycaitlin commented on #2154
Initial sorting of some of the projects we have:

Improve public-facing services:
- myUSCIS
- FEC (also internal systems?)

Implement new laws or mandates
- Every Kid in a Park (also public-facing services?)
- DATA Act

Digitize/streamline internal systems
- CALC
- C2
- Ready-2-Serve
- HHS State and Local

Things that could be part of solving many kinds of problems:
- Agile BPA
- Federalist
- eReg

[2017-02-11 01:15] gemfarmer commented on #2260
We will need to add something like the following to [nginx.conf](https://github.com/18F/federalist-redirects/blob/master/nginx.conf)

[code]

[2017-02-12 19:32] chuckhoupt commented on #2260
I think it should be a permanent redirect (301) to encourage in-coming linkers to update:
[code]
You might also consider using include files so that the rewrites can be defined in the 18f.gsa.gov repository, rather then elsewhere. Ideally, as a site evolves through multiple re-designs, all accumulated redirects should continue to function -- this is easier to maintain if the redirects are part of

[2017-02-13 04:22] blacktm commented on #2248
Left a couple comments [on the draft doc](https://docs.google.com/document/d/10NHCmVuZQAReVEXnYOkaLo9_XwLt0Q9L9UujTjuTsAQ/edit). Looks great! Also, if you're looking for an image, they made [this cool header](https://drive.google.com/file/d/0B1ebyFpRd3jVZ0ZEOFplS0FObU0/view).

[2017-02-13 14:42] acolter commented on #2283
Regarding images for Ready-2-Serve, Tom suggested https://drive.google.com/file/d/0B1ebyFpRd3jVZ0ZEOFplS0FObU0/view if you would prefer to use that, @austinhernandez

[2017-02-13 15:18] awfrancisco commented on #2283
eRegs and myUSCIS look good from me.

[2017-02-13 15:20] awfrancisco commented on #2154
I think EKIP and FEC are in the right categories there. I'd put Agile BPA and Federalist in internal systems and eRegs in public-facing.

[2017-02-13 17:58] coreycaitlin opened #2292 "Synthesize research for Sprint-EspecialEsker"

[2017-02-13 18:17] coreycaitlin opened #2293 "Research: Write a plan for the next round of research"

[2017-02-13 18:25] acolter commented on #2293
@coreycaitlin Mind throwing a link to the last research plan in here?

[2017-02-14 01:14] coreycaitlin commented on #2204
Great — we can always file an issue (or just a PR) to add agencies to the list when we're ready.

[2017-02-14 15:20] acolter commented on #2249
Here's a draft of the project intro: https://docs.google.com/document/d/1d8SoFPq92D48kI6lO9qrClCguAw6_FFlT3Ox9pZWt30/edit

[2017-02-14 15:58] awfrancisco commented on #2249
Couple small edits from me, but this is looking great.

[2017-02-14 18:14] #2276 closed

[2017-02-14 18:22] wslack commented on #2260
@chuckhoupt how do we put the config in the repo if the config is living in CloudFront? As I read them, those asks seem opposed, since the CloudFront config can't be managed from the repo.

I'm trying to understand the best/simplest implementation. Thank you!

[2017-02-14 19:09] kategarklavs commented on #2203
@coreycaitlin and @awfrancisco Okey doke — just finished the draft of this. It's ready for your review!

[2017-02-14 22:24] coreycaitlin commented on #1908
@kategarklavs: see also...

- https://pages.18f.gov/joining-18f/leave-policies/
- https://github.com/18F/18f.gsa.gov/blob/dev/_join/index.md
- https://github.com/18F/joining-18f/issues

[2017-02-14 22:44] gemfarmer commented on #2127
@coreycaitlin I checked it out and you can add 1-level-deep subnavigation in layouts that support the subnav. You can copy the code from `_data/navigation.yml` for a piece of subnavigation like so, `nav_items` being the hook:

[code]

I'll add this to a sample page and/or the docs

[2017-02-14 22:47] gemfarmer commented on #2127
Also, it is worth noting that the in-document nav_items will override general navigation specified in `navigation.yml`

[2017-02-15 00:42] chuckhoupt commented on #2260
@wslack My apologies, I don't fully understand 18F's hosting setup, so my suggestions are just "shots in the dark".  I'm not certain where 18f.gsa.gov's CloudFront Origin-Server lives: S3 or the [Federalist-Redirects](https://github.com/18F/federalist-redirects) VM running Nginx, or elsewhere. Setting up the redirect will depend on the hosting -- maybe a manual S3 change, or maybe a Nginx config c

[2017-02-15 00:46] wslack commented on #2260
@chuckhoupt Sorry about that - that's totally fair. The origin is sitting in S3, so I'm trying to figure out if there's a way to make that work where Jekyll drops a 301 redirect there.

[2017-02-15 17:28] coreycaitlin commented on #2236
First hypothesis about what "better" looks like:

- NOT having to fix list styling (pandoc via ODT might help)
- copy/paste frontmatter instead of editing linebreaks
- better keyboard shortcuts to help speed things up — documented

----

Things we are unlikely to fix:

- images
- special characters? (check odt option)
- code snippets (ask people to put them in GitHub gists so we can copy/paste dir

[2017-02-15 18:53] #2283 closed

[2017-02-15 18:56] gemfarmer commented on #1871
@wslack @jmhooper is this issue solved with the new GovCloud migration?

[2017-02-15 18:56] gemfarmer commented on #1872
@wslack @jmhooper is this issue solved with the new GovCloud migration?

cc @coreycaitlin @gboone

[2017-02-15 19:12] jmhooper commented on #1871
@gemfarmer: Yep :+1:

[2017-02-15 19:19] jmhooper commented on #1872
Just checked and it looks like it is resolved.

[code]

[2017-02-15 19:36] gemfarmer commented on #1872
Thanks @jmhooper! Closing!

[2017-02-15 19:36] #1872 closed

[2017-02-15 19:37] gemfarmer commented on #1871
Thanks again!

[2017-02-15 19:37] #1871 closed

[2017-02-15 20:04] coreycaitlin commented on #2293
Here's our last research plan: https://github.com/18F/18f.gsa.gov/blob/research/research/5-sprint-especialesker/especialesker-research-plan.md

And our last script: https://github.com/18F/18f.gsa.gov/blob/research/research/5-sprint-especialesker/especialesker-script.md

[2017-02-15 20:18] coreycaitlin opened #2299 "Create general research guidance"

[2017-02-15 20:48] coreycaitlin opened #2300 "Add method cards links to right column of project pages"
fill in more about this idea here

[2017-02-15 21:25] waldoj opened #2301 "Images require additional compression"
A quick review of images used on the home page reveal that some are far too large. (I noticed this while waiting for the home page to load.) Compress them down to a more reasonable size, without sacrificing quality.

[2017-02-15 21:31] gemfarmer commented on #2301
Thanks @waldoj! This has been bugging me for a bit, too.

xpost https://github.com/18F/18f.gsa.gov/issues/2223

[2017-02-15 23:43] kategarklavs commented on #1908
@coreycaitlin On the topic of the GS-level table: I reviewed it this afternoon and think it's a bit lengthy to include here. My thoughts are that we could either (1) link out to this table in each PD; or (2) include, at the end of each PD, a summary of what differentiates one level from the next. Thoughts?

[2017-02-16 01:58] coreycaitlin commented on #2188
this has my 👍 — let's get it into markdown and approved next. @elainekamlley, do you want to help with getting this into markdown? That might be a good way to see if the template is clear (it's in the examples folder).

[2017-02-16 15:23] acolter commented on #2068
Rewrote the cloud.gov project intro based on feedback from Britta. Once this team has reviewed the rewrite, the clould.gov team should have a chance to review it again.

[2017-02-16 15:32] waldoj opened #2307 "Blog entry heroes require additional compression"
Many blog entries' heroes have file sizes that are just too big—many hundreds of kilobytes, when they could be closer to 50–200kb. Reduce these in size, without unduly sacrificing quality.

[2017-02-16 15:38] acolter commented on #2249
It looks like Tom Black worked on this project too, so I've reached out to him with a request to review it.

[2017-02-16 18:52] coreycaitlin commented on #2307
@waldoj What's your standard process here? It would be great to document a recommended process, such as:

- figure how the largest the image will need to be
- make the image that size in preview/sketch/pixelmater/photoshop
- export as jpg
- drop into imageOptim
- put file in appropriate folder and add to post

Are there specific filetypes or tools you use to sqeeze every last drop of cruft out?

[2017-02-16 19:48] waldoj commented on #2307
(I opened this issue solely so that I could tie my pull request to it, as a best practice. Which I did, but it's not showing up here? ... D'oh! I left a space in there (`# 2308`). OK, I just fixed it!)

[2017-02-16 19:58] waldoj commented on #2307
But, after posting an issue that just looked like I was trolling the 18f.gov team, I might as well answer your question. :)

24 years as a website developer has given me a second sense for how big an image should be. So it helps that I start with that target in mind, but that's not something that's really teachable.

I start by making the image the correct dimensions in whatever program.

Then I e

[2017-02-16 21:50] acolter commented on #2188
Got the thumbs up from Rebecca for this project intro. Mark down to your heart's content.

[2017-02-16 21:59] coreycaitlin commented on #2307
I didn't take it as trolling at all! Just wanted to rope you into helping write the documentation for future image-fixers and image-posters. Thank you so much for doing this. 💟

[2017-02-16 22:04] #2301 closed

[2017-02-16 22:07] gemfarmer commented on #2223
Closed with #2302. More work to follow in #2307

[2017-02-16 22:07] #2223 closed

[2017-02-16 23:13] gemfarmer opened #2315 "What we deliver placeholder images"
## Expected Behavior
If a project does not have an image, it should be given a placeholder image or icon

## Actual Behavior
Project cards display a lively, but completely gray, background

## This is issue is done when:
- [ ] The project cards at `/what-we-deliver/` are better to look at!

[2017-02-17 00:09] coreycaitlin commented on #2068
This is great! Thank you so much for working through this one.

[2017-02-17 00:20] kategarklavs commented on #1908
@coreycaitlin OK! I created PRs for everything that needed to move to the handbook. There are a few items I was unsure about (noted in the Google doc we've been working in) — perhaps we can discuss these more and I can move this info over, if necessary.

[2017-02-17 02:11] coreycaitlin commented on #2161
Current project tags include:

- agile bpa
- analytics.usa.gov
- c2
- calc
- cloud.gov
- code.gov
- college scorecard
- data act
- department of commerce
- department of labor
- digital acquisition accelerator
- discovery.gsa.gov
- environmental protection agency
- eregulations
- every kid in a park
- fbopen
- fec.gov --> federal election commission
- federal front door
- federalist
- foia
- healt

[2017-02-17 02:13] coreycaitlin commented on #2124
I'm going to close this issue out — we've made significant strides toward creating these paths / improving nav, and will keep measuring in user research.

[2017-02-17 02:13] #2124 closed

[2017-02-17 02:16] coreycaitlin commented on #2244
Let's make `/author` be a list of blog authors, much like the `/tags` page.

And `/project` is no longer an issue, right? 😁

[2017-02-17 14:42] waldoj opened #2316 "April Fools Day page has minor textual errors"
[The April Fools Day page](https://18f.gsa.gov/april-fools/) has a typo on it, and is otherwise inconsistent with house style.

[2017-02-17 16:27] awfrancisco commented on #2316
Closed by #2317

[2017-02-17 16:27] #2316 closed

[2017-02-17 17:43] awfrancisco commented on #2300
Like all the methods we used in a given project?

[2017-02-17 19:00] blacktm commented on #2249
Just reviewed, looks good! Only comment I made was about making sure we can publicly share costs savings compared to the Independent Government Cost Estimate (IGCE), which Dave Z could give a 👍 / 👎  on.

[2017-02-17 19:23] acolter commented on #2068
Alright, I admit my rewrite of this project intro was a steaming pile of poo. Probably because at a basic level I don't really understand what cloud.gov is or how to explain it in plain English to a lay audience. Anyway, I gave it another go. @coreycaitlin let me know if it's any better now.

[2017-02-17 20:28] awfrancisco commented on #2068
This looks great! I didn't detect anything steaming.

[2017-02-21 21:46] gemfarmer commented on #2127
Closes with #2314

[2017-02-21 21:51] gemfarmer commented on #487
Some potential resources:
- [Jekyll plugin ruby code](https://gist.github.com/vanto/1455726)
- [`jekyll-oembed` gem](https://github.com/stereobooster/jekyll_oembed)

On first glance, it looks like `jekyll-oembed` isn't executed quite as well as the ruby plugin code. We could use either, but a contribution could be to create a `jekyll-18f-oembed` gem that creates a gem from the plugin.

[2017-02-22 21:03] gemfarmer commented on #487
Look what I made!

https://github.com/18F/jekyll-oembed

[2017-02-22 23:24] kategarklavs commented on #2203
@coreycaitlin and @awfrancisco — thank you both for your awesome feedback! Just implemented nearly all of the proposed changes. The only outstanding comments are 1) a note to get more info from @elainekamlley on the desired impact of the project; and 2) a discussion re: _familiarized themselves with_ vs. _got to know_ (and I'm OK with either of these options — just wanted to clarify why I initiall

[2017-02-23 17:35] #2127 closed

[2017-02-23 17:39] #1891 closed

[2017-02-23 23:49] coreycaitlin commented on #2293
This is (wonderfully) done and has found a home in the research branch: https://github.com/18F/18f.gsa.gov/blob/research/research/research-plan-template.md

Thanks @acolter 🎉

[2017-02-23 23:49] #2293 closed

[2017-02-24 00:03] coreycaitlin commented on #2194
Remaining chunks of this:

- [ ] finding any images we can hunt down
- [ ] reviewing placeholder image handling with @austinhernandez
- [ ] making the "all partners" list at the bottom pull from a separate yml file
- [ ] creating a list of all the partners we want to show up there
- [ ] fine-tuning text styling for the intro text at the top of the page

[2017-02-24 00:04] coreycaitlin commented on #2299
This is (wonderfully) done and has found a home in the research branch: https://github.com/18F/18f.gsa.gov/blob/research/research/research-plan-template.md

Thanks @acolter 🎉

[2017-02-24 00:04] #2299 closed

[2017-02-24 21:57] #2130 closed

[2017-02-24 23:49] coreycaitlin commented on #1908
For the position pages....

- [ ] need some kind of breadcrumb or link back to `join` page
- [ ] need a way to include published roles (if their expiration dates are in the future)

[2017-02-27 18:13] coreycaitlin opened #2327 "What we deliver: Agencies list"
At the bottom of the "What we deliver" page, we'd like to list all the agencies we've worked with.

- This will need to be a curated list ([started processing here](https://docs.google.com/spreadsheets/d/1FZJvf2e8GdRlLp3zI-xEN2Y9ai0w2S6URStW2MrBCLE/edit); limited access)
- It should probably be stored in a `yml` file for ease of maintenance
- We have an open question about how to organize and de-d

[2017-02-27 18:47] coreycaitlin commented on #2300
Yep, that was the idea! The method cards team has found that people really want to know more about how individual methods fit together on projects, and it seemed like it might be useful to include on these pages.

The big questions to explore include:

- First, of course: which methods were used on each project, and are they identifiable (by someone who worked on the project, probably)?
- If we li

[2017-02-27 19:07] coreycaitlin commented on #2154
Closing this out for now — noted in the wiki here: https://github.com/18F/18f.gsa.gov/wiki/What-we-would-like-to-do-someday/

[2017-02-27 19:07] #2154 closed

[2017-02-27 19:09] coreycaitlin commented on #2300
Closing for now — [noted in the wiki](https://github.com/18F/18f.gsa.gov/wiki/What-we-would-like-to-do-someday) that this can be reopened if research shows it would be valuable for site users.

[2017-02-27 19:10] #2300 closed

[2017-02-27 22:47] awfrancisco opened #2330 "Content: Project intro for U.S. Web Design Standards"
We need content for the project-tag landing page about this project.

## This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [x] Content is reviewed by Will Sullivan

## Source content
[Blog posts](https://18f.gsa.gov/tags/web-design-standards/)

[2017-02-28 18:18] gemfarmer opened #2331 "Remove unused images"
Remove images that aren't being used and will unlikely be used in the future.

[2017-02-28 18:21] gemfarmer opened #2332 "Remaining What we deliver work"
Spillover from #2324

Remaining tasks:
- [x] Fix spacing on the top of the page
- [x] Fix SVGs
- [x] Fix ordering by assigning a weight to showcased projects. The idea here is that projects will be given a higher weight number. This will ensure that we don't have to update a ton of files

[2017-02-28 19:46] kategarklavs commented on #2203
An update: Just incorporated @elainekamlley's material into the summary — this should be ready for Kara's review.

cc @coreycaitlin and @awfrancisco

[2017-02-28 19:46] joe-watkins opened #2333 "18f.gov Styleguide is down"
## Expected Behavior
Visiting https://pages.18f.gov will work.

## Actual Behavior
Visiting https://pages.18f.gov results in "The request could not be satisfied." error.

## Steps to reproduce the behavior
- Visit https://pages.18f.gov in any web browser

## This is issue is done when:
- https://pages.18f.gov works :)

[2017-02-28 19:51] gboone commented on #2333
Thanks, @joe-watkins This is related to problems with Amazon S3. Unfortunately we will have to wait for S3 to get healthy again before pages.18f.gov is again available.

Closing this issue since it is not related to 18f.gsa.gov. If you'd like to reopen with [18F/pages](https://github.com/18f/pages), you could but my understanding is that it's not something we have a ton of control over at the mome

[2017-02-28 19:51] #2333 closed

[2017-02-28 21:35] coreycaitlin commented on #487
Is this good to close, @gemfarmer?

[2017-02-28 22:27] gemfarmer opened #2335 "Join 18F page architecture"
Spillover from #1908

- [x] Break "open positions" into its own collection
- [x] Figure out how to handle the top of the subpages, with some combination of the `title`, `position_title`, and `lead` attributes
- [x] Way to get back to the main Join page. Maybe a breadcrumb?
- [x] Navigation `permalink` to work without full navigation path. If starts with a hash (`#`), append beginning of path
- [x]

[2017-02-28 22:31] #2315 closed

[2017-02-28 22:31] #487 closed

[2017-02-28 22:32] #2194 closed

[2017-02-28 22:32] #2332 closed

[2017-03-01 18:12] kategarklavs commented on #2203
@CaliforniaKara made some final edits (and many thanks for those edits!) — @coreycaitlin and @awfrancisco, we should be all set 😎

[2017-03-01 22:48] coreycaitlin commented on #1908
The only thing left is getting the final go-ahead here, so I'm closing this out!

[2017-03-01 22:48] #1908 closed

[2017-03-01 22:50] coreycaitlin commented on #2261
This is done with #2287

[2017-03-01 22:50] #2261 closed

[2017-03-01 22:51] #2335 closed

[2017-03-01 22:53] #2290 closed

[2017-03-01 22:54] coreycaitlin commented on #2307
Next step: turn this into documentation!

[2017-03-02 18:44] gemfarmer commented on #2244
@coreycaitlin correct. `/project` is no longer an issue.

FOr `/author/` or `/authors/` (maybe rename it?), I think a list would be great. We could even borrow the card style template from `What we deliver` and have images for authors associated with their most recent blog entry title.

[2017-03-02 18:47] gemfarmer commented on #2327
This looks great. I can start implementing this with the list in that spreadsheet and we can edit it again once the list is _finalized_

[2017-03-02 23:05] coreycaitlin opened #2340 "Join 18F redirects"
`join.18f.gov` currently redirects to `https://pages.18f.gov/joining-18f/`.

BOTH of those URLs should now go to `https://18f.gsa.gov/join/`.

[2017-03-02 23:06] coreycaitlin opened #2341 "More project pages"

[2017-03-02 23:19] coreycaitlin commented on #1951
Closing for now, but [noted in the wiki here](https://github.com/18F/18f.gsa.gov/wiki/What-we-would-like-to-do-someday#transparency-page-or-section

[2017-03-02 23:19] #1951 closed

[2017-03-02 23:24] #2331 closed

[2017-03-02 23:28] coreycaitlin opened #2343 "Housekeeping and documentation"

[2017-03-03 01:26] coreycaitlin commented on #2292
[Now posted here](https://github.com/18F/18f.gsa.gov/blob/research/research/5-sprint-especialesker/especialesker-research-synthesis.md)

[2017-03-03 01:26] #2292 closed

[2017-03-03 16:21] gemfarmer commented on #2242
Started a conversation about potential user needs on [slack](https://gsa-tts.slack.com/archives/beta-18f-site/p1488554360002607)

Also [Austin's sketch styleguide](https://projects.invisionapp.com/share/3X9J87M4V#/screens/209057303) for reference

[2017-03-06 18:44] gemfarmer commented on #2242
- Add code blocks that are the language or syntax that we would use in _actual_ implementation (html, liquid, etc.). For components in which liquid is the preferred implementation, show that, but also the html that it evaluates to.
- Expand the width of the component layout

[2017-03-06 19:02] gemfarmer commented on #2242
Primary things to focus on
- [ ] Start to add a `stylguide/core/` page to flesh out Austin's sketch guid **@elainekamlley**
- [ ] Create a new layout and documentation structure/pattern **@gemfarmer**

[2017-03-06 19:57] awfrancisco commented on #2068
@acolter Is the next step for this to be reviewed by the cloud.gov team?

[2017-03-06 20:08] acolter commented on #2068
Yes, they should look at the rewrite.

[2017-03-06 21:16] gemfarmer opened #2344 "Add print stylesheet"
## Expected Behavior
When I print the site, I expect it to look good on the piece of paper that comes out of the printer.

## Actual Behavior
Many of the interactive components of the site are still there. These should be hidden, and the site should be optimized for B&W in a print layout

## Resources
- https://github.com/BafS/Gutenberg
- https://www.smashingmagazine.com/2011/11/how-to-set-up-a-pr

[2017-03-06 21:52] awfrancisco commented on #2330
[Draft here](https://docs.google.com/document/d/1uK0NlB9V0AqJye8gprelzDZ5nyBGs0oomtfV7sicrJs/edit)

[2017-03-06 21:52] awfrancisco commented on #2330
@gboone can you give the draft above a review?

[2017-03-08 15:28] awfrancisco opened #2351 "Keep eye out for move from pages to <site>.18f.gov"
## Expected Behavior
Links to pages will work

## Actual Behavior
When the shift happens, many links on the site will break including in blog posts and multiple main site pages.

## This is issue is done when:
- [ ] Scanned the site for pages.18f.gov links
- [ ] Replace with new <site>.18f.gov links

[2017-03-09 06:18] wslack commented on #2351
I expect we'll have a simple redirect in place so that links don't break, fwiw.

[2017-03-09 06:20] wslack commented on #2340
PR to https://github.com/18F/federalist-redirects/blob/master/nginx.conf  - which, contrary to the name, isn't actually a core part of Federalist.

[2017-03-14 15:03] awfrancisco commented on #2203
@elainekamlley This is ready for conversion to markdown and publishing.

[2017-03-14 15:24] awfrancisco commented on #2249
@elainekamlley this is ready to be markdowned and published

[2017-03-14 17:40] gemfarmer commented on #2327
Closed with #2348

[2017-03-14 17:40] #2327 closed

[2017-03-14 18:38] coreycaitlin opened #2355 "Join 18F: Find application form"
We should make sure we know where the application form currently lives, and put a link in the `open-positions` example file so it's easy to use next time there's an open position.

[2017-03-14 18:58] coreycaitlin commented on #2355
It's here: https://pages.18f.gov/joining-18f/pages/apply.html

This should probably get pulled into this site? Or something?

[2017-03-14 20:49] fureigh commented on #2355
Yep. @hestherchang has more info on the upcoming bout of hiring (and thus on timing).

[2017-03-14 20:55] fureigh commented on #2355
Technical suggestion: best to make an include file for the application link so you can just include it wherever needed and, when it inevitably changes, change it in only one place.

[2017-03-14 21:23] awfrancisco commented on #2068
@elainekamlley this is also ready for production

[2017-03-15 17:14] jenniferthibault commented on #2242
Thanks so much @elainekamlley & @gemfarmer for all of your incredible work getting this up to speed so quickly, and for the opportunity to provide feedback.

I tried to focus on tweaks that:
1. clarified and corrected visual guidance on existing elements in order to make them most usable now
2. would make this guide feel consistent with other UI documentation
3. keep the documentation open-ended t

[2017-03-15 19:04] gemfarmer commented on #2242
Thank you so much for the feedback, @jenniferthibault !

I really don't see much of an objection to any of those points. @elainekamlley and I can keep working on this and get back to you with a v2!

[2017-03-16 15:04] gemfarmer opened #2362 "Card link bug"
## Expected Behavior
Ctrl + Clicking on a card on `/What we deliver/` goes to the link in the same tab

## Actual Behavior
Ctrl + Clicking on a card should open a new tab with that link, but keep the user on the same page. This is because there isn't an `<a>` tag around the card, but an `onclick` handler

## Steps to reproduce the behavior
- [x] [Create an event handler attached to the window and

[2017-03-16 16:20] awfrancisco commented on #2022
@elainekamlley ready for markdown and publishing

[2017-03-20 16:07] awfrancisco commented on #2022
Let's hold off on this one for now.

[2017-03-20 16:10] awfrancisco commented on #2269
[Draft content here](https://docs.google.com/document/d/1VEv6rqWEtmiAo7r-gv8kaWfchuiiM6RD_myz0hgv9Kg/edit). Waiting on review by additional members of the micro-purchase team.

[2017-03-20 17:04] gemfarmer commented on #2362
Done with #2363

[2017-03-20 17:04] #2362 closed

[2017-03-20 17:59] awfrancisco opened #2367 "Add summary of Partnership Playbook to contact page"
As part of the goal of better informing potential partners of what it's like to work with 18F, we should add a summary of some pages in the [partnership playbook](https://pages.18f.gov/partnership-playbook/) to the [contact us page](https://18f.gsa.gov/contact/). This is related to #2056, but a smaller chunk of work. This is part of an onion strategy of presenting information in layers that a pers

[2017-03-21 16:38] gemfarmer commented on #2344
Closed with #2364

[2017-03-21 16:38] #2344 closed

[2017-03-22 16:31] gemfarmer opened #2370 "Techical notes from building the styleguide"
While creating documentation for the styleguide, I have come across several technical items that should probably be addressed:

* [ ] Embeds:
  * [ ] There are a few oembeds that aren't working, but are not private. These should be investigated.
  * [ ] Consider removing all instances where the deprecated `embed` filter is applied. _**we should probably just keep these in place**_
  * [ ] Add more

[2017-03-24 20:48] gemfarmer commented on #1796
This is currently fixed!

[2017-03-24 20:48] #1796 closed

[2017-03-24 20:50] gemfarmer commented on #2161
[Current tags list](https://github.com/18F/18f.gsa.gov/blob/master/tests/schema/tags.yml)

[2017-03-24 21:14] gemfarmer commented on #2236
Update on where this is at:

I few weeks ago I had submitted a request to GSA IT to get [a google script](https://script.google.com/a/gsa.gov/d/1zdXIbImhgIQajZCA8zBOaYK4zou8wfS0VHcZ9kOrDvG9StrZXAhCmMSx/edit?usp=drive_web) approved for usage.

I thought that getting it approved would mean that it was available as an add-on, but it turns out that approval just means that we won't get in trouble, not

[2017-03-27 19:27] gemfarmer commented on #2370
After reviewing the navigation, it looks like most of the navigation complexity is in the subnav. @elainekamlley and I have put together some next steps to work on:

- Look at `includes/navigation/subnav.html`
  - refactor it so that it only goes 1 level deep
  - avoid using custom filters to determine the active state (`usa-active`)
- in `includes/navigation.html`, reduce complexity of subnav so

[2017-03-27 23:24] gboone commented on #2307
Does this seem like the type of thing we would put in the styleguide? I can see arguments either way.

[2017-03-27 23:25] gboone commented on #2355
@gemfarmer should we close this issue since the talent team has moved to a Google Form for this?

[2017-03-28 19:59] gemfarmer commented on #2340
**This is complete now that [this PR was merged](https://github.com/18F/federalist-redirects/pull/3)**

This updates a few redirects:
* [join.18f.gov](https://join.18f.gov/) --> [18f.gsa.gov/join/](https://18f.gsa.gov/join/)
* [pages.18f.gov/joining-18f/](https://pages.18f.gov/joining-18f/) --> [18f.gsa.gov/join/](https://18f.gsa.gov/join/)
*  [pages.18f.gov/intake/](https://pages.18f.gov/intake/)

[2017-03-28 19:59] #2340 closed

[2017-03-28 20:17] gemfarmer commented on #2370
Cases:

* When we are on **desktop**
  - **hompage**, **none** the links are highlighted
  - **[/what-we-deliver/](https://18f.gsa.gov/what-we-deliver/)**, then **/what-we-deliver/** is highlighted
  - **[a project subpage](https://18f.gsa.gov/what-we-deliver/college-scorecard/)**, then **/what-we-deliver/** is highlighted
  - **[/what-we-deliver/blog/](https://18f.gsa.gov/what-we-deliver/blog/)**

[2017-03-29 00:07] jenniferthibault commented on #2370
Really really like how this shaped up! I have a mishmash of thoughts, observations, and questions and would love to discuss any/all of them together!

______________

A couple of things were misbehaving/seemed like they might be occupying dimensions in space set by their old layouts:
- [ ] Code/Documentation accordions in typography section should be full-width to match other sections. They're cur

[2017-03-29 15:08] gemfarmer commented on #2370
@jenniferthibault thank you, thank you, thank you again for the critique!

- **Accordions**: yes, these definitely need to be wrangled!
- **Structure/children**: I was hesitating from giving the drawer child items because of complicating things, but I think you are right that it is more confusing the way it is now
- **Other**: Typos ✅. I will pluralize all components for consistency ✅
- **Style qu

[2017-03-29 15:17] jenniferthibault commented on #2370
On the line-length limits for the 18F site, if there isn't already a class controlling them under the hood I think the way the layouts use the grid often impose de-facto widths right around the 75 character mark. So maybe no changes needed to the site, just to the style guide!

Here are two examples of what I mean by layouts that comply with good line-width measures:
<img width="1280" alt="screen

[2017-03-29 15:27] gemfarmer commented on #2370
I think I'll go ahead with this for now, although in the long run it does seem a counter-productive to invent an entirely new character max (`content-focus`) . I might be wrong here, but it seems like it would be better to set a max-width and design layouts to make that decision, instead of the other way around.

For now, I can mention that we:
- are using the `content-focus` class to cap the widt

[2017-03-29 21:47] gemfarmer opened #2377 "Update gems relating to nokogiri vulnerability"
There is a [vulnerability in nokogiri](https://github.com/sparklemotion/nokogiri/issues/1615) and we should update gems that use nokogiri as a dependency. The next safe version is 1.7. None of our dependencies have been updated to this version yet, so it isn't worth doing anything immediately, especially since these dependencies are used for testing or static generation.

### [More about alert >](

[2017-03-30 21:00] gemfarmer commented on #2370
@jenniferthibault the changes are up and will available at https://federalist.fr.cloud.gov/preview/18f/18f.gsa.gov/dev/styleguide/ in about 20 mins!

[2017-03-31 20:42] gemfarmer commented on #2242
Done as of #2365

[2017-03-31 20:42] #2242 closed

[2017-04-01 04:17] porta-antiporta opened #2381 "Team API should be removed from https://18f.gsa.gov/developer/"
## Expected Behavior

## Actual Behavior
404

## Steps to reproduce the behavior
- [1 ] Open https://18f.gsa.gov/developer/
- [2 ] Click on `Team API` hyperlink
- [ 3] Receive 404

## This is issue is done when:
- [ ]
- [ ]
- [ ]

[2017-04-03 14:08] jenniferthibault opened #2383 "Style guide review"
👋 🎉 @gemfarmer @elainekamlley  I was finally able to take a peek at the latest! I'm looking at mostly small things that would detract from the review experience. Once we're able to take care of these I think it would be in a good place to bring to other design folks (Amber, Austin + TBD) for a round of feedback.

Let me know if you want to pair up or have questions on any of this!

## Side nav
- [

[2017-04-03 15:31] gemfarmer commented on #2383
@jenniferthibault as always, this is amazing! 🤗

These changes all seem very reasonable. When do you think we should plan on scheduling a design review?

For my own purposes, a quick list of changes:
- [ ] Sidnav
  - [ ] landing, "overview" link
  - [ ] active state
  - [ ] ugly gap between blue active indicator
  - [ ] unequal border weight on accordion vs non-accordion
- [ ] h3 padding issue
- [

[2017-04-03 19:18] gboone opened #2386 "Team API 🚫"
Find, remove, or repair any scripts or site components that rely on the Team API. It's deprecated and will return 404 if we attempt to use it.

related: #2382

[2017-04-03 19:19] gboone commented on #2381
This closed with #2382. Thanks @porta-antiporta

[2017-04-03 19:19] #2381 closed

[2017-04-03 20:23] gboone commented on #2386
These appear to be the only non-blog files referencing the API:
- [ ] https://github.com/18F/18f.gsa.gov/blob/master/api-endpoints
- [ ] https://github.com/18F/18f.gsa.gov/blob/f26d5d495e9cc9f31f7da044841d96a2b0859735/_data/team.json

These blog posts make mention of it, the links should be deactivated or removed:
- [ ] https://github.com/18F/18f.gsa.gov/blob/5cdfa563aa4ed7e568cbc7a0b6f86c9cc672c8

[2017-04-03 22:45] jenniferthibault commented on #2383
@gemfarmer I'd say as soon as these little buggies are squashed and we have a branch that can show that state, I think it's ready to show! (What I'm trying to say is that merging to master & having it on production isn't a blocker, but having it in one place is.) I think it would be good to get these taken care of before the review so that we can get a "clean" view for feedback on things that aren

[2017-04-06 15:38] gemfarmer commented on #2383
@jenniferthibault I made some changes in PR #2388. Check 'em out!

#### tldr; Basically everything and anything, but with an emphasis on who the user is, and what kind of structure the guide should take to help them on their way.

As for feedback, those are all good questions. What I'm most concerned with is having a clearly defined audience and making sure that the guide caters to those users. Ri

[2017-04-06 16:45] gemfarmer commented on #2236
We are currently pivoting to tackle this issue in a few different ways:
- [ ] @gboone is going to document the best practices that are currently used for converting gdocs --> odt --> markdown. GIFs ftw!
- [ ] I will look into making a bookmarklet to do the same thing
- [ ] Greg and I will continue working with GSA IT to figure out how we can get the [script we wrote](https://github.com/18F/gdocs2m

[2017-04-06 16:51] gemfarmer commented on #2307
Great idea! Could be added to https://18f.gsa.gov/styleguide/images in a new section as "How to add images" or "Adding images" #2388

[2017-04-06 16:58] gemfarmer commented on #1800
Maybe we could consider adding a comment to the PR template that looks like:

- [ ] All images optimized **_*--> [learn more]() about how to optimize images* <--_**

With the link going to the style guide images section. I think this could be a lightweight way of reminding us to optimize images.

[2017-04-07 15:53] awfrancisco commented on #2330
@elainekamlley this is ready to be converted and posted

[2017-04-11 16:32] gemfarmer commented on #2383
[Slack conversation about style guide review](https://gsa-tts.slack.com/archives/C0MKZ8E9H/p1491926816194686)

**Summary**. We are going to break up the review process into a few steps:
1. **v5** – User interview outreach team
2. **v6* *– User interview folks from guides and subdomains
3. **v7* *– Design review

[2017-04-11 16:42] jenniferthibault commented on #2383
Awesome! Since the style & design feedback points above were integrated by https://github.com/18F/18f.gsa.gov/issues/2388 , you do want to close this issue out and start a new one for research planning?

[2017-04-11 17:21] gemfarmer opened #2391 "Style guide research plan"
Per [this issue comment](https://github.com/18F/18f.gsa.gov/issues/2383#issuecomment-293320068), we are going to conduct a series of research on how to better improve the site style guide

[Slack conversation about style guide review](https://gsa-tts.slack.com/archives/C0MKZ8E9H/p1491926816194686)

To summarize, we are going to break up the review process into a few steps:
1. **v5** – User intervi

[2017-04-11 17:23] gemfarmer commented on #2383
Good idea. Closing with #2391

[2017-04-11 17:23] #2383 closed

[2017-04-12 22:02] gemfarmer commented on #2391
To do items for style guide:
- document project properties [slack convo](https://gsa-tts.slack.com/archives/C0MKZ8E9H/p1492032173024116)

[2017-04-12 22:33] awfrancisco opened #2394 "Content: Project intro for login.gov"
We need content for the project-tag landing page about login.gov.

This is issue is done when:

- [x] Content is drafted
- [x] Content is reviewed and revised with outreach team
- [x] Content is reviewed by login.gov team

[Draft blog post](https://docs.google.com/document/d/1ASqTnCl7PnIhMo8mOX9de8nfvOtv32vwMwa7r6dI_-Y/edit) (limited access)
[Comms plan](https://docs.google.com/document/d/1iWv6FZI

[2017-04-13 19:08] awfrancisco commented on #2394
[Working draft](https://docs.google.com/document/d/1mUP9VvTIOkov6bhIshN393V5SYZa0U2XgXNpfeT7VTI/edit)

[2017-04-14 15:03] awfrancisco commented on #2394
@gboone can you give this an edit?

[2017-04-14 21:55] awfrancisco opened #2395 "Images for project page tiles"
## Need images

- cloud.gov
  - logo
- Military OneSource
  - military family
- Labor Wage and Hour
- Micro-purchase
- Treasury new ten
  - cash money
- Web Design Standards
  - [firework and flag](https://standards.usa.gov/)

## Icons that would be good to replace

- Agile BPA
- CALC
  - graph from homepage
  - image from slide 5, 6, or 9 in [this deck](https://docs.google.com/presentation/d/1ad7

[2017-04-18 14:11] elainekamlley commented on #2391
Research plan: https://docs.google.com/a/gsa.gov/document/d/1TXfhWX0LMTz4CBwFU3l3OU5G_knSGTyJ9vPCQFXE-u4/edit?usp=sharing

[2017-04-18 14:19] gemfarmer commented on #2236
cc @toolness @jeremyzilar

[2017-04-19 15:43] gboone commented on #2236
Work in progress [on the best practices wiki page](https://github.com/18F/18f.gsa.gov/wiki/Publishing-a-blog-post).

[2017-04-24 16:55] gemfarmer opened #2404 "Suggestions for how to improve the site"
After doing development work on the site for several months, I have put together a series of suggestions for potential ways the site could be improved

- [x] Improve the search functionality of the site
- [ ] Update/streamline plugins
  - Replace `_plugins/team.rb` with a complex include.
  - remove `find_collection` filter
- [ ] Layouts
  - Rename layouts to be less confusing
- [ ] How we work

[2017-05-01 15:02] gemfarmer opened #2410 "User research synthesis"
Taken from [this user research](https://drive.google.com/drive/folders/0B8kn3cuJUwEkQ3EwenZtTkM5Mjg):

**Done**:
- [x] Buttons:
  - [x] Remove “anatomy of a button”

**Together**:
- [ ] General:
  - [ ] Documentation should include gotchas when relevant. Make sure that we fully document all the components that someone needs to make something work
  - [ ] Consider allowing accordions to both expand

[2017-05-01 15:56] elainekamlley commented on #2410
Thanks @gemfarmer for putting this together!

[2017-05-15 15:27] elainekamlley commented on #2395
Working through these and will check off when they are done.
## Need image
- [x] cloud.gov
- [ ] Military OneSource
- [ ] Labor Wage and Hour
- [ ] Micro-purchase
- [x] Treasury new ten
- [ ] Web Design Standards

## Icons that would be good to replace
- [ ] Agile BPA
- [ ] CALC
- [ ] eRegs
- [ ] C2
- [ ] betaFEC

[2017-05-15 18:14] gemfarmer commented on #2377
I made a PR to `html-proofer` a bit ago to address this on their end and it [looks like they have upgraded to a safe version](https://github.com/gjtorikian/html-proofer/pull/414) since

[2017-05-15 18:41] gemfarmer commented on #2377
- JK-P

Closing...

[2017-05-15 18:45] commit-dkp commented on #2377
Reopening because the gems still need to be updated to close the vulnerability.